<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
          margin: 0;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <h1>Toolbar Inline Two Instances</h1>

    <p>You can have more than one editor instance on the same page. However, this will not affect the editing experience. You can even drag and drop images from one editor to the other.</p>

    <div id='edit' style="margin-top: 30px;">
      <img class="fr-fir fr-dii" src="../../img/photo1.jpg" alt="Old Clock" width="150"/>
      <h3>This is the first editor instance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis diam in odio iaculis blandit. Nunc eu mauris sit amet purus viverra gravida ut a dui.</p>
    </div>

    <div id="edit2" style="margin-top: 10px;">
      <img class="fr-fir fr-dii" src="../../img/photo1.jpg" alt="Old Clock" width="150"/>
      <h3>This is the second editor instance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis diam in odio iaculis blandit. Nunc eu mauris sit amet purus viverra gravida ut a dui.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit, #edit2').froalaEditor({
        toolbarInline: true,
        toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'],
        toolbarButtonsXS: null,
        toolbarButtonsSM: null,
        toolbarButtonsMD: null
      })
    });
  </script>
</body>
</html>
