<footer>
  <div class="container">
    <div class="rst-footerline"></div>
    <div class="row rst-footer-content">
      <div class="col-sm-2">
        <span class="rst-menu-title">Menu</span>
        <ul>
          <li><a href="/newsup/author">About</a></li>
          <li><a href="/newsup/media">Multimedia</a></li>
          <li><a href="/newsup/shortcodes">Shortcodes</a></li>
          <li><a href="/newsup/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">Categories</span>
        <ul>
          <li><a href="#">World</a></li>
          <li><a href="#">Sport</a></li>
          <li><a href="#">Life</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Tech</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">Sport</span>
        <ul>
          <li><a href="#">Football</a></li>
          <li><a href="#">Hockey</a></li>
          <li><a href="#">Tennis</a></li>
          <li><a href="#">Basketball</a></li>
          <li><a href="#">Baseball</a></li>
          <li><a href="#">Golf</a></li>
          <li><a href="#">Swimming</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">Life</span>
        <ul>
          <li><a href="#">Personal </a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Happiness</a></li>
          <li><a href="#">Hobbies</a></li>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Pets</a></li>
          <li><a href="#">Suffering</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">Food</span>
        <ul>
          <li><a href="#">Dairy</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Grains</a></li>
          <li><a href="#">Meat</a></li>
          <li><a href="#">Confections</a></li>
          <li><a href="#">Vegetables</a></li>
          <li><a href="#">Water</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">Science</span>
        <ul>
          <li><a href="#">History of science</a></li>
          <li><a href="#">Instruments</a></li>
          <li><a href="#">Natural history</a></li>
          <li><a href="#">Philosophy</a></li>
          <li><a href="#">Terminology</a></li>
          <li><a href="#">Universe</a></li>
          <li><a href="#">Images</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="rst-footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 rst-copyright">
          <p>© 2015 Sportis. All rights reserved.</p>
        </div>
        <div class="col-xs-6 rst-design">
          <p>Designed by Gvimm <a href="#"><i class="fa fa-angle-up"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
