<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url('newsup/js/jquery.1.11.1.js') }}"></script>

<!-- Bootstrap Js Compiled Plugins -->
<script type="text/javascript" src="{{ static_url('newsup/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('newsup/js/bootstrap-tagsinput.js') }}"></script>
<script type="text/javascript" src="{{ static_url('newsup/js/jqBootstrapValidation.js') }}"></script>

<!-- WoW Js -->
<script type="text/javascript" src="{{ static_url('newsup/js/wow.min.js') }}"></script>

<!-- Add Fancybox -->
<script type="text/javascript" src="{{ static_url('newsup/js/fancybox/jquery.fancybox.js?v=2.1.5') }}"></script>
<script type="text/javascript" src="{{ static_url('newsup/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6') }}"></script>

<!-- Owl Slider Js -->
<script type="text/javascript" src="{{ static_url('newsup/js/owl.carousel.js') }}"></script>

<!-- Weather Js -->
<script type="text/javascript" src="{{ static_url('newsup/js/jquery.simpleWeather.js') }}"></script>

<!-- Custome Selectbox Js -->
<script type="text/javascript" src="{{ static_url('newsup/js/jquery.rs.selectbox.js') }}"></script>

<script type="text/javascript" src="{{ static_url('newsup/js/main.js') }}"></script>
