<div class="rst-header-socialbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="rst-socialbar-menu">
          <ul>
            <li><a href="/ui/newsup/author">about</a></li>
            <li><a href="/ui/newsup/media">multimedia</a></li>
            <li><a href="/ui/newsup/shortcodes">shortcodes</a></li>
            <li><a href="/ui/newsup/contact">contact</a></li>
            <li>
              <a href="#">page template</a>
              <ul>
                <li><a href="/ui/newsup/account">account</a></li>
                <li><a href="/ui/newsup/author">author</a></li>
                <li><a href="/ui/newsup/item-detail">detail</a></li>
                <li><a href="/ui/newsup/new">new</a></li>
                <li><a href="/ui/newsup/register">register</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <nav class="rst-socialbar-social">
          <ul>
            <li>
              <form action="#" class="rst-search">
                <input type="text" value="Search Words" onblur="if (this.value == '') {this.value = 'Search Words';}" onclick=" if (this.value == 'Search Words') {this.value = '';} " name="s">
                <button class="sb"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
            <li>
              <div class="rst-loginform">
                <a href="#">LOGIN</a>
                <div class="div">
                  <form action="#" class="rst-login">
                    <input type="text" value="Email" onblur="if (this.value == '') {this.value = 'Email';}" onclick=" if (this.value == 'Email') {this.value = '';}" />
                    <input type="text" value="Password" onblur="if (this.value == '') {this.value = 'Password';}" onclick=" if (this.value == 'Password') {this.value = '';}" />
                    <input type="submit" value="LOGIN" />
                    <p>Don't have a account? <a href="/ui/newsup/register">Sign Up</a></p>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
