<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewsUp - News, Magazine and Article Directory Theme</title>
    <meta name="description" content="NewsUp is a multi-page oriented template perfect for NewsUp - News, Magazine, Blogging and Article Directory.">
    <meta name="keywords" content="news theme, magazine, blog, article directory, article submission, writer, author, publication, html, bootstrap">
    <meta name="author" content="Sempy Themes">

    {% module Template("newsup/_css.html") %}

  </head>
  <body>

	<!--- Wrapper -->
	<section id="wrapper" class="clearfix">

		<!--- Header -->
		<header>
      <!-- social bar -->
      {% module Template("newsup/_social_bar.html") %}
      <!-- end social bar -->
			<!-- Menu bar -->
      {% module Template("newsup/_menu_bar.html") %}
      <!-- end Menu bar -->
		</header>
		<!--- End Header -->

		<!-- Home page Main Slider -->
		<section id="rst-home-mainslider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-mainslider owl-carousel">
							<div class="rst-mainslide">
								<img src="{{ static_url('newsup/images/slider/main.png') }}" alt="" />
								<div class="rst-boxinfo">
									<a href="#"><span>sport</span></a>
									<p><a href="#">What have you done to make 2015 your best year ever?</a></p>
									<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								</div>
							</div>
							<div class="rst-mainslide">
								<img src="{{ static_url('newsup/images/slider/main.png') }}" alt="" />
								<div class="rst-boxinfo">
									<a href="#"><span>sport</span></a>
									<p><a href="#">What have you done to make 2015 your best year ever?</a></p>
									<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								</div>
							</div>
						</div>
						<!-- end slider -->
						<div class="rst-mainslider-posts">
							 <div class="rst-posttype">
								<img src="{{ static_url('newsup/images/slider/category/hc01.jpg') }}" alt="" />
								<div class="rst-boxinfo">
									<a href="#"><span>food</span></a>
									<p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
									<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								</div>
							 </div>
							 <div class="rst-posttype">
								<img src="{{ static_url('newsup/images/slider/category/hc02.jpg') }}" alt="" />
								<div class="rst-boxinfo">
									<a href="#"><span>life</span></a>
									<p><a href="#">Sed ut auctor felis. Faucibus semper ex et dapibus.</a></p>
									<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								</div>
							 </div>
							 <div class="clear"></div>
						</div>
						<!-- end posts -->
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Main Slider -->

		<!-- Pageline -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Headlines</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end pageline -->

		<!-- Section Popular -->
		<section id="rst-popular">
			<div class="container">
				<div class="row">
					<div class="rst-section-title">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Popular</h4>
								</div>
							</div>
						</div>
					</div>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/po01.jpg') }}" alt="" /></a>
							<a class="rst-postpic-cat" href="#"><span>world</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/po02.jpg') }}" alt="" /></a>
							<a class="rst-postpic-cat" href="#"><span>world</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/po03.jpg') }}" alt="" /></a>
							<a class="rst-postpic-cat" href="#"><span>world</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/po04.jpg') }}" alt="" /></a>
							<a class="rst-postpic-cat" href="#"><span>world</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
				</div>
			</div>
		</section>
		<!-- End Section Popular -->

		<!-- Section Life -->
		<section id="rst-life">
			<div class="container">
				<div class="row">
					<div class="rst-section-title rst-section-title-box">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Life</h4>
									<div class="rst-section-title-short">
										<a href="#"><span>View all</span></a>
										<div class="rst-shortmenu">
											<a href="#"><i class="fa fa-bars"></i></a>
											<ul>
												<li><a href="#">Sugar</a></li>
												<li><a href="#">Chili</a></li>
												<li><a href="#">pepper</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<article class="col-sm-6 rst-leftpost">
						<div class="rst-specpost owl-carousel">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/li01.jpg') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/li01.jpg') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/li01.jpg') }}" alt="" /></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">What have you done to make 2015?</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
						</div>
					</article>
					<div class="col-sm-6 rst-rightpost">
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/li02.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/li03.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/li04.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/li05.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section Life -->

		<!-- Pageline -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Headlines</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end pageline -->


		<!-- Section Sport -->
		<section id="rst-sport">
			<div class="rst-section-title rst-section-title-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h4>Sport</h4>
							<div class="rst-section-title-short">
								<a href="#"><span>View all</span></a>
								<div class="rst-shortmenu">
									<a href="#"><i class="fa fa-bars"></i></a>
									<ul>
										<li><a href="#">Sugar</a></li>
										<li><a href="#">Chili</a></li>
										<li><a href="#">pepper</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<article class="col-sm-6 rst-leftpost">
						<div class="rst-specpost owl-carousel">
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp01.jpg') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp01.jpg') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp01.jpg') }}" alt="" /></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">What have you done to make 2015?</a></h6>
							<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
						</div>
					</article>
					<div class="col-sm-6 rst-rightpost">
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp02.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp03.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp04.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><img src="{{ static_url('newsup/images/slider/category/sp05.jpg') }}" alt="" /></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section Sport -->

		<!-- One minute for advertising -->
		<div class="rst-adv">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="#"><img src="{{ static_url('newsup/images/ad02.png') }}" alt="" /></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Section News and Hot -->
		<section id="rst-newsandhot">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="rst-section-title">
							<h4>News</h4>
						</div>
						<div class="rst-newsandhot-post">
							<div class="rst-newsandhot-post-content">
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new01.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new02.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new03.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new04.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new05.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><img src="{{ static_url('newsup/images/slider/category/new06.jpg') }}" alt="" /></a>
											<a href="#" class="rst-postpic-cat"><span>world</span></a>
										</div>
										<div class="rst-postinfo col-sm-6">
											<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
											<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
											<a href="#" class="rst-info-viewlink"><span>read more</span><i class="fa fa-comments"></i></a>
										</div>
									</div>
								</article>
							</div>
							<a href="#" class="rst-loadmore">Load more</a>
						</div>
					</div>
					<div class="col-sm-4">
						<aside class="widget widget_hot_news">
							<h3>hot</h3>
							<div class="rst-hotnews owl-carousel">
								<ul>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">Sport</a>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
								</ul>
							</div>
						</aside>
						<!-- end widget hot and news -->

						<aside class="widget widget_social">
							<h3>Social</h3>
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
								<b>15,000</b>
								<span>Fans</span>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
								<b>30,000</b>
								<span>Followers</span>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-rss"></i>
								<b>9,000</b>
								<span>Subscribers</span>
							</a>
						</aside>
						<!-- end widget social -->

						<aside class="widget widget_popular">
							<ul>
								<li>
									<a href="#">Popular</a>
									<ul>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol01.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol02.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol03.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol04.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Latest</a>
									<ul>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol02.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
										<li>
											<article>
												<div class="rst-postpic">
													<a href="#"><img src="{{ static_url('newsup/images/slider/category/pol03.jpg') }}" alt="" /></a>
												</div>
												<div class="rst-postinfo">
													<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
													<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
												</div>
											</article>
										</li>
									</ul>
								</li>
							</ul>
						</aside>
						<!-- end widget popular -->

						<aside class="widget widget_adv">
							<h3>Advertisement</h3>
							<a href="#"><img src="{{ static_url('newsup/images/ad01.png') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/ad01.png') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/ad01.png') }}" alt="" /></a>
							<a href="#"><img src="{{ static_url('newsup/images/ad01.png') }}" alt="" /></a>
							<div class="clear"></div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section News and Hot -->

		<!-- Pageline -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Headlines</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end pageline -->

		<!-- Section Multimedia -->
		<section id="rst-multimedia">
			<div class="rst-section-title rst-section-title-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h4>Multimedia</h4>
							<div class="rst-section-title-short">
								<a href="#"><span>View all</span></a>
								<div class="rst-shortmenu">
									<a href="#"><i class="fa fa-bars"></i></a>
									<ul>
										<li><a href="#">Sugar</a></li>
										<li><a href="#">Chili</a></li>
										<li><a href="#">pepper</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-mediagrid">
							<div class="div">
								<div class="rst-col rst-col-50">
									<div class="rst-postpic">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha01.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur. dolor sit amet, consectetur adipiscing.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="rst-col rst-col-25">
									<div class="rst-postpic rst-postvideo">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha02.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="rst-col rst-col-25">
									<div class="rst-postpic">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha03.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="div">
								<div class="rst-col rst-col-25">
									<div class="rst-postpic">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha04.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="rst-col rst-col-25">
									<div class="rst-postpic rst-postvideo">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha05.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="rst-col rst-col-50">
									<div class="rst-postpic">
										<a href="#"><img src="{{ static_url('newsup/images/slider/category/ha06.jpg') }}" alt="" /></a>
									</div>
									<div class="rst-postinfo">
										<a href="#"><span>Sport</span></a>
										<h6><a href="#">Lorem ipsum dolor sit amet consectetur. dolor sit amet, consectetur adipiscing.</a></h6>
										<time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section Multimedia -->

		<!-- Section Latest Comments -->
		<section id="rst-latestcomments">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-section-title rst-section-title-box">
							<h4>Latest Comment</h4>
						</div> <!-- end section title -->
						<div class="row commentlist owl-carousel">
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<img src="{{ static_url('newsup/images/slider/category/hm01.jpg') }}" alt="" />
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">John Doe</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minute ago</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<img src="{{ static_url('newsup/images/slider/category/hm02.jpg') }}" alt="" />
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">John Doe</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minute ago</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<img src="{{ static_url('newsup/images/slider/category/hm03.jpg') }}" alt="" />
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">John Doe</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minute ago</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<img src="{{ static_url('newsup/images/slider/category/hm02.jpg') }}" alt="" />
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">John Doe</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minute ago</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<img src="{{ static_url('newsup/images/slider/category/hm01.jpg') }}" alt="" />
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">John Doe</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minute ago</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section Latest Comments -->

		<!--- Footer -->
    {% module Template("newsup/_footer.html") %}
    <!--- End Footer -->

	</section><!--- End Wrapper -->

  {% module Template("newsup/_js.html") %}

  </body>
</html>
