<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
      }

      div#editor {
        width: 81%;
        margin: auto;
        text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Allowed / Denied Attributes</h1>
      <p>Using the <a href="https://www.froala.com/wysiwyg-editor/docs/options#pasteDeniedAttrs" title="pasteDeniedAttrs" target="_blank">pasteDeniedAttrs</a> option you can specify attributes that are removed when pasting something into the rich text editor. By default the removed attributes are <code>class</code>, <code>id</code>and <code>style</code></p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        pasteDeniedAttrs: ['class', 'id']
      })
    });
  </script>
</body>
</html>
