<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>积分</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta content="width = device-width,initial-scale=1.0,user-scalable=0" name='viewport'>
<link href="{{ static_url('mobile-taobao/css/reset.css') }}" rel="stylesheet">
<link href="{{ static_url('mobile-taobao/css/bonus.css') }}" rel="stylesheet">
</head>
<body style="background-color:#f9f9f9;">
<div class="main">
	<main>
		<header class="head">
			<span class="logo icons"></span>
			<div class="search-index">
				<a href="javascript:;">
					 我的积分
				</a>
			</div>
		</header>
		<div class="contain">
      <div class="bonus-top">
      </div>
      <div class="bonus-mid">
        <div class="item">
          <i class="icons"></i>
          <p>赚取积分</p>
        </div>
        <div class="item">
          <i class="icons"></i>
          <p>积分规则</p>
        </div>
        <div class="item">
          <i class="icons"></i>
          <p>积分提现</p>
        </div>
      </div>
      <section >
        <div class="title"><span>日常管理</span></div>
				<ul id="type">
					<li>
						<div class="icons"></div>
						<p>宠物</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>宠友</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>社区</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>收藏</p>
					</li>
				</ul>
			</section>
		</div>
	</main>
</div>
<script type="text/javascript" src="{{ static_url('mobile-taobao/js/common.js') }}"></script>
<!-- <script type="text/javascript" src="js/indexScript.js"></script> -->
</body>
</html>
