<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>某宝-news</title>
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
		<link href="{{ static_url('mobile-taobao/css/reset.css') }}" rel="stylesheet">
		<link href="{{ static_url('mobile-taobao/css/news.css') }}" rel="stylesheet">
</head>
<body>
	<div id="news" class="news">
		<!-- 顶部固定部分 -->
		<header class="fix clearfix">
			<a class="back fl" href="/ui/tbmobile/index"></a><!-- 返回按钮 -->
			<!-- <h1>淘宝头条</h1>页面标题 -->
			<img src="{{ static_url('mobile-taobao/img/newsList/toutiao.jpg') }}" alt="">
		</header>
		<!-- 主体部分 -->
		<div class="topLine">
			<!-- 直播 -->
			<div class="direct">
				<!-- <a href="javascript:;">
					<h3>SIZE直播|Curry3 实战测评</h3>
					<img src="img/newsList/zb_bg.png" />
					<p>实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评实战测评</p>
				</a> -->
			</div>
			<!-- news list -->
			<div class="list">
				<ul>
					<li>
						<!-- <a href="javascript:;">
							<div class="detail">
								<h3>学会这5个好习惯，加速瘦身</h3>

								<div>
									<span>杭州青年报</span>
									<span><i class="visit icons"></i>5955</span>
									<span><i class="good icons"></i>1233</span>
								</div>

							</div>
							<img src="img/newsList/6.png" height="150" width="230">
						</a> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var src = "{{ static_url('mobile-taobao/img/news/01.jpg') }}"
	</script>
	<script type="text/javascript" src="{{ static_url('mobile-taobao/data/newsList.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('mobile-taobao/js/common.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('mobile-taobao/js/newsScript.js') }}"></script>
</body>
</html>
