<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Examples</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta content="width = device-width,initial-scale=1.0,user-scalable=0" name='viewport'>
  <link href="{{ static_url('mobile-taobao/css/reset.css') }}" rel="stylesheet">
  <link href="{{ static_url('mobile-taobao/css/orders.css') }}" rel="stylesheet">
</head>
<body>
<div class="main">
	<main>
		<header class="head">
			<span class="logo icons"></span>
			<div class="search-index">
				<a href="javascript:;" id="goSearch">
					我的订单
				</a>
			</div>
		</header>
		<div class="contain" style="background-color:#f6f5f6;">
			<section class="order-title" style="background-color:#fff;">
				<ul>
					<li><span class="active">全部</span></li>
					<li><span>待收款</span></li>
					<li><span>待收货</span></li>
					<li><span>已完成</span></li>
				</ul>
			</section>
			<section class="main_content">
				<ul class="active">
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/index/items_09.png" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order02.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order03.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
				</ul>
        <ul>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order01.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order02.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order03.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
				</ul>
        <ul>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order01.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order02.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order03.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
				</ul>
        <ul>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order01.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order02.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
          <li>
              <div class="shop_information">
                  <span class="shop_logo"></span>
                  <span class="shop_name">联想旗舰店</span>
                  <span class="delete_box"></span>
              </div>
              <a href="detail.html#1"><div class="pro_information">
                  <div class="pro_img">
                      <img src="img/order03.jpg" alt="">
                  </div>
                  <div class="decription">
                      <span>东芝（TOSHIBA）商务U盘 USB3.0 32G 银色 尊闪Osumi EX2</span>
                  </div>
              </div></a>
              <div class="pay_price">实付款：<span>￥4999.99</span></div>
              <div class="finished_icon"><img src="img/orders/order_finished.png" alt=""></div>
          </li>
				</ul>
			</section>
		</div>
	</main>
</div>
<script type="text/javascript" src="{{ static_url('mobile-taobao/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('mobile-taobao/js/common.js') }}"></script>
<script type="text/javascript" src="{{ static_url('mobile-taobao/js/orders.js') }}"></script>
</body>
</html>
