<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta content="width = device-width,initial-scale=1.0,user-scalable=0" name='viewport'>
<link href="{{ static_url('mobile-taobao/css/reset.css') }}" rel="stylesheet">
<link href="{{ static_url('mobile-taobao/css/user.css') }}" rel="stylesheet">
</head>
<body style="background-color:#f9f9f9;">
<div class="main">
	<main>
		<header class="head">
			<span class="logo icons"></span>
			<div class="search-index">
				<a href="javascript:;">
					 个人中心
				</a>
			</div>
		</header>
		<div class="contain">
      <div class="user-base">
        <div class="user-top">
          <div class="user-top-pic">
            <img src="./img/icons/chongwu.png" alt="">
            <div class="c-no" style="display:inline-block;">
              <span>欧若拉</span>
              <i class="sex"></i>
              <i class="vip">lv2</i>
              <p style="margin: 0 0 0 0.5rem; color:#918e8e;">宠物号:<span style="font-size:14px;">11000544</span></p>
            </div>
          </div>
          <div class="user-top-wrap">
            <div class="item">
              <i class="mark"></i>
              <p>签到</p>
            </div>
            <div class="item" style="border-left: 1px solid #f8f8f7;border-right: 1px solid #f8f8f7;">
              <i class="chongwu"></i>
              <p>遛宠</p>
            </div>
            <div class="item">
              <i class="message"></i>
              <p>消息</p>
            </div>
          </div>
        </div>
        <div class="user-bottom">
          <div class="item">
            <p>0</p>
            <p>宠钻</p>
          </div>
          <div class="item">
            <p>65</p>
            <p>宠币</p>
          </div>
          <div class="item">
            <p>0</p>
            <p>优惠券</p>
          </div>
          <div class="item">
            <p>0</p>
            <p>礼物</p>
          </div>
        </div>
      </div>
      <section >
        <div class="title"><span>日常管理</span></div>
				<ul id="type">
					<li>
						<div class="icons"></div>
						<p>宠物</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>宠友</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>社区</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>收藏</p>
					</li>
				</ul>
			</section>
			<section >
        <div class="title"><span>商城购物</span></div>
				<ul id="type">
					<li>
						<div class="icons"></div>
						<p>购物车</p>
					</li>
					<li onclick='location.href = "/ui/tbmobile/orders"'>
						<div class="icons"></div>
						<p>购物清单</p>
					</li>
					<li onclick='location.href = "/ui/tbmobile/orders"'>
						<div class="icons"></div>
						<p>我的售后</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>收货地址</p>
					</li>
				</ul>
			</section>
      <section >
        <div class="title"><span>其他</span></div>
				<ul id="type">
					<li>
						<div class="icons"></div>
						<p>账户明细</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>个性装扮</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>设置</p>
					</li>
					<li>
						<div class="icons"></div>
						<p>意见反馈</p>
					</li>
				</ul>
			</section>
		</div>
	</main>
</div>
<script type="text/javascript" src="{{ static_url('mobile-taobao/js/common.js') }}"></script>
<!-- <script type="text/javascript" src="js/indexScript.js"></script> -->
</body>
</html>
