<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
  <div class="navbar-header aside bg-info nav-xs">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="icon-list"></i>
    </a>
    <a href="/ui/bookpi/index" class="navbar-brand text-lt">
      <i class="icon-book-open"></i>
      <img src="{{ static_url('bookpi/images/logo.png') }}" alt="." class="hide">
      <span class="hidden-nav-xs m-l-sm">Bookpi</span>
    </a>
    <a onclick="openBrowse();" class="btn btn-link visible-xs">
      <i class="icon-plus"></i>
    </a>
    <input id="file" type="file" name="file" data-url="/upload" style="display:none;" multiple>
  </div>
</header>
