<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title>Bookpi | Web Application</title>
  {% module Template("bookpi/_css.html") %}

</head>
<body class="">
  <section class="vbox">
    <!-- .header -->
    {% module Template("bookpi/_header.html") %}
    <!-- /.header -->
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {% module Template("bookpi/_aside.html") %}
        <!-- /.aside -->
        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder-lg w-f-md" id="bjax-target">
                  <h2 class="font-thin m-b"></h2>
                  <div class="row row-sm">
                      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="item">
                          <div class="pos-rlt">
                            <!-- <div class="bottom">
                              <span class="badge bg-info m-l-sm m-b-sm">03:20</span>
                            </div> -->
                            <a href="#"><img src="{{ static_url('bookpi/images/p1.jpg') }}" alt="" class="r r-2x img-full"></a>
                          </div>
                          <div class="padder-v">
                            <a href="/ui/bookpi/book-detail" class="text-ellipsis">《天使在人间》</a>
                            <a href="" class="text-ellipsis text-xs text-muted">安徒生</a>
                          </div>
                        </div>
                      </div>
                      <!-- <li><a href=""><span></span></a></li> -->


                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="/ui/bookpi/book-detail"><img src="{{ static_url('bookpi/images/p2.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="/ui/bookpi/book-detail" class="text-ellipsis">《潮白河的故事》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">佚名</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="/ui/bookpi/book-detail"><img src="{{ static_url('bookpi/images/p3.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="/ui/bookpi/book-detail" class="text-ellipsis">《开往春天的地铁》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">Allen JH</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <!-- <div class="top">
                            <span class="pull-right m-t-n-xs m-r-sm text-white">
                              <i class="fa fa-bookmark i-lg"></i>
                            </span>
                          </div> -->
                          <a href="#"><img src="{{ static_url('bookpi/images/p4.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《贝加尔湖畔》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">李健</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p5.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《哈利波特与火焰杯》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">JK 罗琳</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p6.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《乔戈里峰的传说》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">Dan Doorack</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <!--
                          <div class="top">
                            <span class="pull-right m-t-sm m-r-sm badge bg-white">12</span>
                          </div> -->
                          <a href="#"><img src="{{ static_url('bookpi/images/p7.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《人生旅途》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">Andy</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p8.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《桑梓》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">鲁迅</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p9.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《天使在人间》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">丘比特</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p10.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《鲁滨逊漂流记》 </a>
                          <a href="#" class="text-ellipsis text-xs text-muted">Chris Fox</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p11.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《雨过天晴》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">Jack Jason</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">

                          <a href="#"><img src="{{ static_url('bookpi/images/p12.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="#" class="text-ellipsis">《少年派》</a>
                          <a href="#" class="text-ellipsis text-xs text-muted">MM &amp; DD</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center m-t-lg m-b-lg">
                    <ul class="pagination pagination-md">
                      <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                  </div>
                </section>
              </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>
  </section>
  {% module Template("bookpi/_js.html") %}
  <script>
      //file 打开文件
      function openBrowse(){
        var ie=navigator.appName=="Microsoft Internet Explorer" ? true : false;
        if(ie){
          document.getElementById("file").click();
          document.getElementById("filename").value=document.getElementById("file").value;
        }
        else{
          var a=document.createEvent("MouseEvents");//FF的处理
          a.initEvent("click", true, true);
          document.getElementById("file").dispatchEvent(a);
        }
      };

      // $('#file').fileupload({
      //   dataType: 'json',
      //   done: function(e, data) {
      //     $.each(data.result.files, function(index, file) {
      //       $('<p/>').text(file.name + "  " + file.size).appendTo(document.body);
      //     });
      //   },
      //   progressall: function(e, data) {
      //     var progress = parseInt(data.loaded / data.total * 100, 10);
      //     $('#progress .bar').css('width', progress + '%');
      //     if(progress == 100){
      //       $('#upload-wrap').hide();
      //     }
      //   }
      // });
  </script>
</body>
</html>
