<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
      }

      div#editor {
        width: 81%;
        margin: auto;
        text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>TAB Key</h1>
      <p>Froala WYSIWYG HTML Editor does not interfere with the natural TAB key behavior allowing you to easily navigate through pages. You can also change this behaviour and use the TAB key to indent a specified number of spaces at a time. Use the <a href="https://www.froala.com/wysiwyg-editor/docs/options#tabSpaces" target="_blank" title="tabSpaces option">tabSpaces</a> option to specify the number of spaces.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        tabSpaces: 4
      })
    });
  </script>
</body>
</html>
