<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      section {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <section id="editor">
      <div id='edit' style="margin-top: 30px;">
        <h1>Predefined Height</h1>

        <p>Set a specific height to the WYSIWYG HTML editor using the <a href="https://www.froala.com/wysiwyg-editor/docs/options#height" target="_blank" title="height option">height</a> option. If the text inside is longer, then the rich text editor will get a vertical scrollbar.</p>
      </div>
  </section>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        height: 300
      })
    });
  </script>
</body>
</html>
