<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
      }

      section {
        width: 81%;
        margin: auto;
        text-align: left;
      }

      .class1 {
        text-align: center;
        color: red;
      }

      .class2 {
        font-weight: 700;
        font-size: 14px;
      }
  </style>
</head>

<body>
  <section id="editor">
      <div id='edit' style="margin-top: 30px;">
        <h1>Placeholder</h1>

        <p>The placeholder text can be customized using the <a href="http://www.froala.dev/wysiwyg-editor/docs/options#placeholderText" title="placeholderText option">placeholderText</a> option.</p>
      </div>
  </section>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        placeholderText: 'Start typing something...'
      })
    });
  </script>
</body>
</html>
