<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      section {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <section id="editor">
      <div id='edit' style="margin-top: 30px;">
        <h1>Predefined Width</h1>

        <p>Set a specific width to the WYSIWYG HTML editor using the <a href="https://www.froala.com/wysiwyg-editor/docs/options#width" target="_blank" title="width option">width</a> option.</p>
      </div>
  </section>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        width: 400
      })
    });
  </script>
</body>
</html>
