<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
      }

      section {
        width: 80%;
        margin: auto;
        text-align: left;
      }

      iframe {
        width: 100%;
        height: 400px;
      }
  </style>
</head>

<body>
  <section id="editor">
    <iframe id="content" src="content.html">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </section>

  {% module Template("editor/_js.html") %}

  <script>
    $(function () {
      // Chrome loading workaround.
      var timer = setInterval(function () {
        var iframe = document.getElementById('content');
        var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;

        // Check if loading is complete
        if (iframeDoc.readyState == 'complete' || iframeDoc.readyState == 'interactive') {
          $(iframe).contents().find('#edit').froalaEditor({
            toolbarInline: true,
            toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'],
            toolbarButtonsMD: null,
            toolbarButtonsSM: null,
            toolbarButtonsXS: null,
            scrollableContainer: $(iframe).contents().find('body')
          })

          clearInterval(timer);
          return;
        }
      }, 100);
    })
  </script>
</body>
</html>
