<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
          margin: 0;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Change Toolbar Buttons</h1>

      <p>You have full control over the rich text editor's toolbar functionality. Simply customize what buttons are available, their order in the toolbar and also group them the way you want.</p>

      <p>The toolbar's buttons can be customized based on the screen size using the following options:</p>
      <ul>
        <li><a href="../docs/options#toolbarButtons" title="toolbarButtons" target="_blank">toolbarButtons</a> for large devices (≥ 1200px)</li>
        <li><a href="../docs/options#toolbarButtonsMD" title="toolbarButtonsMD" target="_blank">toolbarButtonsMD</a> for medium devices (≥ 992px)</li>
        <li><a href="../docs/options#toolbarButtonsSM" title="toolbarButtonsSM" target="_blank">toolbarButtonsSM</a> for small devices (≥ 768px)</li>
        <li><a href="../docs/options#toolbarButtonsXS" title="toolbarButtonsXS" target="_blank">toolbarButtonsXS</a> for extra small devices (&lt; 768px)</li>
      </ul>

      <p>Buttons can be grouped together by adding separators between them. There are 2 types of separators: Vertical <code>|</code> and horizontal <code>-</code>. Separators can be added by passing them to any of the options above.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        // Set custom buttons with separator between them.
        toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript', 'outdent', 'indent', 'clearFormatting', 'insertTable', 'html'],
        toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline']
      })
    });
  </script>
</body>
</html>
