<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Custom Dropdown</h1>

      <p>An example of custom dropdown for the WYSIWYG HTML editor.</p>

      <p>More details about defining a custom dropdown can be found in the <a href="https://froala.com/wysiwyg-editor/docs/concepts/custom/dropdown" title="Custom Dropdown Concept" target="_blank">Custom Dropdown</a> concept.</p>

      <p>After defining custom buttons you need to add them to the toolbar buttons list, using the following options: <a href="https://froala.com/wysiwyg-editor/docs/options#toolbarButtons" title="toolbarButtons" target="_blank">toolbarButtons</a>, <a href="https://froala.com/wysiwyg-editor/docs/options#toolbarButtonsMD" title="toolbarButtonsMD" target="_blank">toolbarButtonsMD</a>, <a href="https://froala.com/wysiwyg-editor/docs/options#toolbarButtonsSM" title="toolbarButtonsSM" target="_blank">toolbarButtonsSM</a> and <a href="https://froala.com/wysiwyg-editor/docs/options#toolbarButtonsXS" title="toolbarButtonsXS" target="_blank">toolbarButtonsXS</a> as explained in the <a href="https://froala.com/wysiwyg-editor/examples/custom-toolbar" title="Custom Toolbar Example" target="_blank">Custom Toolbar</a> example.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $.FroalaEditor.DefineIcon('my_dropdown', {NAME: 'cog'});
        $.FroalaEditor.RegisterCommand('my_dropdown', {
          title: 'Advanced options',
          type: 'dropdown',
          focus: false,
          undo: false,
          refreshAfterCallback: true,
          options: {
            'v1': 'Option 1',
            'v2': 'Option 2'
          },
          callback: function (cmd, val) {
            console.log (val);
          },
          // Callback on refresh.
          refresh: function ($btn) {
            console.log ('do refresh');
          },
          // Callback on dropdown show.
          refreshOnShow: function ($btn, $dropdown) {
            console.log ('do refresh when show');
          }
        });

      $('#edit').froalaEditor({
        toolbarButtons: ['bold', 'italic', 'formatBlock', 'my_dropdown']
      })
    });
  </script>
</body>
</html>
