<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Subscript and Superscript</h1>

      <p>To use <code>subscript</code> and <code>superscript</code>, just make sure that you include these buttons in the buttons list using the <a href="https://froala.com/wysiwyg-editor/docs/options#toolbarButtons" target="_blank" title="toolbarButtons option">toolbarButtons</a> option.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        toolbarButtons: ['bold', 'italic', '|', 'indent', 'outdent', 'formatOL', 'formatUL', '|', 'insertLink', 'insertImage', 'subscript', 'superscript']
      })
    });
  </script>
</body>
</html>
