
  .clear:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
  }
  .main header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fe4f00;
    padding: 0.31rem;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
  }
  .main header .logo {
    float: left;
    height: 1.28rem;
    width: 1.28rem;
    margin-left: 0.36rem;
    background-image: url(../img/icons/tao.png); }
  .main header .search-index {
    margin: 0 auto;
    width: 7rem; }
  .main header .search-index a {
      display: inline-block;
      height: 1.28rem;
      width: 7rem;
      padding: 0 0.3rem;
      line-height: 1.28rem;
      font-size: 0.64rem;
      color: #fff;
      text-align: center;
  }
  .main .contain {
    padding-top: 1.88rem;
    padding-bottom: 2.1rem;
    overflow: hidden;
    position: relative;
  }
  .main .contain .bonus-top{
    height: 10rem;
    width: 100%;
    background: -webkit-linear-gradient(top,#fe4f00,#f7b349);
    text-align: center;
    color: white;
    overflow: hidden;
    /*display:flex;
    display: -webkit-flex;
    align-items:center;*/
    /*background-image: url(../img/bonus/back.jpg);*/
  }
  .main .contain .bonus-top p:nth-child(1){
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing:.1rem;
  }
  .main .contain .bonus-top p:nth-child(2){
    font-size: .6rem;
  }
  .main .contain .bonus-top .ti-btn{
    border: 1px solid #eee;
    width: 3.6rem;
    height: 1.1rem;
    line-height: 1.2rem;
    margin: 1.3rem auto;
    border-radius: 15px;
    background: white;
    color: #fa9130;
  }
  .main .contain .bonus-mid {
    overflow: hidden;
    width: 90%;
    height: 2rem;
    line-height: 2rem;
    background: white;
    position: absolute;
    left: 5%;
    top: 11rem;
    display: flex;
    border-radius: 5px;
  }
  .main .contain .bonus-mid .item{
    float: left;
    width: 33.3%;
    text-align: center;
    /*line-height: 6;*/
    cursor: pointer;
  }
  .main .contain .bonus-mid .item:nth-child(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .main .contain .bonus-mid div.active{
    background: #eee;
  }

  .main .contain section{
    background-color: #fff;
    margin: 2rem 5%;
    border-radius: 5px;
    padding: .5rem;
  }
  .main .contain section .title{
    padding: .5rem 0;
    border-bottom: 1px dotted #eee;
    font-size: .6rem;
  }
  .main .contain section .title .title-left{
    float: left;
  }
  .main .contain section .title .title-right{
    float: right;;
  }
  .main .contain section .title .title-left span{
    color: #5f5e5e;
    font-size: .5rem;
  }
  .main .contain section .title .title-left p{
    font-size: .1rem;
    color: #a8a8a8;
  }
  .main .contain section .title .title-right span{
    font-size: .8rem;
  }
  /*.main .contain section ul {
    display: -webkit-box;
    display: box;
    padding: 1rem 0;
  }
  .main .contain section ul li {
      -webkit-box-flex: 1;
      box-flex: 1;
      border-right: 1px solid #f8f8f7;
  }
  .main .contain section ul li:nth-last-child(1){
    border: none;
  }
  .main .contain section ul li div {
        width: 1rem;
        height: 1rem;
        margin: 0 auto;
        background-image: url(../img/index/items_09.png); }
  .main .contain section ul li p {
        padding-top: 0.7rem;
        color: #918e8e;
        text-align: center;
        line-height: 0.4rem; }
  .main .contain section ul li:nth-child(2) div {
      background-image: url(../img/index/items_11.png); }
  .main .contain section ul li:nth-child(3) div {
      background-image: url(../img/index/items_13.png); }
  .main .contain section ul li:nth-child(4) div {
      background-image: url(../img/index/items_15.png); }
  .main .contain section ul li:nth-child(5) div {
      background-image: url(../img/index/items_17.jpg); }*/

/*# sourceMappingURL=index.css.map */
