<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>
    {% module Template("gentelella/_css.html") %}
    <!-- jQuery custom content scroller -->
    <link href="{{ static_url('gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="{{ static_url('gentelella/css/custom.min.css') }}" rel="stylesheet">

  </head>

  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/ui/gentelella" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            {% module Template("gentelella/_menu_profile.html") %}
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% module Template("gentelella/_sidebar_menu.html") %}
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            {% module Template("gentelella/_menu_footer.html") %}
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        {% module Template("gentelella/_top_navigation.html") %}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Fixed Footer <small> Just add class <strong>footer_fixed</strong></small></h3>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        {% module Template("gentelella/_footer.html") %}
        <!-- /footer content -->
      </div>
    </div>

    {% module Template("gentelella/_js.html") %}
    <!-- jQuery custom content scroller -->
    <script src="{{ static_url('gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ static_url('gentelella/js/custom.min.js') }}"></script>

  </body>
</html>
