<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="footer-nav">
            <nav>
              <ul class="inline-list">
                <li><a href="/ui/cyberlife/index">HOME</a></li>
                <li><a href="/ui/cyberlife/about">ABOUT</a></li>
                <li><a href="/ui/cyberlife/contact">CONTACT</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="footer-logo text-center">
            <img src="{{ static_url('mateblog/images/1.png') }}" alt="img" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <i class="fa fa-angle-double-up goto-btn" aria-hidden="true"></i>
  </div>
  <!-- /.footer-top -->
  <div class="footer-bottom">
    <div class="continer">
      <div class="text-center copy-right-text">
        <span>Copyright © 2016,<a href="http://cyber-life.cn">cyber-life.cn</a>  All Rights Reseved.</span>
      </div>
    </div>
  </div>
</footer>
