<!-- script -->
<script src="{{ static_url('mateblog/js/jquery-2.2.3.min.js') }}"></script>
<script src="{{ static_url('mateblog/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('mateblog/js/owl.carousel.min.js') }}"></script>
<script src="{{ static_url('mateblog/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ static_url('mateblog/js/circle-progress.js') }}"></script>
<script src="{{ static_url('mateblog/js/progressv-custom.js') }}"></script>
<script src="{{ static_url('mateblog/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ static_url('mateblog/js/imagesloaded.pkgd.min.js') }}"></script>

<!-- slider-1-custom- -->
<script src="{{ static_url('mateblog/js/slider-1-custom.js') }}"></script>

<!-- custom-file -->
<script src="{{ static_url('mateblog/js/custom.js') }}"></script>
