<div class="text-center pagination-area">
  <nav class="navigation pagination">
    <div class="nav-links">
      <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
      <a class="page-numbers" href="#">1</a>
      <a class="page-numbers" href="#">2</a>
      <span class="page-numbers current">3</span>
      <a class="page-numbers" href="#">4</a>
      <a class="page-numbers" href="#">5</a>
      <a class="page-numbers" href="#">6</a>
      <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
    </div>
  </nav>
</div>
