<div class="sidebar">
  <!-- widget about -->
  <div class="widget custom_widget_about">
    <div class="widget-title">
      <h5>ABOUT ME</h5>
    </div>
    <div class="widget-about-thumb text-center">
      <img src="{{ static_url('mateblog/images/2.jpg') }}" alt="img" class="img-responsive">
    </div>
    <div class="widget-about-content text-center">
      <h6>Hello, I’m Jhon Doe</h6>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      </p>
      <a href="/ui/cyberlife/about" class="read-more-btn">Learn More</a>
    </div>
  </div>
  <!-- /.widget -->
  <!-- widget categories -->
  <div class="widget widget_categories">
    <div class="widget-title">
      <h5>CATEGORIES</h5>
    </div>
    <ul>
      <li class="categorie-item">
        <a href="/ui/cyberlife/categories">Featured</a>
        <span>15</span>
        <div class="clearfix"></div>
      </li>
      <li class="categorie-item">
        <a href="/ui/cyberlife/categories">Life Style</a>
        <span>09</span>
        <div class="clearfix"></div>
      </li>
      <li class="categorie-item">
        <a href="/ui/cyberlife/categories">Music</a>
        <span>20</span>
        <div class="clearfix"></div>
      </li>
      <li class="categorie-item">
        <a href="/ui/cyberlife/categories">Travel</a>
        <span>20</span>
        <div class="clearfix"></div>
      </li>
      <li class="categorie-item last">
        <a href="/ui/cyberlife/categories">Sports</a>
        <span>31</span>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <!-- /.widget -->
  <!-- widget recent-stories -->
  <div class="widget widget_recent_stories">
    <div class="widget-title">
      <h5>Popular POST</h5>
    </div>
    <ul>
      <li>
        <div class="widget-img">
          <a href="/ui/cyberlife/single">
            <img src="{{ static_url('mateblog/images/1(1).jpg') }}" alt="image">
            <div class="widget-overlay"></div>
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </div>
        <div class="widget-content">
          <h5><a href="/ui/cyberlife/single">Your Blog Title goes Here</a></h5>
          <span>15 May, 2015</span>
        </div>
      </li>
      <li>
        <div class="widget-img">
          <a href="/ui/cyberlife/single">
            <img src="{{ static_url('mateblog/images/2.jpg') }}" alt="image">
            <div class="widget-overlay"></div>
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </div>
        <div class="widget-content">
          <h5><a href="/ui/cyberlife/single">Something is Going Awesome</a></h5>
          <span>09 Jan, 2016</span>
        </div>
      </li>
      <li>
        <div class="widget-img">
          <a href="/ui/cyberlife/single">
            <img src="{{ static_url('mateblog/images/3(1).jpg') }}" alt="image">
            <div class="widget-overlay"></div>
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </div>
        <div class="widget-content">
          <h5><a href="/ui/cyberlife/single">Spiter Looking Something</a></h5>
          <span>26 Jan, 2016</span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.widget -->
  <!-- widget tags -->
  <div class="widget widget_tags last">
    <div class="widget-title">
      <h5>TAG CLOUD</h5>
    </div>
    <ul>
      <li><a href="/ui/cyberlife/tags">Fashion</a></li>
      <li><a href="/ui/cyberlife/tags">Blog</a></li>
      <li><a href="/ui/cyberlife/tags">Travel</a></li>
      <li><a href="/ui/cyberlife/tags">New</a></li>
      <li><a href="/ui/cyberlife/tags">Portfolio</a></li>
      <li><a href="/ui/cyberlife/tags">Template</a></li>
    </ul>
  </div>
</div>
