<div class="slider-two-body">
  <div class="container-fluid">
    <div class="row">
      <div class="slider-style-two ps-rel">
        <div class="slider-full-width-img-conent">
          <div id="slider_two_img_part" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 7680px; left: 0px; display: block;">
                <div class="owl-item synced" style="width: 1280px;">
                  <div class="item">
                    <img src="{{ static_url('mateblog/images/4.jpg') }}" alt="img" class="img-responsive">
                  </div>
                </div>
                <div class="owl-item" style="width: 1280px;">
                  <div class="item">
                    <img src="{{ static_url('mateblog/images/5.jpg') }}" alt="img" class="img-responsive">
                  </div>
                </div>
                <div class="owl-item" style="width: 1280px;">
                  <div class="item">
                    <img src="{{ static_url('mateblog/images/6.jpg') }}" alt="img" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-rated-post-single-content">
          <div id="slider_two_content_part" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 7680px; left: 0px; display: block;">
                <div class="owl-item" style="width: 1280px;">
                  <div class="item">
                    <div class="container">
                      <article class="featured-post">
                        <div class="post-meta">
                          <span class="post-author-name"><a href="#">John Doe</a></span>
                          <span class="post-date">15 May 2015</span>
                          <span class="post-comment">25 Comments</span>
                        </div>
                        <div class="post-title">
                          <h2><a href="#">Some Place You Need To Visit Before You Die</a></h2>
                        </div>
                        <div class="post-entry">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                          </p>
                        </div>
                        <a href="#" class="read-more-btn">Read More</a>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 1280px;">
                  <div class="item">
                    <div class="container">
                      <article class="featured-post">
                        <div class="post-meta">
                          <span class="post-author-name"><a href="#">John Doe</a></span>
                          <span class="post-date">15 May 2015</span>
                          <span class="post-comment">25 Comments</span>
                        </div>
                        <div class="post-title">
                          <h2><a href="#">Some Place You Need To Visit Before You Die</a></h2>
                        </div>
                        <div class="post-entry">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                          </p>
                        </div>
                        <a href="#" class="read-more-btn">Read More</a>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 1280px;">
                  <div class="item">
                    <div class="container">
                      <article class="featured-post">
                        <div class="post-meta">
                          <span class="post-author-name"><a href="#">John Doe</a></span>
                          <span class="post-date">15 May 2015</span>
                          <span class="post-comment">25 Comments</span>
                        </div>
                        <div class="post-title">
                          <h2><a href="#">Some Place You Need To Visit Before You Die</a></h2>
                        </div>
                        <div class="post-entry">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                          </p>
                        </div>
                        <a href="#" class="read-more-btn">Read More</a>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="owl-controls clickable">
              <div class="owl-pagination">
                <div class="owl-page active"><span class=""></span></div>
                <div class="owl-page"><span class=""></span></div>
                <div class="owl-page"><span class=""></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
