<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }

      .class1 {
        border-radius: 10%;
        border: 2px solid #efefef;
      }

      .class2 {
        opacity: 0.5;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Default Width</h1>

      <p>Images inserted in the editor have a default width of 300px. This can be changed using the <a href="https://www.froala.com/wysiwyg-editor/docs/options#imageDefaultWidth" title="Image Default Width option">imageDefaultWidth</a> option.</p>

      <p>Setting this option to 0 will not set any width to the inserted image.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        imageDefaultWidth: 0
      })
    });
  </script>
</body>
</html>
