<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
      }

      div#editor {
        width: 81%;
        margin: auto;
        text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
      <div id='edit' style="margin-top: 30px;">
        <h1>Predefined Links</h1>

        <p>it is possible to define a predefined list of links. The user can select from this list when inserting or editing a link.</p>

        <p>The list of predefined links can be defined using the <a href="../docs/options#linkList" target="_blank" title="linkList option">linkList</a> option.</p>
      </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        linkList: [
          {
            text: 'Froala',
            href: 'https://froala.com',
            target: '_blank'
          },
          {
            text: 'Google',
            href: 'https://google.com',
            target: '_blank'
          },
          {
            text: 'Facebook',
            href: 'https://facebook.com'
          }
        ]
      })
    });
  </script>
</body>
</html>
