<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }

      #edit {
        display: inline-block;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">Click here to edit this text in a Froala popup.</div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script type="text/javascript" src="../../js/froala_editor.min.js" ></script>

  <script>
    $(function(){
      $('#edit').froalaEditor({
        editInPopup: true
      })
    });
  </script>
</body>
</html>
