<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <h1>Init On Link</h1>
    <p>Using the <code>link.min.js</code> plugin it is possible to initialize the WYSIWYG HTML editor only on a link.</p>
    <p>The rich text editor will be initialized only on this following link: <a id="edit" href="https://www.froala.com/wysiwyg-editor">Froala WYSIWYG HTML editor website</a></p>
  </div>

{% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor()
      .on('froalaEditor.contentChanged', function () {
        console.log ('content changed');
      })
    });
  </script>
</body>
</html>
