<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
      <h1>Init On Button</h1>
      <p>It is possible to initialize the WYSIWYG HTML editor only on a button.</p>
      <button id='edit'>Button</button>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/froala_editor.min.js" ></script>

  <script>
    $(function(){
      $('#edit').froalaEditor()
      .on('froalaEditor.contentChanged', function () {
        console.log ('content changed');
      })
    });
  </script>
</body>
</html>
