<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      div#editor {
          width: 81%;
          margin: auto;
          text-align: left;
      }

      div#dragme {
        border: solid 1px #CCC;
        display: inline-block;
        padding: 10px;
        background: #efefef;
      }

      [draggable=true] {
        -khtml-user-drag: element;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id="dragme" draggable="true">
      Drag &amp; Drop me inside the editor
    </div>
    <div id='edit' style="margin-top: 30px;">
      <h1>Drop Event</h1>
      <p>Drag &amp; Drop the box above into the editable area to see the <a href="https://www.froala.com/wysiwyg-editor/docs/events#drop" title="Drop Event">drop</a> event being triggered. Don't forget to open the browser console to follow the event.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        enter: $.FroalaEditor.ENTER_P
      })
      .on ('froalaEditor.drop', function (e, editor, dropEvent) {
        console.log ('drop')

        // Focus at the current posisiton.
        editor.markers.insertAtPoint(dropEvent.originalEvent);
        var $marker = editor.$el.find('.fr-marker');
        $marker.replaceWith($.FroalaEditor.MARKERS);
        editor.selection.restore();

        // Insert HTML.
        editor.html.insert('Element dropped here.')


        dropEvent.preventDefault();
        dropEvent.stopPropagation();
        return false;
      })

      // For Firefox to work.
      $('#dragme').on('dragstart', function (e) {
        e.originalEvent.dataTransfer.setData('Text', this.id);
      })
    });
  </script>
</body>
</html>
