<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
  <title>Froala Editor Examples</title>

  <style>
    body {
      line-height: 1.5;
      font-family: sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    section {
      width: 90%;
      margin: auto;
      padding-top: 30px;
    }

    #data-list {
      -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
      -moz-column-gap: 30px; /* Firefox */
      column-gap: 30px;
      -webkit-column-count: 4; /* Chrome, Safari, Opera */
      -moz-column-count: 4; /* Firefox */
      column-count: 4;
    }

    #data-list > div {
      page-break-inside: avoid;
    }

    #data-list > div:after {
      content: "";
      display: block;
      height: 20px;
    }

    h1 {
      font-size: 36px;
      font-weight: 300;
      text-align: center;
    }

    h2 {
      margin: 0;
      color: #252525;
      border-left: 3px solid #0098f7;
      padding-left: 10px;
      font-weight: 400;
    }

    ul {
      padding-left: 5px;
    }

    ul li {
      list-style: none;
      font-size: 16px;
    }

    ul li a {
      text-decoration: none;
      color: #515151;
    }
  </style>
</head>

<body>
  <section>
    <h1>Froala Editor Examples</h1>

    <br/>

    <div id="data-list">
      <div>
        <h2>Popular</h2>
        <ul>
          <li><a href="/ui/editor/popular/full" title="Full Featured">Full Featured</a></li>
          <li><a href="/ui/editor/popular/toolbar_inline" title="Inline Editor">Inline Editor</a></li>
          <li><a href="/ui/editor/popular/two_instances" title="Multiple Editor Instances">Multiple Editor Instances</a></li>
          <li><a href="/ui/editor/popular/textarea" title="Textarea Editor">Textarea Editor</a></li>
          <li><a href="/ui/editor/popular/full_page" title="Full Page">Full Page</a></li>
          <li><a href="/ui/editor/popular/iframe" title="Iframe">Iframe</a></li>
          <li><a href="/ui/editor/popular/disable_edit" title="Non-editable Zones">Non-editable Zones</a></li>
          <li><a href="/ui/editor/popular/z_index" title="Z-index">Z-index</a></li>
          <li><a href="/ui/editor/popular/init_on_click" title="Init on Click">Init on Click</a></li>
          <li><a href="/ui/editor/popular/toolbar_buttons" title="Change Toolbar Buttons">Change Toolbar Buttons</a></li>
          <li><a href="/ui/editor/popular/disable_paragraphs" title="Disable Paragraphs">Disable Paragraphs</a></li>
        </ul>
      </div>

      <div>
        <h2>3rd Party Integration</h2>
        <ul>
          <li><a href="/ui/editor/3rd-party/aviary/index" title="Bootstrap Grid">Aviary Integration</a></li>
          <li><a href="/ui/editor/3rd-party/bootstrap/grid" title="Bootstrap Grid">Bootstrap Grid</a></li>
          <li><a href="/ui/editor/3rd-party/bootstrap/lists" title="Bootstrap List Group">Bootstrap List Group</a></li>
          <li><a href="/ui/editor/3rd-party/bootstrap/modal" title="Bootstrap Modal">Bootstrap Modal</a></li>
          <li><a href="/ui/editor/3rd-party/jquery/mobile" title="jQuery Mobile">jQuery Mobile</a></li>
          <li><a href="/ui/editor/3rd-party/jquery/ui_modal" title="jQuery UI Modal">jQuery UI Modal</a></li>
          <li><a href="/ui/editor/3rd-party/at_js" title="At.JS">At.JS</a></li>
          <li><a href="/ui/editor/3rd-party/code-mirror" title="Code Mirror">Code Mirror</a></li>
          <li><a href="/ui/editor/3rd-party/require_js/index" title="Require JS">Require JS</a></li>
          <li><a href="/ui/editor/3rd-party/spell-checker" title="Spell Checker">Spell Checker</a></li>
        </ul>
      </div>

      <div>
        <h2>API</h2>
        <ul>
          <li><a href="/ui/editor/api/init_destroy" title="Init / Destroy Editor">Init / Destroy Editor</a></li>
          <li><a href="/ui/editor/api/get_html" title="Get HTML">Get Edited HTML</a></li>
          <li><a href="/ui/editor/api/insert_html" title="Insert HTML">Insert HTML</a></li>
          <li><a href="/ui/editor/api/selection" title="Save / Restore Selection">Save / Restore Selection</a></li>
          <li><a href="/ui/editor/api/live_content_preview" title="Live Content Preview">Live Content Preview</a></li>
          <li><a href="/ui/editor/api/live_code_preview" title="Live Code Preview">Live Code Preview</a></li>
        </ul>
      </div>

      <div>
        <h2>International</h2>
        <ul>
          <li><a href="/ui/editor/international/direction_rtl" title="Editor Direction RTL">Editor Direction RTL</a></li>
          <li><a href="/ui/editor/international/language" title="Change Language">Change Language</a></li>
          <li><a href="/ui/editor/international/rtl_ltr_buttons" title="RTL / LTR Buttons">RTL / LTR Buttons</a></li>
        </ul>
      </div>

      <div>
        <h2>Buttons</h2>
        <ul>
          <li><a href="/ui/editor/buttons/custom_buttons" title="Custom Buttons">Custom Buttons</a></li>
          <li><a href="/ui/editor/buttons/custom_dropdown" title="Custom Dropdown">Custom Dropdown</a></li>
          <li><a href="/ui/editor/buttons/external_button" title="External Button">External Button</a></li>
          <li><a href="/ui/editor/buttons/subscript_superscript" title="Subscript and Superscript">Subscript and Superscript</a></li>
        </ul>
      </div>

      <div>
        <h2>Events</h2>
        <ul>
          <li><a href="/ui/editor/events/blur_focus" title="Blur / Focus">Blur / Focus</a></li>
          <li><a href="/ui/editor/events/content_changed" title="Content Changed">Content Changed</a></li>
          <li><a href="/ui/editor/events/drop" title="Drop">Drop</a></li>
          <li><a href="/ui/editor/events/image_removed" title="Image Removed">Image Removed</a></li>
          <li><a href="/ui/editor/events/initialized_destroy" title="Initialized / Destroy">Initialized / Destroy</a></li>
        </ul>
      </div>

      <div>
        <h2>Images</h2>
        <ul>
          <li><a href="/ui/editor/image/custom_button" title="Custom Image Button">Custom Image Button</a></li>
          <li><a href="/ui/editor/image/image_styles" title="Image Styles">Image Styles</a></li>
          <li><a href="/ui/editor/image/default_width" title="Default Width">Default Width</a></li>
          <li><a href="/ui/editor/image/insert_base64" title="Insert as Base64">Insert as Base64</a></li>
        </ul>
      </div>

      <div>
        <h2>Init inside iframe</h2>
        <ul>
          <li><a href="/ui/editor/init_inside_iframe/basic" title="Basic Editor inside iframe">Basic Editor</a></li>
          <li><a href="/ui/editor/init_inside_iframe/inline" title="Inline Editor inside iframe">Inline Editor</a></li>
        </ul>
      </div>

      <div>
        <h2>Init on click</h2>
        <ul>
          <li><a href="/ui/editor/init_on_click/basic" title="Basic Editor">Basic Editor</a></li>
          <li><a href="/ui/editor/init_on_click/inline" title="Inline Editor">Inline Editor</a></li>
          <li><a href="/ui/editor/init_on_click/two_editors" title="2 Editors">2 Editors</a></li>
        </ul>
      </div>

      <div>
        <h2>Initialization</h2>
        <ul>
          <li><a href="/ui/editor/initialization/init_on_click" title="Init on click">Init on Click</a></li>
          <li><a href="/ui/editor/initialization/init_on_button" title="Init on Button">Init on Button</a></li>
          <li><a href="/ui/editor/initialization/init_on_link" title="Init on Link">Init on Link</a></li>
          <li><a href="/ui/editor/initialization/init_on_image" title="Init on Image">Init on Image</a></li>
          <li><a href="/ui/editor/initialization/init_on_h1" title="Init on H1">Init on H1</a></li>
          <li><a href="/ui/editor/initialization/initialized_event" title="Initialized Event">Initialized Event</a></li>
          <li><a href="/ui/editor/initialization/edit_in_popup" title="Edit in Popup">Edit in Popup</a></li>
        </ul>
      </div>

      <div>
        <h2>Links</h2>
        <ul>
          <li><a href="/ui/editor/link/link_styles" title="Link Styles">Link Styles</a></li>
          <li><a href="/ui/editor/link/predefined_links" title="Predefined Links">Predefined Links</a></li>
          <li><a href="/ui/editor/link/custom_validation" title="Custom Link Validation">Custom Link Validation</a></li>
        </ul>
      </div>

      <div>
        <h2>Plugins</h2>
        <ul>
          <li><a href="/ui/editor/plugins/line_breaker" title="Line Breaker">Line Breaker</a></li>
          <li><a href="/ui/editor/plugins/quick_insert" title="Quick Insert">Quick Insert</a></li>
          <li><a href="/ui/editor/plugins/char_counter" title="Char Counter">Char Counter</a></li>
          <li><a href="/ui/editor/plugins/full_screen" title="Full Screen">Full Screen</a></li>
        </ul>
      </div>

      <div>
        <h2>Popups</h2>
        <ul>
          <li><a href="/ui/editor/popups/colors" title="Custom Color Picker">Custom Color Picker</a></li>
          <li><a href="/ui/editor/popups/emoticons" title="Custom Emoticons">Custom Emoticons</a></li>
          <li><a href="/ui/editor/popups/custom" title="Custom Popup">Custom Popup</a></li>
        </ul>
      </div>

      <div>
        <h2>Styling</h2>
        <ul>
          <li><a href="/ui/editor/styling/font_family" title="Font Family">Font Family</a></li>
          <li><a href="/ui/editor/styling/inline" title="Inline Styling">Inline Styling</a></li>
          <li><a href="/ui/editor/styling/paragraph" title="Paragraph Styling">Paragraph Styling</a></li>
          <li><a href="/ui/editor/styling/placeholder" title="Placeholder">Placeholder</a></li>
          <li><a href="/ui/editor/styling/height" title="Predefined Height">Predefined Height</a></li>
          <li><a href="/ui/editor/styling/adjustable_height" title="Auto-Adjustable Height">Auto-Adjustable Height</a></li>
          <li><a href="/ui/editor/styling/width" title="Predefined Width">Predefined Width</a></li>
        </ul>
      </div>

      <div>
        <h2>Themes</h2>
        <ul>
          <li><a href="/ui/editor/themes/dark" title="Dark Theme">Dark Theme</a></li>
          <li><a href="/ui/editor/themes/gray" title="Gray Theme">Gray Theme</a></li>
          <li><a href="/ui/editor/themes/red" title="Red Theme">Red Theme</a></li>
          <li><a href="/ui/editor/themes/royal" title="Royal Theme">Royal Theme</a></li>
        </ul>
      </div>

      <div>
        <h2>Table</h2>
        <ul>
          <li><a href="/ui/editor/table/nested" title="Nested Tables">Nested Tables</a></li>
          <li><a href="/ui/editor/table/resize" title="Resize Table">Resize Table</a></li>
          <li><a href="/ui/editor/table/insert_helper" title="Table Insert Helper">Table Insert Helper</a></li>
          <li><a href="/ui/editor/table/style" title="Table Style">Table Style</a></li>
          <li><a href="/ui/editor/table/cell_style" title="Table Cell Style">Table Cell Style</a></li>
        </ul>
      </div>

      <div>
        <h2>Toolbar</h2>
        <ul>
          <li><a href="/ui/editor/toolbar/inline" title="Inline Toolbar">Inline Toolbar</a></li>
          <li><a href="/ui/editor/toolbar/sticky" title="Sticky Toolbar">Sticky Toolbar</a></li>
          <li><a href="/ui/editor/toolbar/buttons" title="Change Toolbar Buttons">Change Toolbar Buttons</a></li>
          <li><a href="/ui/editor/toolbar/external" title="External Shared Toolbar">External Shared Toolbar</a></li>
          <li><a href="/ui/editor/toolbar/external_inline" title="External Shared Inline Toolbar">External Shared Inline Toolbar</a></li>
          <li><a href="/ui/editor/toolbar/bottom" title="Toolbar Bottom">Toolbar Bottom</a></li>
          <li><a href="/ui/editor/toolbar/offset" title="Toolbar with Offset">Toolbar with Offset</a></li>
          <li><a href="/ui/editor/toolbar/bottom_offset" title="Toolbar Bottom">Toolbar Bottom with Offset</a></li>
          <li><a href="/ui/editor/toolbar/show_selection" title="Show Selection Details">Show Selection Details</a></li>
          <li><a href="/ui/editor/toolbar/inline_selection" title="Inline Toolbar without Selection">Inline Toolbar without Selection</a></li>
        </ul>
      </div>

      <div>
        <h2>Paragraph Modes</h2>
        <ul>
          <li><a href="/ui/editor/paragraph_modes/enter_br" title="Enter BR">Enter BR</a></li>
          <li><a href="/ui/editor/paragraph_modes/enter_div" title="Enter DIV">Enter DIV</a></li>
          <li><a href="/ui/editor/paragraph_modes/enter_p" title="Enter P">Enter P</a></li>
        </ul>
      </div>

      <div>
        <h2>Misc</h2>
        <ul>
          <li><a href="/ui/editor/misc/scrollable_container" title="Scrollable Container">Scrollable Container</a></li>
          <li><a href="/ui/editor/misc/scrollable_container_inline" title="Scrollable Container Inline Editor">Scrollable Container Inline</a></li>
        </ul>
      </div>

      <div>
        <h2>Typing</h2>
        <ul>
          <li><a href="/ui/editor/typing/tab" title="TAB Key">TAB Key</a></li>
          <li><a href="/ui/editor/typing/shortcuts" title="Shortcuts">Shortcuts</a></li>
          <li><a href="/ui/editor/typing/keep_format" title="Keep Format on Delete">Keep Format on Delete</a></li>
        </ul>
      </div>

      <div>
        <h2>Paste</h2>
        <ul>
          <li><a href="/ui/editor/paste/plain" title="Plain Paste">Plain Paste</a></li>
          <li><a href="/ui/editor/paste/attrs" title="Allowed / Denied Attributes">Allowed / Denied Attributes</a></li>
          <li><a href="/ui/editor/paste/tags" title="Allowed / Denied Tags">Allowed / Denied Tags</a></li>
        </ul>
      </div>
    </div>
  </section>
</body>
