<script src="{{ static_url('musik/js/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ static_url('musik/js/bootstrap.js') }}"></script>
<!-- App -->
<script src="{{ static_url('musik/js/app.js') }}"></script>
<script src="{{ static_url('musik/js/slimscroll/jquery.slimscroll.min.js') }}"></script>
<!-- <script src="{{ static_url('musik/js/charts/easypiechart/jquery.easy-pie-chart.js') }}"></script>
<script src="{{ static_url('musik/js/charts/sparkline/jquery.sparkline.min.js') }}"></script> -->

<script src="{{ static_url('musik/js/sortable/jquery.sortable.js') }}"></script>
<!-- <script src="{{ static_url('musik/js/nestable/jquery.nestable.js') }}"></script> -->
<!-- <script src="{{ static_url('musik/js/nestable/demo.js') }}"></script> -->

<!-- datatables -->
<!-- <script src="{{ static_url('musik/js/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ static_url('musik/js/datatables/jquery.csv-0.71.min.js') }}"></script>
<script src="{{ static_url('musik/js/datatables/demo.js') }}"></script> -->

<script src="{{ static_url('musik/js/app.plugin.js') }}"></script>
<script src="{{ static_url('musik/js/jPlayer/jquery.jplayer.min.js') }}"></script>
<script src="{{ static_url('musik/js/jPlayer/add-on/jplayer.playlist.min.js') }}"></script>
<script src="{{ static_url('musik/js/jPlayer/demo.js') }}"></script>
