
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<title>杂志/图书 - UI中国-专业界面设计平台</title>
		<meta content="ui设计,界面设计,ui平台,学ui,ui教程,ui源文件,ui下载,ui问答,ui杂志,ui活动,ui软件,ui工具,ui灵感,ui经验" name="Keywords"></meta>
		<meta content="UI中国,前身为iconfans.com。是专业的界面设计师交流、学习/展示平台.同时也是UI设计师人才流动的集散地,会…盖主流互联网公司.我们希望借助互联网的力量打造国内最专业的UI设计平台,为UI设计师做最好的服务,提高UI设计行业价值!" name="Description"></meta>

    <link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
    <link rel="stylesheet" href="{{ static_url('uicn/css/base.css') }}">
    <link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
    <link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
    <link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">
    <link rel="stylesheet" href="{{ static_url('uicn/css/read.css') }}">
    <script src="{{ static_url('uicn/js/jquery.js') }}"></script>
    <script src="{{ static_url('uicn/js/footer.js') }}"></script>
    <script src="{{ static_url('uicn/js/header.js') }}"></script>
	</head>
	<body>
  <div id="ajax-hook"></div>
  <!-- top menu -->
  {% module Template("uicn/top-menu-block.html") %}
  <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>


		<div class="mag-main cl">
			<div class="mag-cont cl">
				<div class="mag-tit">
                                    <a href="/book" class="active">图书</a>
				    <a href="/">杂志</a>
				</div>
				<div class="mag-filter cl">
					<ul class="filter-r cl">
						<li><a href="/book" class="active">最新</a></li>
						<li><a href="/book?pop=1" >热门</a></li>
					</ul>
				</div>
				<ul class="mag-list cl">
					<li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721372696491.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《 IDEAS FOR GAME：腾讯游戏创意设计谈》</h1>
								<div class="name">

										<p>腾讯互动娱乐市场部创意设计中心</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/24047510.html" data-id="58" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="https://www.amazon.cn/mn/detailApp/?tag=bookdao-23&amp;asin=B01MCTSQNP" data-id="58" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721219257512.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《游戏UI设计必修课》</h1>
								<div class="name">

										<p>Jack 邓杰</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/24102816.html" data-id="56" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="https://www.amazon.cn/mn/detailApp/?tag=bookdao-23&amp;asin=B01M2A4RBT" data-id="56" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721077403365.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《设计的教室》</h1>
								<div class="name">

										<p>[日]佐藤好彦</p>
								</div>

								<div class="link">
																		<a href="https://h5.koudaitong.com/v2/goods/3640xin5pz9gm?reft=1480927331710&amp;spm=f2606337" data-id="55" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="https://h5.koudaitong.com/v2/goods/3640xin5pz9gm?reft=1480927331710&amp;spm=f2606337" data-id="55" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721065291308.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《CSS揭秘：全新解答网页设计经典难题，涵盖7大主题和47个鲜为人知的CSS技巧》</h1>
								<div class="name">

										<p>[希] Lea Verou</p>
								</div>

								<div class="link">
																		<a href="https://shop538910.koudaitong.com/v2/goods/3nnywxctntnhy?reft=1480927938490_1480927953210&amp;spm=f2606337_fake346742&amp;oid=0&amp;sf=wx_sm" data-id="54" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="https://shop538910.koudaitong.com/v2/goods/3nnywxctntnhy?reft=1480927938490_1480927953210&amp;spm=f2606337_fake346742&amp;oid=0&amp;sf=wx_sm" data-id="54" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721042509024.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《用户体验：引爆商业竞争力的新法则》</h1>
								<div class="name">

										<p>罗浩</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23903728.html" data-id="53" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/%E7%94%A8%E6%88%B7%E4%BD%93%E9%AA%8C-%E5%BC%95%E7%88%86%E5%95%86%E4%B8%9A%E7%AB%9E%E4%BA%89%E5%8A%9B%E7%9A%84%E6%96%B0%E6%B3%95%E5%88%99-%E7%BD%97%E6%B5%A9/product-reviews/B01B2IJ1MQ?reviewerType=avp_only_reviews" data-id="53" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721027763876.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《术与道：移动应用UI设计必修课》</h1>
								<div class="name">

										<p>余振华</p>
								</div>

								<div class="link">
																		<a href="https://h5.koudaitong.com/v2/goods/26v9hksm5c9fq?reft=1480927393368&amp;spm=f2606337" data-id="52" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="https://h5.koudaitong.com/v2/goods/26v9hksm5c9fq?reft=1480927393368&amp;spm=f2606337" data-id="52" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482721007324757.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《UI功夫：PC和APP界面设计全流程图解》</h1>
								<div class="name">

										<p>符德恩、郭纯</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23904024.html" data-id="50" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/UI%E5%8A%9F%E5%A4%AB-PC%E5%92%8CAPP%E7%95%8C%E9%9D%A2%E8%AE%BE%E8%AE%A1%E5%85%A8%E6%B5%81%E7%A8%8B%E5%9B%BE%E8%A7%A3-%E7%AC%A6%E5%BE%B7%E6%81%A9-%E9%83%AD%E7%BA%AF/dp/B01B1TI6KY/ref=sr_1_1?ie=UTF8&amp;qid=1458298923&amp;sr=8-1&amp;keywords=UI%E5%8A%9F%E5%A4%AB" data-id="50" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1482720988378673.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《Sketch+Xcode双剑合璧：移动UI设计师快速上手指南》</h1>
								<div class="name">

										<p>静电</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23810975.html" data-id="44" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/Sketch-Xcode%E5%8F%8C%E5%89%91%E5%90%88%E7%92%A7-%E7%A7%BB%E5%8A%A8UI%E8%AE%BE%E8%AE%A1%E5%B8%88%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B%E6%8C%87%E5%8D%97-%E9%9D%99%E7%94%B5/dp/B017RLT1U4/ref=sr_1_1?ie=UTF8&amp;qid=1458296765&amp;sr=8-1&amp;keywords=Sketch%2BXcode%E5%8F%8C%E5%89%91%E5%90%88%E7%92%A7" data-id="44" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/144005046321403封面阿里x.jpg" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《阿里巴巴UED体验设计践行之路》</h1>
								<div class="name">

										<p>1688 UED</p>
								</div>

								<div class="link">
																		<a href="https://detail.tmall.com/item.htm?spm=a1z0d.6639537.1997196601.15.fhrqnC&amp;id=23277744179" data-id="43" target="_blank"><i class="iconfont icon-dang"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/143893310768530与世界UI设计师同行 (1).png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>《与世界UI设计师同行》</h1>
								<div class="name">

										<p>善本出版有限公司</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23709165.html" data-id="39" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/%E4%B8%8E%E4%B8%96%E7%95%8CUI%E8%AE%BE%E8%AE%A1%E5%B8%88%E5%90%8C%E8%A1%8C-%E5%96%84%E6%9C%AC%E5%87%BA%E7%89%88%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/dp/B00YCT4MHC/ref=sr_1_1?ie=UTF8&amp;qid=1438931684&amp;sr=8-1&amp;keywords=%E4%B8%8E%E4%B8%96%E7%95%8CUI%E8%AE%BE%E8%AE%A1%E5%B8%88%E5%90%8C%E8%A1%8C" data-id="39" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/14341031066009316.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>腾讯网UED体验设计之旅</h1>
								<div class="name">

										<p>任婕等编著</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23680953.html" data-id="38" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/%E8%85%BE%E8%AE%AF%E7%BD%91UED%E4%BD%93%E9%AA%8C%E8%AE%BE%E8%AE%A1%E4%B9%8B%E6%97%85-%E4%BB%BB%E5%A9%95/dp/B00VJJP7JA/ref=sr_1_1?ie=UTF8&amp;qid=1434096694&amp;sr=8-1&amp;keywords=%E8%85%BE%E8%AE%AF%E7%BD%91UED%E8%AE%BE%E8%AE%A1%E4%BD%93%E9%AA%8C" data-id="38" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/14296054838373315.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>用户体验与可用性测试</h1>
								<div class="name">

										<p>[日]樽本徹也 著，陈啸 译</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23675669.html" data-id="37" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/%E7%94%A8%E6%88%B7%E4%BD%93%E9%AA%8C%E4%B8%8E%E5%8F%AF%E7%94%A8%E6%80%A7%E6%B5%8B%E8%AF%95-%E6%97%A5-%E6%A8%BD%E6%9C%AC%E5%BE%B9%E4%B9%9F/dp/B00VEM0EY0/ref=sr_1_fkmr2_1?ie=UTF8&qid=1429585994&sr=8-1-fkmr2&keywords=%E7%94%A8%E6%88%B7%E4%BD%93%E9%AA%8C%E4%B8%8E%E4%BA%A7%E5%93%81%E5%8F%AF%E7%94%A8%E6%80%A7%E6%B5%8B%E8%AF%95" data-id="37" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/14283942306158714280486083697814280464518388000000000000000000000000000.jpg" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>图解力：跟顶级设计师学作信息图</h1>
								<div class="name">

										<p>[日]木村博之　著；吴晓芬、顾毅　译</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23260189.html" data-id="36" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/图解力-跟顶级设计师学作信息图-木村博之/dp/B00D10E2NC/ref=sr_1_1?ie=UTF8&qid=1428046277&sr=8-1&keywords=图解力" data-id="36" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/142778934571076ui中国书.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>Unity 3D NGUI 实战教程</h1>
								<div class="name">

										<p>高雪峰</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23668711.html" data-id="35" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/Unity-3D-NGUI-实战教程-高雪峰/dp/B00UWL0VPG/ref=sr_1_1?ie=UTF8&qid=1427789624&sr=8-1&keywords=Unity+3D+NGUI+实战教程" data-id="35" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/14225008904038214.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>超级APP视觉设计大揭密（全彩）</h1>
								<div class="name">

										<p>Sun I 视觉设计</p>
								</div>

								<div class="link">
																		<a href="http://product.dangdang.com/23632475.html#ddclick?act=click&pos=23632475_0_1_q&cat=&key=%B3%AC%BC%B6app%CA%D3%BE%F5%C9%E8%BC%C6%B4%F3%BD%D2%C3%DC%C8%AB%B2%CA&qinfo=1_1_60&pinfo=&minfo=&ninfo=&custid=&permid=20141226221459635108945819191262003&ref=http%3A%2F%2Fwww.dangdang.com%2F&rcount=&type=&t=1422434755000&ver=A" data-id="34" target="_blank"><i class="iconfont icon-dang"></i></a>
																		<a href="http://www.amazon.cn/%E8%B6%85%E7%BA%A7APP%E8%A7%86%E8%A7%89%E8%AE%BE%E8%AE%A1%E5%A4%A7%E6%8F%AD%E5%AF%86-Sun-I-%E8%A7%86%E8%A7%89%E8%AE%BE%E8%AE%A1/dp/B00RZHCZEU/ref=sr_1_1?ie=UTF8&qid=1422434853&sr=8-1&keywords=%E8%B6%85%E7%BA%A7APP%E8%A7%86%E8%A7%89%E8%AE%BE%E8%AE%A1%E5%A4%A7%E6%8F%AD%E5%AF%86" data-id="34" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li><li class="mag-item">
							<div class="mag-item-wp">
								<div class="book-i-img">
									<div class="book-img"><img src="http://img.ui.cn/mag/file/1416536815759456.png" tit="" /></div>
								</div>
							</div>
							<div class="mag-i-det book-i-det">
								<h1>Don't Make Me Think</h1>
								<div class="name">

										<p>Steve Krug</p>
								</div>

								<div class="link">
																		<a href="http://www.amazon.cn/%E7%82%B9%E7%9F%B3%E6%88%90%E9%87%91-%E8%AE%BF%E5%AE%A2%E8%87%B3%E4%B8%8A%E7%9A%84%E7%BD%91%E9%A1%B5%E8%AE%BE%E8%AE%A1%E7%A7%98%E7%AC%88-Steve-Krug/dp/B0011BTJV8/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1416376421&amp;sr=1-1&amp;keywords=dont+make+me+t" data-id="32" target="_blank" ><i class="iconfont icon-zcn"></i></a>
																	</div>
							</div>
						</li>				</ul>
			</div>

			<div class="mag-side">
				<div class="mag-set">
					<h1>杂志专辑</h1>

											<h2>会员作品集</h2>
						<ul class="mag-set-list cover">
															<li>
									<img src="http://img.ui.cn/mag/file/141632731488799杂志2010.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">Iconfans2010会员作品集</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632796178092杂志2011.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">Iconfans2011会员作品集</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632792942563杂志2012.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">Iconfans2012会员作品集</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632786974864杂志2013.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UI中国2013年作品集</a>
								</li>
													</ul>

											<h2>UIweek</h2>
						<ul class="mag-set-list cover">
															<li>
									<img src="http://img.ui.cn/mag/file/141632701377297UIweek4期.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UIweek 第四期</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632699442733UIweek3期.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UIweek 第三期</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632689119648UIweek2期.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UIweek 第二期</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632712323473UIweek5期.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UIweek 第五期</a>
								</li>
															<li>
									<img src="http://img.ui.cn/mag/file/141632718570010UIweek6期.png" tit="" />
									<a target="_blank" href="http://pan.baidu.com/s/1pKA1jjt#path=%252Fread.ui.cn">UIweek 第六期</a>
								</li>
													</ul>



				</div>


			</div>
			<div style="clear:both;"></div>
			<div class="min_page">
			    				        	<ul class='cl'><li><a class='on' href='javascript:;'>1</a></li><li><a href='?p=2'>2</a></li><li class='next'><a href='?p=2'><span></span><i class='icon-next'></i></a></li><li class="form_page"><form action="" method="get"><input class="page_input" type="text" name="p" /><input type="submit" style="display:none;" /></form></li></ul>
	    	</div>

		</div>
		<script src="{{ static_url('uicn/js/read_cover.js') }}"></script>
		<script src="{{ static_url('uicn/js/read_book.js') }}"></script>

		<!-- footer -->
		{% module Template("uicn/footer-block.html") %}
		<!-- /footer -->

<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>

<div style="display:none;">
    <script src="http://s95.cnzz.com/stat.php?id=1253615256&web_id=1253615256" language="JavaScript"></script>
    <script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?cda1b423ea76ae745279bc4eb4734644";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>

</body>
</html>
