
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta property="qc:admins" content="1721742224651636" />
<meta property="wb:webmaster" content="69e23ac12c635da9" />
<meta name="baidu-site-verification" content="sSrE9nFHHr" />
<meta baidu-gxt-verify-token="0cedd8469f067b548e2e2a19a196c16e">
<meta name="360-site-verification" content="5dcd724ad92b8bba9adf192b493f6586" />

<title>UI经验/文章/教程分享-UI中国-专业界面交互设计平台</title>

<meta name="Keywords" content="教程,经验/观点,规范/资料,人物访谈,趋势/资讯,原创文章,自译外文,好文转载,ps,sketch,ai,fw,ae,模板,源文件,ui学习,ui教程,ui经验,ui培训" />
<meta name="Description" content="UI中国全部文章列表,article list。UI中国,前身为iconfans,是专业的UI设计师交流、学习与展示的平台。我们将打造中国最专业的UI设计交流平台,为UI设计师做最好的职业生涯一站式服务,提高UI设计乃至互联网设计的行业价值!" />

<!-- CSS -->

<link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/uicn.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/nivo-slider.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/modal.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/post.css') }}">

<link rel="stylesheet" href="{{ static_url('uicn/css/simditor.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/ui-theme.css') }}">

<link rel="stylesheet" href="{{ static_url('uicn/css/contentover.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/page.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">

<link rel="stylesheet" href="{{ static_url('uicn/css/home.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/exp.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static_url('uicn/css/new.css') }}" />

<!-- JS -->
<script src="{{ static_url('uicn/js/jquery.js') }}"></script>
<script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
<script src="{{ static_url('uicn/js/header.js') }}"></script>
<script src="{{ static_url('uicn/js/home.js') }}"></script>
<script src="{{ static_url('uicn/js/works.js') }}"></script>

<script src="{{ static_url('uicn/js/footer.js') }}"></script>
<script src="{{ static_url('uicn/js/post.js') }}"></script>

<script src="{{ static_url('uicn/js/LazyLoad.js') }}"></script>
<script src="{{ static_url('uicn/js/contentover.js') }}"></script>
<script src="{{ static_url('uicn/js/cnzz.js') }}"></script>
<!--[if lt IE 9]>
	<script src="http://s2.ui.cn/js/global/html5.js"></script>
<![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
	<script src="http://s2.ui.cn/js/global/selectivizr.min.js"></script>
<![endif]-->

</head>

<body>
	<div id="ajax-hook"></div>
  <!-- top menu -->
  {% module Template("uicn/top-menu-block.html") %}
  <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>


<script>

        $('#nav-exp').addClass('on');

    </script>
		<div class="exp-wp cl">
			<div class="exp-main cl">
				<div class="topic-in cl">
					<a class="topic-in-img" href="http://topic.ui.cn/detail?tid=54" target="_blank" title="Origami Studio"><img rel="nofollow" width="220" height="133" src="http://img.ui.cn/topic/file/147910343412631UI中国专题封面.png" alt="Origami Studio"/></a><a class="topic-in-img" href="http://topic.ui.cn/detail?tid=39" target="_blank" title="UI设计规范"><img rel="nofollow" width="220" height="133" src="http://img.ui.cn/topic/file/1431516112951233.png" alt="UI设计规范"/></a><a class="topic-in-img" href="http://topic.ui.cn/detail?tid=29" target="_blank" title="初级设计师必读专题"><img rel="nofollow" width="220" height="133" src="http://img.ui.cn/topic/file/1431516265222461.png" alt="初级设计师必读专题"/></a><a class="topic-in-img" href="http://topic.ui.cn/detail?tid=44" target="_blank" title="UI设计攻略"><img rel="nofollow" width="220" height="133" src="http://img.ui.cn/topic/file/1431516138189312.png" alt="UI设计攻略"/></a>
					<a class="topic-in-img pos" href="http://topic.ui.cn/">
						<img rel="nofollow" width="220" height="133" src="http://s9.ui.cn/img/more.png" />
						<div class="more-bg"></div>
						<div class="more-t"><span>更多专题</span><i class="iconfont icon-right-thin"></i></div>
					</a>
				</div>
			</div>
			<nav class="exp-main cl">

				<!-- 一级分类 Start -->
				<div id="filter-tit" class="exp-filter1 pos">
	            	<a href="javascript:;" class="down active pos">
	            		<span>全部</span>
	            		<i class="iconfont icon-down-mini"><!-- &#xe66f; --></i>
	            	</a>
	                <ul id="filter-cont" style="display:none;">
	                	<li><a href="/exp.html" class="active">全部</a></li><li><a href="/exp.html?tag=1&b=0&scatid=0&catid=0" >推荐</a></li><li><a href="/exp.html?tag=2&b=0&scatid=0&catid=0" >最新</a></li><li><a href="/exp.html?tag=3&b=0&scatid=0&catid=0" >最热</a></li><li><a href="/exp.html?tag=4&b=0&scatid=0&catid=0" >评论</a></li><li><a href="/exp.html?tag=5&b=0&scatid=0&catid=0" >点赞</a></li><li><a href="/exp.html?tag=6&b=0&scatid=0&catid=0" >收藏</a></li>	                </ul>
	            </div>
	            <!-- 一级分类 END -->

	            <!-- 二级分类 Start -->
	            <div class="exp-filter2">
	            	<b class="space"></b>
	            	<ul class="cl">
	            		<li>
		                				                		<a href="/exp.html?tag=0&b=0&scatid=11&catid=0" >教程</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=15&catid=0" >经验/观点</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=27&catid=0" >规范/资料</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=28&catid=0" >人物访谈</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=17&catid=0" >行业资讯</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=34&catid=0" >设计趋势</a>
		                	</li>	                </ul>
	            </div>
	            <!-- 二级分类 END -->

	            <!-- 三级分类 Start -->
	            <div class="exp-filter2">
	            	<b class="space"></b>
	            	<ul class="cl">
	                	<li>
		                				                		<a href="/exp.html?tag=0&b=0&scatid=0&catid=30" >原创</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=0&catid=29" >自译</a>
		                	</li><li>
		                		<i></i>		                		<a href="/exp.html?tag=0&b=0&scatid=0&catid=16" >转载</a>
		                	</li>	                </ul>
	            </div>
	            <!-- 三级分类 END -->

	            <!-- 切换 Start -->
	            <div class="exp-switch">
	            	<a id="exp-switch-1" class="active" href="javascript:;"><i class="iconfont icon-type1"><!-- &#xe67b; --></i></a>
	            	<a id="exp-switch-2" href="javascript:;"><i class="iconfont icon-type2"><!-- &#xe67c; --></i></a>
	            </div>
	            <!-- 切换 END -->

			</nav>
		</div>

		<div class="exp-main cl">
			<div class="exp-cont cl">
				<!-- 列表 Start -->
				<ul class="exp-list">

					<li class="exp-item cl">
							<a href="http://www.ui.cn/detail/197113.html" target="_blank" title="如何做一个酷炫狂拽的Apple Watch 融合动效？"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/6/4/4/936446.jpg" alt="如何做一个酷炫狂拽的Apple Watch 融合动效？"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/197113.html" target="_blank">如何做一个酷炫狂拽的Apple Watch 融合动效？</a></h1>
									<p><p>Hi运动 Apple Watch 融合动效教程，交流 QQ群号：431014460（暗号：UI中国）</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/947180.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/0/8/1/7/947180.png?imageMogr2/auto-orient/crop/!310x310a43a0/thumbnail/60x60" alt="趣达学院"/>
													<strong>趣达学院</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>587</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>1</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>49分钟前</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/193784.html" target="_blank" title="H5特效教程 | 24小时制作一个PC端H5网站"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/9/6/7/918769.png" alt="H5特效教程 | 24小时制作一个PC端H5网站"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/193784.html" target="_blank">H5特效教程 | 24小时制作一个PC端H5网站</a></h1>
									<p><p>容易被搁置的，往往是最重要的事。</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/362454.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/4/5/4/2/362454.gif?imageMogr2/auto-orient/crop/!500x500a2a0/thumbnail/60x60" alt="Seedheart"/>
													<strong>Seedheart</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>927</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>11</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>49分钟前</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204549.html" target="_blank" title="30个提高效率的PHOTOSHOP秘密快捷键"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/3/3/3/973333.png" alt="30个提高效率的PHOTOSHOP秘密快捷键"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204549.html" target="_blank">30个提高效率的PHOTOSHOP秘密快捷键</a></h1>
									<p><p>快捷键大全，提高工作效率~</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/352024.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/4/2/0/2/352024.jpg?imageMogr2/auto-orient/crop/!576x576a125a100/thumbnail/60x60" alt="玉玉酱酱"/>
													<strong>玉玉酱酱</strong>
												</a>
											</li>
											<li class="list-tag"><span>设计规范/资料</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>69</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>今天 09:17</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204545.html" target="_blank" title="结构化设计思维的应用"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/9/8/2/973289.png" alt="结构化设计思维的应用"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204545.html" target="_blank">结构化设计思维的应用</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/130189.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/9/8/1/0/130189.jpg?imageMogr2/auto-orient/crop/!1350x1350a390a0/thumbnail/60x60" alt="Yjjj"/>
													<strong>Yjjj</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>74</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>今天 08:50</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204482.html" target="_blank" title="ps教程第一节《图形布尔》"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/0/5/8/972850.png" alt="ps教程第一节《图形布尔》"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204482.html" target="_blank">ps教程第一节《图形布尔》</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/168881.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/1/8/8/8/168881.png?imageMogr2/auto-orient/crop/!357x357a68a68/thumbnail/60x60" alt="萤火学院UI"/>
													<strong>萤火学院UI</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>369</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>5</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>3</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 20:25</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204471.html" target="_blank" title="设计中不可承受的同质化"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/6/3/7/972736.png" alt="设计中不可承受的同质化"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204471.html" target="_blank">设计中不可承受的同质化</a></h1>
									<p><p>同质化&mdash;&mdash;设计中我们不得不面对的问题</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/195405.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/5/0/4/5/195405.jpeg?imageMogr2/auto-orient/crop/!922x922a116a163/thumbnail/60x60" alt="酷九设计"/>
													<strong>酷九设计</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>274</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>2</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 17:16</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204468.html" target="_blank" title="交互设计师如何做竞品分析"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/9/7/7/972779.png" alt="交互设计师如何做竞品分析"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204468.html" target="_blank">交互设计师如何做竞品分析</a></h1>
									<p><p>上周在做竞品分析，研究了很多相关案例，总结了一套关于交互设计师怎么做竞品分析的方法。今天分享给大家，一定要仔细看，绝对是值得你收藏的一篇文章。</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/152224.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/4/2/2/2/152224.jpg?imageMogr2/auto-orient/crop/!1047x1047a362a193/thumbnail/60x60" alt="呆呆丶"/>
													<strong>呆呆丶</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>302</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 17:15</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204427.html" target="_blank" title="访谈or吐槽"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/8/5/6/972658.png" alt="访谈or吐槽"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204427.html" target="_blank">访谈or吐槽</a></h1>
									<p><p>针对公司产品论坛版主的访谈，意外的对方身份还是UI中国的CTO～～</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/197206.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/6/0/2/7/197206.jpeg?imageMogr2/auto-orient/crop/!958x958a434a61/thumbnail/60x60" alt="Real木木"/>
													<strong>Real木木</strong>
												</a>
											</li>
											<li class="list-tag"><span>访谈</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>208</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 16:36</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204411.html" target="_blank" title="如何做出像蜡一样的字体"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/0/5/6/972650.png" alt="如何做出像蜡一样的字体"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204411.html" target="_blank">如何做出像蜡一样的字体</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/914790.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/0/9/7/4/914790.png?imageMogr2/auto-orient/crop/!864x864a96a55/thumbnail/60x60" alt="我知道玫瑰会开"/>
													<strong>我知道玫瑰会开</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>249</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>2</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 16:16</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204433.html" target="_blank" title="设计APP的时候来试试手绘草图吧"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/9/0/5/972509.png" alt="设计APP的时候来试试手绘草图吧"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204433.html" target="_blank">设计APP的时候来试试手绘草图吧</a></h1>
									<p><p>好文转载，版权归原作者！</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/352024.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/4/2/0/2/352024.jpg?imageMogr2/auto-orient/crop/!576x576a125a100/thumbnail/60x60" alt="玉玉酱酱"/>
													<strong>玉玉酱酱</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>247</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 15:48</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204420.html" target="_blank" title="设计师值得看的网站（无需翻墙）"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/4/8/4/972484.jpg" alt="设计师值得看的网站（无需翻墙）"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204420.html" target="_blank">设计师值得看的网站（无需翻墙）</a></h1>
									<p><p>值得设计师收进书签的国外网站&mdash;&mdash;无需翻墙</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/195405.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/5/0/4/5/195405.jpeg?imageMogr2/auto-orient/crop/!922x922a116a163/thumbnail/60x60" alt="酷九设计"/>
													<strong>酷九设计</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>196</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 15:34</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204424.html" target="_blank" title="PS打造立体感人像-修图秘诀"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/0/6/4/972460.jpg" alt="PS打造立体感人像-修图秘诀"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204424.html" target="_blank">PS打造立体感人像-修图秘诀</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/913759.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/9/5/7/3/913759.jpg?imageMogr2/auto-orient/crop/!405x405a4a5/thumbnail/60x60" alt="杏仁设计"/>
													<strong>杏仁设计</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>320</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>1</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 15:23</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204412.html" target="_blank" title="简单6步帮UI设计师高效完成切图"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/3/1/4/972413.png" alt="简单6步帮UI设计师高效完成切图"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204412.html" target="_blank">简单6步帮UI设计师高效完成切图</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/937664.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/4/6/6/7/937664.png?imageMogr2/auto-orient/crop/!149x149a1a1/thumbnail/60x60" alt="吃吃吃"/>
													<strong>吃吃吃</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>320</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>6</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 14:41</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204365.html" target="_blank" title="一个美工到开发的故事"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/5/6/2/972265.png" alt="一个美工到开发的故事"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204365.html" target="_blank">一个美工到开发的故事</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/964793.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/small.png" alt="哈喽如理"/>
													<strong>哈喽如理</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>157</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>1</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>2</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 13:19</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204384.html" target="_blank" title="交互设计流程是怎样的?"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/7/5/2/972257.png" alt="交互设计流程是怎样的?"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204384.html" target="_blank">交互设计流程是怎样的?</a></h1>
									<p><p>交互设计在于定义人造物的行为方式(the interaction, 即人工制品在特定场景下的反应方式)相关的界面。</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/144397.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/small.png" alt="jongde"/>
													<strong>jongde</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>153</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>1</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 12:07</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/203158.html" target="_blank" title="我的MVP呢？"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/6/7/6/965676.jpg" alt="我的MVP呢？"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/203158.html" target="_blank">我的MVP呢？</a></h1>
									<p>这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。</p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/144397.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/small.png" alt="jongde"/>
													<strong>jongde</strong>
												</a>
											</li>
											<li class="list-tag"><span>经验/观点</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>104</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>0</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 12:04</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/189152.html" target="_blank" title="［AE教程］AE制作垃圾桶icon小动画（附源文件）"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/8/8/0/972088.gif" alt="［AE教程］AE制作垃圾桶icon小动画（附源文件）"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/189152.html" target="_blank">［AE教程］AE制作垃圾桶icon小动画（附源文件）</a></h1>
									<p><p>录制的第一个ae教程，希望大家喜欢&nbsp;:&nbsp;)</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/140719.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/9/1/7/0/140719.jpeg?imageMogr2/auto-orient/crop/!1148x1148a0a0/thumbnail/60x60" alt="AugustTree"/>
													<strong>AugustTree</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>375</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>5</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>9</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 12:02</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204361.html" target="_blank" title="Stardust 注释"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/4/6/1/972164.jpg" alt="Stardust 注释"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204361.html" target="_blank">Stardust 注释</a></h1>
									<p><p>Stardust 注释</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/234210.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/0/1/2/4/234210.png?imageMogr2/auto-orient/crop/!600x600a0a0/thumbnail/60x60" alt="yq442523168"/>
													<strong>yq442523168</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>155</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>1</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>3</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 11:13</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204348.html" target="_blank" title="如何快速地变为一个ui入门者？"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/9/8/0/972089.png" alt="如何快速地变为一个ui入门者？"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204348.html" target="_blank">如何快速地变为一个ui入门者？</a></h1>
									<p><p>学习的体系会很复杂，海哥建议的是基本功和学习套路</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/959202.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/2/0/2/9/959202.jpg?imageMogr2/auto-orient/crop/!633x633a99a316/thumbnail/60x60" alt="海哥_够牛文化"/>
													<strong>海哥_够牛文化</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>384</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>2</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>3</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 10:32</div>
								</div>
							</div>
						</li><li class="exp-item cl">
							<a href="http://www.ui.cn/detail/204328.html" target="_blank" title="手绘教程 ▏分分钟让你学会设计卡通动物 (二十五)"><img rel="nofollow" width="280" height="210" class="cover imgloadinglater" src="http://s9.ui.cn/img/1px.png" data-original="http://img.ui.cn/data/file/8/6/9/971968.jpg" alt="手绘教程 ▏分分钟让你学会设计卡通动物 (二十五)"/></a>
							<div class="exp-text cl">
								<div class="exp-detail pos">
									<h1><a href="http://www.ui.cn/detail/204328.html" target="_blank">手绘教程 ▏分分钟让你学会设计卡通动物 (二十五)</a></h1>
									<p><p>之前的教程里我们画的都是界面图标设计，今天我们换个口味，</p></p>
									<div class="exp-info cl">
										<ul>
											<li class="list-user">
												<a href="http://i.ui.cn/ucenter/954550.html" target="_blank">
													<img rel="nofollow" width="60" height="60" src="http://imgavater.ui.cn/avatar/0/5/5/4/954550.jpg?imageMogr2/auto-orient/crop/!453x453a70a24/thumbnail/60x60" alt="何天衢"/>
													<strong>何天衢</strong>
												</a>
											</li>
											<li class="list-tag"><span>教程</span></li>
											<li class="list-msg">
												<span><i class="iconfont icon-eye"><!-- &#xe60d; --></i>450</span>
												<span><i class="iconfont icon-comment"><!-- &#xe647; --></i>0</span>
												<span><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>8</span>
											</li>

										</ul>
									</div>
									<div class="exp-data"><i class="iconfont icon-time"><!-- &#xe67d; --></i>1-18 08:02</div>
								</div>
							</div>
						</li>
				</ul>
				<!-- 列表 END -->

				<!-- 分页 -->
				<div class="min_page mbw">
					<ul class='cl'><li><a class='on' href='javascript:;'>1</a></li><li><a href='?p=2'>2</a></li><li><a href='?p=3'>3</a></li><li><a href='?p=4'>4</a></li><li><a href='?p=5'>5</a></li><li class='pt'><a href='javascript:;'>...</a></li><li><a href='?p=362'>362</a></li><li class='next'><a href='?p=2'><span></span><i class='icon-next'></i></a></li><li class="form_page"><form action="" method="get"><input class="page_input" type="text" name="p" /><input type="submit" style="display:none;" /></form></li></ul>				</div>
			    <!-- 分页 END -->
			    			</div>

			<!-- 右侧边栏 Start -->
			<div class="exp-side cl">

				<!-- 广告 Start -->
								<!-- 广告 Start -->

				<!-- 热门文章 Start -->
				<div class="exp-hot">
					<h2>热门文章</h2>
					<ul>
						<li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/26753.html" target="_blank">【设计经验】图标设计初阶要先型</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/13502.html" target="_blank">milaky</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>258</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27997.html" target="_blank">Andriod分辨率适配 ”葵花宝典“</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/136119.html" target="_blank">14041558</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>135</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27548.html" target="_blank">《Gentleman》设计分享</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/95699.html" target="_blank">Ellideyn</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>103</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27646.html" target="_blank">【回音小讲堂】五分钟画视幻 分享人：大礼包</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/85963.html" target="_blank">gsmike</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>94</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/26980.html" target="_blank">APP适配IOS8，iPhone6和Plus截图简要说明，有截图下载</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/53479.html" target="_blank">Youngxkk</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>93</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27789.html" target="_blank">设计师这样的工作，可以做一辈子吗？</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/98563.html" target="_blank">致觉</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>92</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27261.html" target="_blank">处女座设计师的一封信</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/122932.html" target="_blank">BEATERM80</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>92</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/26626.html" target="_blank">PhotoShop制作时尚五彩缤纷的抽象人像碎片效果教程</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/103721.html" target="_blank">iconfans佳佳</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>88</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/27166.html" target="_blank">UI设计师大礼包！2014年最全的ANDROID GUI模板和线框图免费下载</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/50823.html" target="_blank">songivan</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>68</p>
							</li><li>
								<h5 class="hot-tit">
									<a href="http://www.ui.cn/detail/26783.html" target="_blank">设计师要画草图</a>
								</h5>
								<p class="hot-info"><a href="http://i.ui.cn/ucenter/90438.html" target="_blank">NQ-UEC</a><i class="iconfont icon-leaf"><!-- &#xe64f; --></i>61</p>
							</li>					</ul>
				</div>
				<!-- 热门文章 END -->
			</div>
			<!-- 右侧边栏 END -->
		</div>

<script src="http://s2.ui.cn/js/exp.js?v=1484793098"></script><!-- 经验学习 -->
<script src="http://s2.ui.cn/js/LazyLoad.js?v=1484793098"></script>
<script src="http://s2.ui.cn/js/new-ad.js?v=1484793098"></script>

<!-- top menu -->
{% module Template("uicn/footer-block.html") %}
<!-- /top menu -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" target="_blank" href="http://qa.ui.cn/"><em>反馈</em></a>
</div>
<div style="display:none;">
    <script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
    <script src="http://s4.cnzz.com/stat.php?id=1257164554&web_id=1257164554" language="JavaScript"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?cda1b423ea76ae745279bc4eb4734644";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>

</body>



</html>
