
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<meta property="wb:webmaster" content="69e23ac12c635da9" />


<title>活动-UI中国-专业界面交互设计平台</title>	<meta name="Keywords" content="UTalk线下活动,站内活动,设计大赛,经验分享,设计赛事,设计会议,图标,icon,主题,页面,表盘,皮肤,表情,T恤,Html5,H5,节日活动,专场招聘,周年庆典,ui设计,ui活动" />
	<meta name="Description" content="UI中国全部活动列表,activity list。UI中国,前身为iconfans,是专业的UI设计师交流、学习与展示的平台。我们将打造中国最专业的UI设计交流平台,为UI设计师做最好的职业生涯一站式服务,提高UI设计乃至互联网设计的行业价值!" />

<!-- CSS -->
<link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/base.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/contentover.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/event.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/buchong.css') }}">

<!-- JS -->
<script src="{{ static_url('uicn/js/jquery.js') }}"></script>
<script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
<script src="{{ static_url('uicn/js/header.js') }}"></script>
<script src="{{ static_url('uicn/js/footer.js') }}"></script>
<script src="{{ static_url('uicn/js/form.js') }}"></script>
<script src="{{ static_url('uicn/js/contentover.js') }}"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
  <script src="http://s2.ui.cn/js/selectivizr-min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://s2.ui.cn/js/html5.js"></script>
<![endif]-->
</head>

<body style='overflow-y: scroll;'>
    <div id="ajax-hook"></div>
    <!-- top menu -->
    {% module Template("uicn/top-menu-block.html") %}
    <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>	<div class="wpn cl pos">
		<ul class="event-hd cl">
			<li><a href="/">全部活动</a></li>
											<li><a href="/utalk.html">UTalk</a></li>					<li><a href="/offline.html">线下活动</a></li>					<li><a href="/onsite.html">站内活动</a></li><li><a class="active" id="22" href="javascript:;">设计大赛</a></li>
						</ul>

		<div class="event-select">
			<a class="select-tit" href="javascript:;" class="">
				<span class="selected">全部</span>
				<i class="icon-down"></i>
			</a>
			<ul class="select-menu">
				<li class="on"><a rel="0" href="/game.html?stat=0">全部</a></li>
				<li ><a rel="1" href="/game.html?stat=1">未开始</a></li>
				<li ><a rel="2" href="/game.html?stat=2">进行中</a></li>
				<li ><a rel="3" href="/game.html?stat=3">已结束</a></li>
			</ul>
		</div>

		<ul class="event-list">
				<li>
						<div class="event-tit">
							<h1>
																	<a href="http://activity.ui.cn/baidu2016.html" target="_blank" title="百度输入法第二届特技皮肤大赛">									百度输入法第二届特技皮肤大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-11-18 - 2016-12-28</time></p>
						</div>
													<a class="event-img" href="http://activity.ui.cn/baidu2016.html" target="_blank" title="百度输入法第二届特技皮肤大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201611/1479459200_613.jpeg" alt="百度输入法第二届特技皮肤大赛">
						</a>
						<p class="event-det">指为遇键你</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://meiyou.ui.cn" target="_blank" title="美柚形象创意大赛">									美柚形象创意大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-08-29 - 2016-10-20</time></p>
						</div>
													<a class="event-img" href="http://meiyou.ui.cn" target="_blank" title="美柚形象创意大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201609/1472809498_532.jpeg" alt="美柚形象创意大赛">
						</a>
						<p class="event-det">美柚形象创意大赛——Design for 柚</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://bosszhipin.ui.cn" target="_blank" title="BOSS直聘吉祥物表情包创意大赛">									BOSS直聘吉祥物表情包创意大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-07-12 - 2016-08-31</time></p>
						</div>
													<a class="event-img" href="http://bosszhipin.ui.cn" target="_blank" title="BOSS直聘吉祥物表情包创意大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201608/1471329702_436.jpeg" alt="BOSS直聘吉祥物表情包创意大赛">
						</a>
						<p class="event-det">BOSS直聘吉祥物表情包创意大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://zhen.ui.cn/" target="_blank" title="首届“防震减灾”公益设计大赛">									首届“防震减灾”公益设计大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-07-08 - 2016-08-19</time></p>
						</div>
													<a class="event-img" href="http://zhen.ui.cn/" target="_blank" title="首届“防震减灾”公益设计大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201607/1467946646_437.png" alt="首届“防震减灾”公益设计大赛">
						</a>
						<p class="event-det">首届“防震减灾”公益设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://tomoon.ui.cn" target="_blank" title="2016土曼表盘设计大赛">									2016土曼表盘设计大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-05-16 - 2016-07-26</time></p>
						</div>
													<a class="event-img" href="http://tomoon.ui.cn" target="_blank" title="2016土曼表盘设计大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201605/1463360149_423.jpeg" alt="2016土曼表盘设计大赛">
						</a>
						<p class="event-det">2016土曼表盘设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://sogou.ui.cn/list.html" target="_blank" title="搜狗输入法手机皮肤创意大赛">									搜狗输入法手机皮肤创意大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2016-03-23 - 2016-04-25</time></p>
						</div>
													<a class="event-img" href="http://sogou.ui.cn/list.html" target="_blank" title="搜狗输入法手机皮肤创意大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201603/1458732546_798.jpeg" alt="搜狗输入法手机皮肤创意大赛">
						</a>
						<p class="event-det">颜值担当，皮肤有责——搜狗输入法手机皮肤创意大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://www.zhichiwangluo.com/index.php?r=pc/race/showflow" target="_blank" title="微软&amp;咫尺 第一届H5设计大赛">									微软&amp;咫尺 第一届H5设计大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-12-15 - 2016-01-25</time></p>
						</div>
													<a class="event-img" href="http://www.zhichiwangluo.com/index.php?r=pc/race/showflow" target="_blank" title="微软&amp;咫尺 第一届H5设计大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201601/1452244351_944.jpeg" alt="微软&amp;咫尺 第一届H5设计大赛">
						</a>
						<p class="event-det">创意让设计更美！微软&amp;咫尺 第一届H5设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://xmas.ui.cn/" target="_blank" title="UI中国圣诞特别企划 - 一个叫“设计师”的手机壳">									UI中国圣诞特别企划 - 一个叫“设计师”的手机壳								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-12-16 - 2015-12-25</time></p>
						</div>
													<a class="event-img" href="http://xmas.ui.cn/" target="_blank" title="UI中国圣诞特别企划 - 一个叫“设计师”的手机壳">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201512/1450230802_301.png" alt="UI中国圣诞特别企划 - 一个叫“设计师”的手机壳">
						</a>
						<p class="event-det">UI中国特别企划- 一个叫“设计师”的手机壳。你提供手机壳设计图，我来给你制作手机壳！</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://activity.ui.cn/baidu.html" target="_blank" title="遇键好设计">									遇键好设计								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-10-08 - 2015-11-25</time></p>
						</div>
													<a class="event-img" href="http://activity.ui.cn/baidu.html" target="_blank" title="遇键好设计">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201510/1444360570_814.png" alt="遇键好设计">
						</a>
						<p class="event-det">百度输入法特技皮肤设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://activity.ui.cn/guptjl.html" target="_blank" title="广州邮院创意简历大赛">									广州邮院创意简历大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-10-30 - 2015-11-22</time></p>
						</div>
													<a class="event-img" href="http://activity.ui.cn/guptjl.html" target="_blank" title="广州邮院创意简历大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201510/1446092803_565.png" alt="广州邮院创意简历大赛">
						</a>
						<p class="event-det">广州邮电职业技术学院创意简历设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://amber.ui.cn/" target="_blank" title="琥珀天气设计大赛">									琥珀天气设计大赛								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-09-22 - 2015-10-31</time></p>
						</div>
													<a class="event-img" href="http://amber.ui.cn/" target="_blank" title="琥珀天气设计大赛">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201510/1445223307_348.jpeg" alt="琥珀天气设计大赛">
						</a>
						<p class="event-det">多彩世界 阴晴有你- 琥珀天气设计大赛</p>
					</li><li>
						<div class="event-tit">
							<h1>
																	<a href="http://activity.ui.cn/xytxhd.html" target="_blank" title="有情有义衫">									有情有义衫								</a>
								<span>已结束</span>
							</h1>
							<p>投稿时间：<time>2015-09-23 - 2015-10-10</time></p>
						</div>
													<a class="event-img" href="http://activity.ui.cn/xytxhd.html" target="_blank" title="有情有义衫">
							<img rel="nofollow" src="http://img.ui.cn/data/upload/201509/1442975582_165.jpeg" alt="有情有义衫">
						</a>
						<p class="event-det">有情有义衫征集令-校园文化衫设计大赛</p>
					</li>			</ul>


			<!-- 分页 -->
			<div class="min_page">
				<ul class='cl'><li><a class='on' href='javascript:;'>1</a></li><li><a href='?p=2'>2</a></li><li><a href='?p=3'>3</a></li><li class='next'><a href='?p=2'><span></span><i class='icon-next'></i></a></li><li class="form_page"><form action="" method="get"><input class="page_input" type="text" name="p" /><input type="submit" style="display:none;" /></form></li></ul>			</div>
			<div class="info-foot-wrap">
				<div class="info-img">
					<img src="/Public/img/kefu-info-bg.png"/>
				</div>
				<span>大赛服务联系方式</span>
				<i class="icon-tel-round"></i>
				<span>13488761822</span>
				<span>成先生</span>

				<i class="icon-qq-round"></i>
				<span>1369535553</span>
				<i class="icon-envelope-thin-r"></i>
				<span>bd@ui.cn</span>

			</div>
			<center>
				<p class="partner-title">大赛合作伙伴</p>

			</center>
			<div class="partner-wrap cl">
				<!--<div class="partner-list">
					<span></span>
					<span></span>
					<i class="icon-meiyou"></i>
					<i class="icon-hupo"></i>
					<span>琥珀天气</span>

				</div>
				<div class="partner-list">

				</div>
				<div class="partner-list">
				</div>-->
				<div class="partner-list"><img src="/Public/img/baidu.png"/></div>
				<div class="partner-list"><img src="/Public/img/sougou.png"/></div>
				<div class="partner-list"><img src="/Public/img/meiyoulogo.png" style="width: 130px;height: auto;"/></div>
				<div class="partner-list"><i class="icon-hupo"></i><span>琥珀天气</span></div>
				<div class="partner-list"><img src="/Public/img/xiaomi.png"/></div>
				<div class="partner-list"><img src="/Public/img/lagou.png"/></div>
				<div class="partner-list"><img src="/Public/img/tengxun.png"/></div>
				<div class="partner-list"><img src="/Public/img/lianxiang.png"/></div>
				<div class="partner-list"><img src="/Public/img/boss.png"/></div>
				<div class="partner-list"><img src="/Public/img/ali.png"/></div>
				<div class="partner-list"><img src="/Public/img/wangyi.png"/></div>
				<div class="partner-list"><img src="/Public/img/luokeke.png"/></div>
				<div class="partner-list"><img src="/Public/img/360.png"/></div>
				<div class="partner-list"><img src="/Public/img/dizhenju.png"/></div>

				<div class="partner-list"></div>
			</div>
			<!-- 分页 END -->
			</div>
<script src="{{ static_url('uicn/js/activity.js') }}"></script>

<!-- top menu -->
{% module Template("uicn/footer-block.html") %}
<!-- /top menu -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>

<div style="display:none;">
    <script src="http://s95.cnzz.com/stat.php?id=1254791926&web_id=1254791926" language="JavaScript"></script>
    <script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?cda1b423ea76ae745279bc4eb4734644";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
</body>
</html>
