
<!DOCTYPE html>
<html><head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="wb:webmaster" content="69e23ac12c635da9">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- 设置移动设备上原始大小显示和是否缩放的声明 -->
        <!-- <meta name="viewport" content="width=device-width;initial-scale=1.0"> -->
		<title>
			我的设计作品-UI中国-专业界面交互设计平台
		</title>
		<meta name="Keywords" content="小角色123,原创作品,佳作分享,临摹练习,ui设计师,互联网设计师,ui设计,ue 设计,动效设计,界面设计,app界面设计,主体设计,ui分享" />
		<meta name="Description" content="UI中国,前身为iconfans.com。是专业的界面设计师交流、学习/展示平台.同时也是UI设计师人才流动的集散地,会员均为一线UI设计师,覆盖主流互联网公司.我们希望借助互联网的力量打造国内最专业的UI设计平台,为UI设计师做最好的服务,提高UI设计行业价值!" />
		<!--CSS START-->
		<link rel="stylesheet" href="{{ static_url('uicn/css/base.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/contentover.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/user-header2.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/user-info.css') }}">
	  <link rel="stylesheet" href="{{ static_url('uicn/css/user-theme.css') }}">
		<!--CSS END-->

		<!--JS START-->
		<script src="{{ static_url('uicn/js/jquery.js') }}"></script>
	  <script src="{{ static_url('uicn/js/contentover.js') }}"></script>
	  <script src="{{ static_url('uicn/js/footer.js') }}"></script>
	  <script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
	  <script src="{{ static_url('uicn/js/header.js') }}"></script>
	  <script src="{{ static_url('uicn/js/LazyLoad.js') }}"></script>
		<script id="ajax">(function(){$.ajaxSetup({beforeSend:function(xhr){xhr.setRequestHeader("RA-Elv","C07B8369627EDE6D4972A4E72141330D")}});$("#ajax").remove();})();</script>
		<!--JS END-->

	</head>
	<body>
		<div id="ajax-hook"></div>
		<div class="bg-white">
	<div class="wpn cl bg-white">
			<a class="icon-uimini logo-hd" href="http://www.ui.cn/" title="UI中国"></a>
			<ul class="nav-hd cl">
				<li id="nav-index"><a href="http://www.ui.cn/">首页</a></li>
				<li >
						<a
						href="javascript:;" target="_blank">发现							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/list.html" target="_self">作品</a>
									</li><li>
								        <a href="http://www.ui.cn/exp.html" target="_self">文章</a>
									</li><li>
								        <a href="http://activity.ui.cn/game.html" target="_self">设计大赛</a>
									</li><li>
								        <a href="http://activity.ui.cn/offline.html" target="_blank">线下活动</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="javascript:;" target="_blank">学习							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/exp.html?scatid=11" target="_self">教程</a>
									</li><li>
								        <a href="http://topic.ui.cn/" target="_self">专题</a>
									</li><li>
								        <a href="http://read.ui.cn/book" target="_blank">书籍</a>
									</li><li>
								        <a href="http://activity.ui.cn/utalk.html" target="_self">UTalk</a>
									</li><li>
								        <a href="http://study.ui.cn/" target="_self">每周临摹</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="javascript:;" target="_blank">培训							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://peixun.ui.cn" target="_blank">线下培训</a>
									</li><li>
								        <a href="http://peixun.ui.cn/online" target="_blank">在线课程</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="http://zhaopin.ui.cn/" target="_blank">招聘																				</a>
											</li><li >
						<a
						href="http://jingsai.ui.cn/" target="_blank">竞赛														<em class="new-hd"></em>						</a>
											</li><li >
						<a
						href="javascript:;" target="_blank">更多							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://shop.ui.cn/" target="_blank">创意汇</a>
									</li><li>
								        <a href="http://talk.ui.cn/" target="_self">话题</a>
									</li><li>
								        <a href="http://idea.ui.cn/" target="_blank">灵感</a>
									</li><li>
								        <a href="http://tool.ui.cn/" target="_self">工具</a>
									</li><li>
								        <a href="http://mi.ui.cn/" target="_blank">主题学院</a>
									</li>								</ul>
							</div>					</li>			</ul>
			<div class="y cl">
				<div class="search-hd cl">
					<form action="http://s.ui.cn/index.html" method="get" id="searchForm">
						<div class="search-status">
							<div class="search-filter">
								<a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
								<ul class="options">
									<li><a href="javascript:;" data-rel="project">作品</a></li>
									<li><a href="javascript:;" data-rel="experience">文章</a></li>
									<li><a href="javascript:;" data-rel="source">源文件</a></li>
									<li><a href="javascript:;" data-rel="designer">设计师</a></li>
									<li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
									<li><a href="javascript:;" data-rel="talk">话题</a></li>
								</ul>
							</div>
							<div class="search-select">
								<input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value="" name="keywords" id="keywords"/>
								<ul class="options">
									<li><a href="javascript:;">icon</a></li><li><a href="javascript:;">春节</a></li><li><a href="javascript:;">app</a></li><li><a href="javascript:;">作品集</a></li><li><a href="javascript:;">AE</a></li>								</ul>
							</div>
						</div>
						<input type="hidden" name="type" value='project' id="sType"/>
						<a class="search-hd-btn" href="javascript:;"><i class="icon-search"></i></a>
					</form>
				</div>

					<ul class="quick-hd cl">
						<li class="quick-item">
							<a class="quick-toggle" href="javascript:;">
								<i class="icon-upload"></i>
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://upload.ui.cn/work.html"><i class="icon-up-pic"></i>上传作品</a></li>
								<li><a href="http://upload.ui.cn/exp.html"><i class="icon-up-experience"></i>上传经验</a></li>
							</ul>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle new" href="javascript:;">
																	<i class="icon-bell f22" style="color:#CED7DE"></i>															</a>
							<div id="quickTab" class="quick-menu quick-tab">
								<ul class="tab-bar cl">
									<li rel="letter">
										<a href="javascript:;">
											<i class="icon-envelope-thin"></i>
																					</a>
									</li>
									<li rel="comment">
										<a href="javascript:;">
										<i class="icon-comment"></i>
																				</a>
									</li>
									<li rel="collect">
										<a href="javascript:;">
											<i class="icon-star"></i>
																				</a>
									</li>
									<li rel="praise">
										<a href="javascript:;">
											<i class="icon-leaf-line"></i>
																					</a>
									</li>
									<li rel="fans">
										<a href="javascript:;">
											<i class="icon-fans"></i>
																					</a>
									</li>
									<li rel="system">
										<a href="javascript:;">
											<i class="icon-horn"></i>
																					</a>
									</li>
								</ul>

								<div class="tab-wrap">
									<!-- 1私信、2评论、3收藏、4赞、5粉丝、6通知 -->
									<ul class="tab-cont"><!-- 01私信 -->
										<li class="tab-info-none">没有私信类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 02评论 -->
										<li class="tab-info-none">没有评论类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 03收藏 -->
										<li class="tab-info-none">没有收藏类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 04点赞 -->
										<li class="tab-info-none">没有点赞类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 05粉丝 -->
										<li class="tab-info-none">没有粉丝类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 06通知 -->

										<li class="tab-info-none">没有通知类消息</li>

																			</ul>
								</div>
							</div>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle" href="http://i.ui.cn/ucenter/965670.html">
								<img class="avatar" src="http://imgavater.ui.cn/avatar/small.png" alt="">
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://i.ui.cn/ucenter/965670.html"><i class="icon-pic"></i>我的作品</a></li>
								<li><a href="http://i.ui.cn/ucenter/965670.html?act=fav"><i class="icon-star"></i>我的收藏</a></li>
								<li><a href="http://uier.ui.cn"><i class="icon-res"></i>我的简历</a></li>
								<li><a href="http://account.ui.cn/basicinfo.html"><i class="icon-info"></i>修改资料</a></li>
								<li><a href="/quit"><i class="icon-exit"></i>退出登录</a></li>
							</ul>
						</li><!-- quick-item -->
					</ul>			</div>
	</div><!-- wpn -->
</div><!-- 	bg-white -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='965670';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script><!-- 页头结束 -->
<!-- User Top Panel START -->



<div class="user-pad">
	<div class="content cl">
		<style>
			.user-pad ul.user-pad-gr li .study-num { color: #2c3e50; }
			.study_btn_user { display: block; width: 160px; height: 30px; font-size: 14px; color: #fff; line-height: 30px; text-align: center; background-color: #6b7b8a; border-radius: 5px; }
		</style>

		<ul class="user-pad-gr">
			<li>
				<ul>
					<!-- <li><i class="iconfont dimgray fsi">&#xe692;</i>654人气</li> -->
					<li><i class="iconfont dimgray fsi icon-point"><!-- &#xe62e; --></i>0积分</li>
					<li id="user-avatar-gr"><i class="iconfont dimgray fsi icon-card"><!-- &#xe649; --></i>个人名片</li>
														</ul>
			</li>
		</ul>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#addIn").click(function(){
					var _u = parseInt($(this).attr("data-id"));
					if(_u){
						$.post("/cin",{u:_u},function(data){
							if(data.state){
								$("#addIn").text("已是学员");
								var _num = parseInt($("#stunum").text())+1;
								$("#stunum").text(_num);
								errorTip(data.msg,3);
							}else{
								errorTip(data.msg,3);
								return false;
							}
						},"json");
					}
				});
			});
		</script>
		<ul class="user-pad-avatar">
			<li>
				<p class="us-avatar cl">
					<a href="javascript:;">
						<img id="user-avatar" class="us-avatar-img" src="http://imgavater.ui.cn/avatar/max.png">

					</a>
				</p>
			</li>
			<li class="us-name">
				<span class="n1">小角色123								                                			                                        				</span>
				<span class="n2">这个人很懒什么都没写</span>
			</li>
			<li class="us-quanquan">
				<ul>
														</ul>
			</li>
		</ul>
		<ul class="us-focus">
			<li><a href="/ucenter/965670.html"><strong>0</strong><span>作品</span></a></li>
			<li><a id="user-fans" href="/fans.html?id=965670&act=fans"><strong>0</strong><span>粉丝</span></a></li>
			<li><a id="user-follow" href="/fans.html?id=965670&act=follow"><strong>0</strong><span>关注</span></a></li>

			<div class="cl">
					<a class="job-in" href="http://uier.ui.cn/" target="_blank">我的简历</a>
				</div>
				<div class="cl mtm">
					<!-- <span id="top-logout" class="us-ret">退出</span> -->
					<a href="http://account.ui.cn/basicinfo.html" class="us-editinfo" target="_blank" style="color:white;">修改资料</a>
				</div>


		</ul>

	</div>
</div>

<!-- 已登录 -->
<div class="us-nav-wp">
	<div class="us-nav-c">
        <ul id="user_tabnav" class="us-nav">
            <li>
				<a href="/ucenter/965670.html" class="on" >作品</a>
			</li>
			<li>
				<a href="/ucenter/965670.html?act=msg"  >动态</a>
				</li>

			<li>
					<a href="/ucenter/965670.html?act=letter" >私信</a>
				</li>
			<li>
				<a href="/ucenter/965670.html?act=fav" >收藏</a>
			</li>
        	<li>
        		<a href="/ucenter/965670.html?act=theme" >主题</a>
        	</li>
        </ul>
    </div>
</div>


<!-- avater card Box Start -->
<div id="com-card-box" class="com-card-box">
	<div class="card-box cl">
		<div class="card-top-bg">
			<img src="http://s9.ui.cn/img/card-bg.png">
		</div>
		<ul class="user-pad-avatar">
			<li>
				<p class="us-avatar cl">
					<a href="javascript:;">
						<img id="user-avatar-hide" class="us-avatar-img" src="http://imgavater.ui.cn/avatar/max.png">

					</a>
				</p>
			</li>
			<li class="us-name">
				<span class="n1">小角色123								                                				                                    				</span>
				<span class="n2">这个人很懒什么都没写</span>
			</li>
			<li class="us-info cl">
				<ul>
					<li class="us-i-l"><i class="icon-iconfans-round"><!-- &#xe60f; --></i><span>0岁</span></li>
					<li class="us-i-r"><i class="icon-qq-round"><!-- &#xe634; --></i><span></span></li>
					<li class="us-i-l"><i class="icon-envelope-round"><!-- &#xe61d; --></i><span>940054099@qq.com</span></li>
					<li class="us-i-r"><i class="icon-ball"><!-- &#xe60a; --></i><span><a target="_blank" title="" href=""></a></span></li>
					<li class="us-i-l">
						<i class="icon-sina1"><!-- &#xe65f; --></i>
						<span>
																					</span>
					</li>
					<li class="us-i-r"><i class="icon-weixin"><!-- &#xe67f; --></i><span></span></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- avater card Box END -->
<!-- Login Box Start -->
<div id="com-backs-box" class="com-back-box private-letters-box">
	<div class="com-box private-box">
		<div class="private-info-box cl pos">
			<h2>给 <span><a href="javascript:;">小角色123</a></span> 发私信:</h2>
			<textarea class="private-text" name="lettersval" type="text"></textarea>
			<p class="word-warn">还可以输入<span>200</span>个字</p>
		</div>
		<div class="cl private-box-submit">
			<button class="mini-button-close mini-button-disabble mrn">取消</button>
			<button id="letters-submit" type="submit" class="submit-button">发送</button>
		</div>

	</div>
</div>
<!-- Login Box END -->

<!-- 作品列表 -->
<div id="ajax-upload-work" class="content cl">
	<div class="Inspir-wp">
		<div class="copy_index_t" id="projecttype">
			<ul>
				<li class="c-l"><a href="javascript:;" class="c-l_c" id="all">全部<span>(0)</span></a></li>
				<li class="c-l">
					<a href="javascript:;" id="produc" rel="1">原创<span>(0)</span></a>
					<ul>
						<li class="c-l-i"><a href="javascript:;" id="yxpro" rel="2">作品<span>(0)</span></a></li>
						<li class="c-l-i"><a href="javascript:;" id="yxexp" rel="3">经验<span>(0)</span></a></li>
					</ul>
				</li>
				<li class="c-l">
					<a href="javascript:;" id="exp" rel="4">分享<span>(0)</span></a>
					<ul>
						<li class="c-l-i"><a href="javascript:;" id="fxpro" rel="5">作品<span>(0)</span></a></li>
						<li class="c-l-i"><a href="javascript:;"id="fxexp" rel="6">经验<span>(0)</span></a></li>
					</ul>
				</li>
				<li class="c-l"><a href="javascript:;" id="copy" rel="7">临摹<span>(0)</span></a></li>
				<li class="c-r"><a href="http://upload.ui.cn/work.html" target="_blank" class="user-button " >上传作品/经验</a></li>
			</ul>
		</div>
	</div>
			<div class="no-works"></div>
</div>
<!-- 作品列表 end -->

<!-- 页脚开始 -->

<div style="display: none;" class="scrollUpf">
	<a style="" title="返回顶部" href="javascript:pageScroll();" id="scrollUp"></a>
    <a style="" title="反馈" href="http://qa.ui.cn/" target="_blank" id="fk" class="mtn">反馈
    <div class="iopa"></div>
    </a>
</div>

<!--mask layer Start-->
<div class="if-shade"></div>
<!--mask layer END-->

<div class="us-footer us-footer-bg1">
    <i class="iconfont icon-ui"><!-- &#xe648; --></i>
    <p>Powered by © 2008-2015</p>
</div>

<script src="{{ static_url('uicn/js/user_public.js') }}"></script>

<div style="display:none;">
<script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
<script src="http://s11.cnzz.com/stat.php?id=1253615370&web_id=1253615370" language="JavaScript"></script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcda1b423ea76ae745279bc4eb4734644' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</body></html>
<script src="{{ static_url('uicn/js/user_page.js') }}"></script>


<script	type="text/javascript">
	var myReplayId = 0;	// 定义评论的用户 ID
	var sid = "965670";	//登录后得评论者ID
	var uid = "965670";	//用户个人中心ID
	var offsetTop = $('#user_tabnav').offset().top;
	var token = 'c40d117a61476ced729703a056550f0a';
</script>


<script src="{{ static_url('uicn/js/user_exp.js') }}"></script>
<script src="{{ static_url('uicn/js/LazyLoad.js') }}"></script>
<script src="{{ static_url('uicn/js/project.js') }}"></script>
<!-- 限制评论字数 -->
<script src="{{ static_url('uicn/js/wordlimit.js') }}"></script>
<script>
	$(function(){
		$(document).on('focus','#ucent_reply', function() {
		 	var insertArea_ucent = $(this);
		 	var insertRemind_ucent = $(this).next(".area-submit").find(".area-submit-sum");
		 	         //输入框   限制字数   提醒框
		 	wordLimit(insertArea_ucent,200,insertRemind_ucent);
		});
	});
</script>
