<!--
CASE_11-->	<!DOCTYPE HTML>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<meta property="qc:admins" content="1721742224651636" />
<meta property="wb:webmaster" content="69e23ac12c635da9" />
<meta name="baidu-site-verification" content="sSrE9nFHHr" />
<meta baidu-gxt-verify-token="0cedd8469f067b548e2e2a19a196c16e">
<meta name="360-site-verification" content="5dcd724ad92b8bba9adf192b493f6586" />
<title>培训-UI中国-专业界面交互设计平台</title>
<meta name="Keywords" content="培训,UI培训,设计培训,UI学院,UI学习,UI课程,UI教育,UI设计,界面设计,动效设计,游戏界面设计,插画设计,交互设计" />
<meta name="Description" content="UI中国全部培训课程列表，course list。UI中国，前身为iconfans，是专业的UI设计师交流、学习与展示的平台。我们将打造中国最专业的UI设计交流平台，为UI设计师做最好的职业生涯一站式服务，提高UI设计乃至互联网设计的行业价值!" />

<!-- CSS -->
<link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/uicn.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/nivo-slider.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/modal.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/post.css') }}">

<link rel="stylesheet" href="{{ static_url('uicn/css/icon.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/peixun.css') }}">

<link rel="stylesheet" href="{{ static_url('uicn/css/edu.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/home.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">

<!-- JS -->
<script src="{{ static_url('uicn/js/jquery.js') }}"></script>
<script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
<script src="{{ static_url('uicn/js/header.js') }}"></script>
<script src="{{ static_url('uicn/js/LazyLoad.js') }}"></script>
<script src="{{ static_url('uicn/js/works.js') }}"></script>
<!-- <script src="/Public/js/jquery.portamento-min.js?v=1484793660"></script>
<script src="/Public/js/jquery.scrollTo.js?v=1484793660"></script> -->
<!-- <script src="/Public/js/jquery.nav.min.js?v=1484793660"></script> -->
<!-- 导航 -->
<!--[if (gte IE 6)&(lte IE 8)]>
  <script src="http://s3.ui.cn/js/selectivizr-min.js?v=1484793660"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://s3.ui.cn/js/html5.js?v=1484793660"></script>
<![endif]-->
</head>

<body>
	<div id="ajax-hook"></div>
  <!-- top menu -->
  {% module Template("uicn/top-menu-block.html") %}
  <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>

	<!--<div class="slider-wrapper mtw">
		<div id="slider" class="nivoSlider">
			<a href="" class="adv_img" rel="" target="_blank" title=""><img src="?v=1484793660" alt=""></a><a href="" class="adv_img" rel="" target="_blank" title=""><img src="?v=1484793660" alt=""></a>		</div>
	</div>-->
	<!--测试-->
    <!-- Array
(
    [0] => Array
        (
            [id] => 8
            [title] => 培训频道
            [url] => http://peixun.ui.cn/
            [imgpath] => data/upload/201601/1452681877_112.png
        )

    [1] => Array
        (
            [id] => 19
            [title] => 云风UI设计就业班
            [url] => http://peixun.ui.cn/detail/347.html
            [imgpath] => data/upload/201701/1484624257_258.jpeg
        )

)
 -->
	<div class="slider-wrapper mtw cl">
		<div id="slider" class="nivoSlider">
			<a href="http://peixun.ui.cn/" rel="8" data-type="ban"><img src="http://imgpeixun.ui.cn/data/upload/201601/1452681877_112.png" data-thumb="http://imgpeixun.ui.cn/data/upload/201601/1452681877_112.png" alt="" /></a><a href="http://peixun.ui.cn/detail/347.html" rel="19" data-type="ban"><img src="http://imgpeixun.ui.cn/data/upload/201701/1484624257_258.jpeg" data-thumb="http://imgpeixun.ui.cn/data/upload/201701/1484624257_258.jpeg" alt="" /></a>
		</div>
        <div class="gameui">
                <a href="http://peixun.ui.cn/detail/393.html" target="_blank"><img src="http://imgpeixun.ui.cn/data/vip/1480412075.jpeg"></a>
    		</div>	</div>

    <!-- Array
(
    [45052] => 北京
    [240] => 郑州
    [166] => 苏州
    [291] => 深圳
    [45054] => 上海
    [258] => 武汉
    [289] => 广州
    [45053] => 天津
    [275] => 长沙
)
 -->

	<div class="wpn">
		<ul class="city-list">
			<li class="city">
									<a href="/index.html?city=0" title="全部">全部</a>
			</li>
            <li class="city on">
                                    <a href="/index.html?city=45052" title="北京">北京</a>
            </li>

            				<li class="city">
					<a href="/index.html?city=240" title="郑州">郑州</a>

				</li>
								<li class="city">
					<a href="/index.html?city=166" title="苏州">苏州</a>

				</li>
								<li class="city">
					<a href="/index.html?city=291" title="深圳">深圳</a>

				</li>
								<li class="city">
					<a href="/index.html?city=45054" title="上海">上海</a>

				</li>
								<li class="city">
					<a href="/index.html?city=258" title="武汉">武汉</a>

				</li>
								<li class="city">
					<a href="/index.html?city=289" title="广州">广州</a>

				</li>
								<li class="city">
					<a href="/index.html?city=45053" title="天津">天津</a>

				</li>
								<li class="city">
					<a href="/index.html?city=275" title="长沙">长沙</a>

				</li>
						</ul>
		<div  class="ruzhu y edu-ruzhu " data-target="#modal-ruzhu" >
			<i class="icon-activity"></i> 机构入驻
		</div>

	</div>
	<div class="white white-p">
		<div class="wpn cl">
			<div class="white-left z">
				推荐培训课程
			</div>
			<div class="white-right y">
				<!--<span class="white-list">缴费形式<i class="icon-down"></i>

					</span>
				<span class="white-list">关注度<i class="icon-down"></i>

					</span>-->
				<span class="white-list">上课形式<i class="icon-down"></i>
						<ul class="abs">
												    <li><a href="/index.html?city=45052" title="全部">全部</a></li>
												    <li><a href="/index.html?city=45052&pro=4" title="全日制" class="tint">全日制</a></li>
												    <li><a href="/index.html?city=45052&pro=2" title="周末班" class="tint">周末班</a></li>

						</ul>
					</span>
				<span class="white-list">时间周期<i class="icon-down"></i>
						<ul class="abs">

												    <li><a href="/index.html?city=45052&pro=0" title="全部">全部</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=1" title="1-3个月">1-3个月</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=2" title="3-6个月">3-6个月</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=3" title="6-12个月">6-12个月</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=4" title="1年以上">1年以上</a></li>

					    </ul>
					</span>
				<span class="white-list">全部容量<i class="icon-down"></i>
						<ul class="abs">

												    <li><a href="/index.html?city=45052&pro=0&cy=0" title="全部">全部</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=0&cap=1" title="小班">小班</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=0&cap=2" title="中班">中班</a></li>
												    <li><a href="/index.html?city=45052&pro=0&cy=0&cap=3" title="大班">大班</a></li>

					    </ul>
					</span>
			</div>
		</div>
	</div>
	<div class="wpn cl up">
		<div class="edu-main  edu-left1" style="width:600px;">
			<ul class="edu-list cl">
				<li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/376.html" title="东道设计学院UI＆UE就业班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/5/2/2/1/1225.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：1</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/376.html" title="东道设计学院UI＆UE就业班" target="_blank">东道设计学院UI＆UE就业班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">全日制</li>
										<li class="orange">中班</li>
										<li>20年行业经验</li><li>真实项目实战</li><li>推荐就业</li><li>一线互联网总监</li><li>小班授课</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://edu.dongdao.net/shejixueyuan.jsp" target="_blank" title="东道设计">东道设计</a>
        							</span>
										<span><i class="icon-eye"></i>4764</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/376.html" title="东道设计学院UI＆UE就业班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/377.html" title="势合厚学ui设计晋级转型小班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/2/9/1/1/1192.png" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：1</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/377.html" title="势合厚学ui设计晋级转型小班" target="_blank">势合厚学ui设计晋级转型小班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">周末班</li>
										<li class="orange">小班</li>
										<li>设计师再提升</li><li>10人小班定制</li><li>实战项目练习</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.shiheui.com" target="_blank" title="势合厚学">势合厚学</a>
        							</span>
										<span><i class="icon-eye"></i>628</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/377.html" title="势合厚学ui设计晋级转型小班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/354.html" title="传统设计类专业暑假转型实训班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/3/1/5/513.png" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：31</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/354.html" title="传统设计类专业暑假转型实训班" target="_blank">传统设计类专业暑假转型实训班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">假期班</li>
										<li class="orange">小班</li>
										<li>清华核心课程</li><li>量身打造</li><li>考研就业兼顾</li><li>暑假开课</li><li>推荐实习</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.uidedu.cn/" target="_blank" title="青云教育">青云教育</a>
        							</span>
										<span><i class="icon-eye"></i>2598</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值50元再抵<strong>300</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/354.html" title="传统设计类专业暑假转型实训班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/334.html" title="莱茵教育 UI设计师精修班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/2/0/0/1/1002.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：41</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/334.html" title="莱茵教育 UI设计师精修班" target="_blank">莱茵教育 UI设计师精修班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">全日制</li>
										<li class="orange">中班</li>
										<li>免费试听</li><li>CEO讲师上课</li><li>终身工作推荐</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.uidesign.cc/uidesign/" target="_blank" title="莱茵教育">莱茵教育</a>
        							</span>
										<span><i class="icon-eye"></i>4028</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/334.html" title="莱茵教育 UI设计师精修班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/344.html" title="优才学院UI全栈设计师就业班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/9/4/3/349.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：32</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/344.html" title="优才学院UI全栈设计师就业班" target="_blank">优才学院UI全栈设计师就业班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">全日制</li>
										<li class="orange">中班</li>
										<li>0学费入学</li><li>免费试学</li><li>真实商业项目实战</li><li>终身工作推荐</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://jiuye.ucai.cn/ui" target="_blank" title="优才学院">优才学院</a>
        							</span>
										<span><i class="icon-eye"></i>3223</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/344.html" title="优才学院UI全栈设计师就业班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/347.html" title="云风启志UI设计专业班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/7/8/2/1/1287.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：58</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/347.html" title="云风启志UI设计专业班" target="_blank">云风启志UI设计专业班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">全日制</li>
										<li class="orange">中班</li>
										<li>100%就业</li><li>免费试听</li><li>先学习后付款</li><li>终身推荐就业</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.ukong.cn/" target="_blank" title="云风启志">云风启志</a>
        							</span>
										<span><i class="icon-eye"></i>4804</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/347.html" title="云风启志UI设计专业班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/357.html" title="给设计师的考研课 " target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/7/3/5/537.png" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：14</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/357.html" title="给设计师的考研课 " target="_blank">给设计师的考研课 </a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">周末班</li>
										<li class="orange">中班</li>
										<li>精准辅导</li><li> 文化专业并举</li><li> 方案定制</li><li> 多年经验</li><li>直通导师 \历年资料   </li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.uidedu.cn/" target="_blank" title="清云教育">清云教育</a>
        							</span>
										<span><i class="icon-eye"></i>1060</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/357.html" title="给设计师的考研课 " target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/336.html" title="莱茵教育交互设计周末班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/1/0/0/1/1001.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：22</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/336.html" title="莱茵教育交互设计周末班" target="_blank">莱茵教育交互设计周末班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">周末班</li>
										<li class="orange">中班</li>
										<li>不影响上班</li><li>快速充电</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.uidesign.cc/uidesign/" target="_blank" title="莱茵教育">莱茵教育</a>
        							</span>
										<span><i class="icon-eye"></i>2316</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/336.html" title="莱茵教育交互设计周末班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/337.html" title="莱茵教育零基础UI设计周末班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/0/0/0/1/1000.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：22</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/337.html" title="莱茵教育零基础UI设计周末班" target="_blank">莱茵教育零基础UI设计周末班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">周末班</li>
										<li class="orange">中班</li>
										<li>周末授课</li><li>0基础学习</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.uidesign.cc/category/courses/" target="_blank" title="莱茵教育">莱茵教育</a>
        							</span>
										<span><i class="icon-eye"></i>1003</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/337.html" title="莱茵教育零基础UI设计周末班" target="_blank"></a>

					</li><li class="cl edu-list-li rel">


						<div class="add">
							<div class="original">
								<a class="cover pos" href="/detail/332.html" title="智库灯塔UI设计提升班" target="_blank" style="width:160px">
									<img src="http://imgpeixun.ui.cn/data/px/0/9/7/790.jpg" width="160" height="140" rel="nofollow">
								</a>
								<!-- <span class="ribbon"></span> -->
								<!--<span class="price">已报名人数：25</span>-->
								<div class="info" style="width:394px">
									<h2><a class="pos-span" href="/detail/332.html" title="智库灯塔UI设计提升班" target="_blank">智库灯塔UI设计提升班</a></h2>
									<ul class="edu-li-tag">
										<li class="blue">北京</li>
										<li class="green">周末班</li>
										<li class="orange">中班</li>
										<li>0学费入学</li><li>毕业薪资8K起</li><li>免费试听</li>									</ul>
									<div class="edu-li-middle">
										<span><i class="icon-activity"></i><a class="name  pos-span" href="http://www.dengta360.cn/ui.html" target="_blank" title="智库灯塔">智库灯塔</a>
        							</span>
										<span><i class="icon-eye"></i>1273</span>
									</div>
																		<ul class="edu-li-det">
										<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
										</li>
									</ul>
								    								</div>
							</div>
						</div>
					<a class="pos-a" href="/detail/332.html" title="智库灯塔UI设计提升班" target="_blank"></a>

					</li>			</ul>
		</div>
		<!-- edu-main -->

		<div class="edu-main   edu-left2" style="width:600px;">
			<ul class="edu-list cl">
				<li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/374.html" title="势合厚学定制式ui设计课堂" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/4/8/1/1/1184.png" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：8</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/374.html" title="势合厚学定制式ui设计课堂" target="_blank">势合厚学定制式ui设计课堂</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">小班</li>
											<li>20人小班定制</li><li>专家级讲师团队</li><li>一对一指导</li><li>公寓式宿舍</li><li>免费试听</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.shiheui.com" target="_blank" title="势合厚学">势合厚学</a>
        							</span>
											<span><i class="icon-eye"></i>7651</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值30元再抵<strong>300</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/374.html" title="势合厚学定制式ui设计课堂" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/365.html" title="UI8.0全能UI精英班，免费试听" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/5/7/8/875.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：3</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/365.html" title="UI8.0全能UI精英班，免费试听" target="_blank">UI8.0全能UI精英班，免费试听</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">大班</li>
											<li>先学习后付款</li><li>推荐就业</li><li>BAT总监授课</li><li>实战教学为主</li><li>免费试听真课 </li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.aaa-cg.com.cn/zt/uiue/?uizg" target="_blank" title="AAA数字教育">AAA数字教育</a>
        							</span>
											<span><i class="icon-eye"></i>6580</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值30元再抵<strong>300</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/365.html" title="UI8.0全能UI精英班，免费试听" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/339.html" title="中国顶尖设计机构权威认证UI课程" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/5/3/8/835.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：75</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/339.html" title="中国顶尖设计机构权威认证UI课程" target="_blank">中国顶尖设计机构权威认证UI课程</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">中班</li>
											<li>顶尖师资配备</li><li>独家国际UI/UE认证</li><li>高端国贸校区</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://zmds.cn/index02-02ui.html" target="_blank" title="中美设计顾问">中美设计顾问</a>
        							</span>
											<span><i class="icon-eye"></i>8373</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/339.html" title="中国顶尖设计机构权威认证UI课程" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/330.html" title="智库灯塔UI设计精修班" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/1/9/7/791.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：80</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/330.html" title="智库灯塔UI设计精修班" target="_blank">智库灯塔UI设计精修班</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">中班</li>
											<li>0学费入学</li><li>免费推荐就业</li><li>免费试听</li><li>薪资8K起</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.dengta360.cn/ui.html" target="_blank" title="智库灯塔">智库灯塔</a>
        							</span>
											<span><i class="icon-eye"></i>10057</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/330.html" title="智库灯塔UI设计精修班" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/358.html" title="给设计师的编程课" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/4/5/5/554.png" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：10</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/358.html" title="给设计师的编程课" target="_blank">给设计师的编程课</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">周末班</li>
											<li class="orange">中班</li>
											<li>量身定制</li><li>扩展脑洞</li><li>深入浅出</li><li> 实用</li><li>突破短板 </li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.uidedu.cn/" target="_blank" title="清云教育">清云教育</a>
        							</span>
											<span><i class="icon-eye"></i>1351</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/358.html" title="给设计师的编程课" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/366.html" title="UI8.0全能UI精英班，免费试听" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/4/7/8/874.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：1</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/366.html" title="UI8.0全能UI精英班，免费试听" target="_blank">UI8.0全能UI精英班，免费试听</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">周末班</li>
											<li class="orange">大班</li>
											<li>先学习后付款</li><li>推荐就业</li><li>BAT总监授课</li><li>实战教学为主</li><li>免费试听真课 </li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.aaa-cg.com.cn/zt/uiue/?uizg" target="_blank" title="AAA数字教育">AAA数字教育</a>
        							</span>
											<span><i class="icon-eye"></i>573</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值30元再抵<strong>300</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/366.html" title="UI8.0全能UI精英班，免费试听" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/353.html" title="交互UIUE设计零基础就业班" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/0/0/5/500.png" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：21</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/353.html" title="交互UIUE设计零基础就业班" target="_blank">交互UIUE设计零基础就业班</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">小班</li>
											<li>清华团队</li><li>精品小班</li><li>高品质包就业</li><li>校友企业预订 </li><li>免费试听</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.uidedu.cn/" target="_blank" title="青云教育">青云教育</a>
        							</span>
											<span><i class="icon-eye"></i>4258</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值50元再抵<strong>300</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/353.html" title="交互UIUE设计零基础就业班" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/329.html" title="UI时代UI设计师高端职业教育" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/8/4/8/848.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：24</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/329.html" title="UI时代UI设计师高端职业教育" target="_blank">UI时代UI设计师高端职业教育</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">全日制</li>
											<li class="orange">小班</li>
											<li>环境模拟教学</li><li>总监经验分享</li><li>案例实战演练</li><li>岗位内部推荐</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.uitimes.cn/" target="_blank" title="UI时代">UI时代</a>
        							</span>
											<span><i class="icon-eye"></i>1982</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/329.html" title="UI时代UI设计师高端职业教育" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/340.html" title="中国顶尖设计机构权威认证UI课程" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/4/3/8/834.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：44</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/340.html" title="中国顶尖设计机构权威认证UI课程" target="_blank">中国顶尖设计机构权威认证UI课程</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">周末班</li>
											<li class="orange">中班</li>
											<li>顶尖师资配备</li><li>独家国际UI/UE认证</li><li>高端国贸校区</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://zmds.cn/index02-02ui.html" target="_blank" title="中美设计顾问">中美设计顾问</a>
        							</span>
											<span><i class="icon-eye"></i>1351</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/340.html" title="中国顶尖设计机构权威认证UI课程" target="_blank"></a>

						</li><li class="cl edu-list-li rel">
							<div class="add">
								<div class="original">
									<a class="cover pos" href="/detail/331.html" title="UI时代UI设计师高端职业教育" target="_blank" style="width:160px">
										<img src="http://imgpeixun.ui.cn/data/px/8/3/8/838.jpg" width="160" height="140" rel="nofollow" alt="">
										<!-- <span class="ribbon"></span> -->
										<!--<span class="price">已报名人数：19</span>-->
									</a>
									<div class="info" style="width:394px">
										<h2><a href="/detail/331.html" title="UI时代UI设计师高端职业教育" target="_blank">UI时代UI设计师高端职业教育</a></h2>
										<ul class="edu-li-tag">
											<li class="blue">北京</li>
											<li class="green">周末班</li>
											<li class="orange">小班</li>
											<li>岗位内部推荐</li><li>案例实战演练</li><li>总监经验分享</li>										</ul>
										<div class="edu-li-middle">
											<span><i class="icon-activity"></i><a class="name" href="http://www.uitimes.cn/" target="_blank" title="UI时代">UI时代</a>
        							</span>
											<span><i class="icon-eye"></i>1033</span>
										</div>
										<ul class="edu-li-det">
											<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
					<a class="pos-a" href="/detail/331.html" title="UI时代UI设计师高端职业教育" target="_blank"></a>

						</li>			</ul>
		</div>
		<!-- edu-main -->
	</div>
	<!--人物banner-->

	<div class="cl wpn-bottom ">
		<div class="bottom-wrap">
			<ul class="blist mtw cl">
							</ul>
		</div>
		<!--center> #先不显示，等课程量足够多再说
            <div class="more">
                <span>更多课程</span>
            </div>
        </center-->
	</div>

	<!-- 打开弹框按钮  data-target="#modal-ruzhu" -->
	<div id="modal-ruzhu" class="modal">
		<div class="modal-effect">
			<div id="ruzhu_in" class="modal-ruzhu-edu">
				<div class="hd">
					<h1>申请入驻<small>（以下均为必填项）</small></h1>
				</div>
				<div class="cont">
					<form id="rzForm">
						<div class="row">
							<label for="">机构名称：</label>
							<input type="text" name="ins_name">
						</div>
						<div class="row">
							<label for="">所在地区：</label>
							<input type="text" name="address">
						</div>
						<div class="row">
							<label for="">联系人姓名：</label>
							<input type="text" name="uname">
						</div>
						<div class="row">
							<label for="">联系人电话：</label>
							<input type="text" name="phone">
						</div>
						<div class="row">
							<label for="">联系人QQ：</label>
							<input type="text" name="qq">
						</div>
						<div class="submit">
							<a href="javascript:;" class="btn btn-primary submit-btn mrw">提交</a>
							<a href="javascript:;" class="btn btn-gray close-btn">取消</a>
						</div>
					</form>
				</div>
				<i class="icon-close"></i>
			</div>

			<div id="ruzhu_ok" class="modal-ruzhu-edu">
				<div class="cont">
					<h1 class="tit"><i class="icon-succ"></i><span>感谢您对UI中国的支持</span></h1>
					<p class="txt">我们会尽快与您取得联系</p>
					<p class="txt">期待与您的联系！</p>
					<div class="submit">
						<a id="confirm_btn" href="javascript:;" class="btn btn-primary mrw">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="hide" id="selCity_btn" data-target="#modal-selCity">弹框</a>
	<!-- 选择城市，打开页面默认弹出 -->
	<div id="modal-selCity" class="modal">
		<div class="modal-effect">
			<div class="modal-selcity">
				<div class="hd">
					<h1>选择城市</h1>
				</div>
				<div class="cont">
					<h2>亲爱的用户你好：</h2>
					<p class="txt">请选择你希望参加线下培训的地区，以便小U妹更好的为你提供服务。</p>
					<ul class="sel cl">
						<li class="on">
								<a href="javascript:;" data-rel="45052">北京</a>
							</li><li >
								<a href="javascript:;" data-rel="240">郑州</a>
							</li><li >
								<a href="javascript:;" data-rel="166">苏州</a>
							</li><li >
								<a href="javascript:;" data-rel="291">深圳</a>
							</li><li >
								<a href="javascript:;" data-rel="45054">上海</a>
							</li><li >
								<a href="javascript:;" data-rel="258">武汉</a>
							</li><li >
								<a href="javascript:;" data-rel="289">广州</a>
							</li><li >
								<a href="javascript:;" data-rel="45053">天津</a>
							</li><li >
								<a href="javascript:;" data-rel="275">长沙</a>
							</li>					</ul>
					<p class="tip">更多城市培训机构正在接入ing,敬请期待！</p>
				</div>
				<i class="icon-close"></i>
			</div>
		</div>
	</div>

	<!--[if lt IE 9]>
		<script src="http://s3.ui.cn/js/global/html5.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="http://s3.ui.cn/js/global/selectivizr.js"></script>
	<![endif]-->
  <script src="{{ static_url('uicn/js/jquery.js') }}"></script>
  <script src="{{ static_url('uicn/js/modal.js') }}"></script>
  <script src="{{ static_url('uicn/js/footer.js') }}"></script>
  <script src="{{ static_url('uicn/js/edu.js') }}"></script>
  <script src="{{ static_url('uicn/js/jquery.nivo.slider.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".none1").hide();
			//限制字符个数
			$(".blist .info h4").each(function() {
				var maxwidth = 22;
				if($(this).text().length > maxwidth) {
					$(this).text($(this).text().substring(0, maxwidth));
					$(this).html($(this).html() + '...');
				}
			});
		})

		//jQuery效果

		$(function() {
//			点击入驻
$(".ruzhu").click(function(){
	$("#modal-ruzhu").show();
})

			//下拉条效果
			$(".white-list").each(function(i, e) {
				$(e).find("ul li").each(function(j, k) {
					$(k).hover(function() {
						$(k).css({
							"background": "#eff3f5"
						})
					}, function() {
						$(k).css({
							"background": "white"
						})

					})
				})
				$(e).hover(function() {
					$(e).addClass("addwhite");
					$(e).find("ul").show();
				}, function() {
					$(e).removeClass("addwhite");

					$(e).find("ul").hide();

				})
			})

			//上部分li的hover效果
			$(".edu-list-li").each(function(i, e) {
				$(e).click(function(){
					event.stopPropagation();
				})
				$(e).hover(function() {
					$(this).find(".add").addClass("addclass").css({
						"border-color": "#3399cc",
						"z-index": "1",
						"box-shadow": "0 0 12px rgba(0, 0, 0, 0.1)"
					});
				}, function() {
					$(this).find(".add").removeClass("addclass").css({
						"border-color": "transparent",
						"z-index": "-1",
						"box-shadow": "0 0 0"
					});

				})

			})

			//最下面list的hover
			$(".blist-li").each(function(i, e) {
				$(e).hover(function() {
					$(this).css({
						"border-color": "#3399cc",
						"background": "white",
						"z-index": "10",
						"box-shadow": "0 0 12px rgba(0, 0, 0, 0.1)"
					}).find(".none2").show();
					$(this).find(".none1").show();
					$(this).find(".edu-li-tag2 li").eq(2).show();
				}, function() {
					$(this).css({
						"border-color": "#eff3f5",
						"background": "#eff3f5",
						"z-index": "0",
						"box-shadow": "0 0 0 "
					}).find(".none2").hide();
					$(this).find(".none1").hide();
					$(this).find(" .edu-li-tag2 li").eq(2).hide();
				})
			})

			$(window).load(function() {
				$('#slider').nivoSlider({
					effect: 'boxRandom', //轮播动画效果
					animSpeed: 500, // 动画速度
					pauseTime: 3000, // 暂停时间
					slices: 10, // 分为10列
					directionNav: true //显示左右导航按钮
				});
				// 设置小圆点偏移值，使居中
				var sliderOffset = $(".nivo-controlNav").width() * (-0.5) - 16 - 140;
				$(".nivo-controlNav").css("marginLeft", sliderOffset);
			})

			$("#slider > a,.edu-ad > a").click(function() {
				var _id = $(this).attr('rel');
				var _tp = $(this).attr("data-type");
				$.post("hit", {
					id: _id,
					tp: _tp
				}, function(data) {
					return true;
				}, "json")
			})

		})
	</script>
	<script>
		$(function() {
			// 手机号验证
			var tel = /^0{0,1}1[3|4|5|7|8][0-9]{9}$/;
			var num = /^[1-9][0-9]{5,10}$/;
			$(".submit-btn").click(function() {
				var _this = $(this);
				var ins_name = $("input[name='ins_name']").val();
				var address = $("input[name='address']").val();
				var uname = $("input[name='uname']").val();
				var phone = $("input[name='phone']").val();
				var qq = $("input[name='qq']").val();

				if(!$.trim(ins_name).length > 0) {
					errorTip('机构名称不能为空', 3);
					$("input[name='ins_name']").focus();
					return false;
				}

				if(!$.trim(address).length > 0) {
					errorTip('所在地区不能为空', 3);
					$("input[name='address']").focus();
					return false;
				}

				if(!$.trim(uname).length > 0) {
					errorTip('联系人姓名不能为空', 3);
					$("input[name='uname']").focus();
					return false;
				}

				if(!$.trim(phone).length > 0) {
					errorTip('手机号不能为空', 3);
					$("input[name='phone']").focus();
					return false;
				}

				if(!tel.test(phone)) {
					errorTip('手机号码格式有误，请输入正确的手机号码', 3);
					$("input[name='phone']").focus();
					return false;
				}

				if(!$.trim(qq).length > 0) {
					errorTip('联系人QQ不能为空', 3);
					$("input[name='qq']").focus();
					return false;
				}

				if(qq != "" && !num.test(qq)) {
					errorTip('请输入正确的qq号码', 3);
					$("input[name='qq']").focus();
					return false;
				}

				$(_this).attr('class', 'btn mrw btn-primary loading');
				$(_this).text("");

				$.post("/index.php/rz.html", $("#rzForm").serialize(), function(data) {
					if(data.state) {
						$('#ruzhu_in').hide();
						$('#ruzhu_ok').show();
						$(_this).attr('class', 'btn btn-primary submit-btn mrw');
					} else {
						errorTip(data.msg, 3);
						$(_this).attr('class', 'btn btn-primary submit-btn mrw');
						$(_this).text("提交");
						return false;
					}
				}, "json");
			});

			$('#confirm_btn').click(function() {
				$('#modal-ruzhu').removeClass("in");
				$('.modal-backdrop').remove();
				$('body').removeClass("modal-open");
				$('body').css('padding-right', '0');
			})
		});
	</script>
	<!-- 打开页面时弹出选择城市 -->
	<script>
		$(function() {
			var Selected = "";
			if(!Selected) {
				$("#selCity_btn").trigger("click");
			}

			var selBtn = $(".modal-selcity .sel li");
			selBtn.click(function() {
				selBtn.removeClass("on");
				$(this).addClass("on");
				var cityNum = parseInt($(this).find("a").attr("data-rel"));
				if(cityNum) {
					$.post("city", {
						cityNum: cityNum
					}, function(data) {
						if(data.state) {
							$("#modal-selCity").removeClass("in");
							$('.modal-backdrop').remove();
							$('body').removeClass("modal-open");
							$('body').css('padding-right', '0');
							window.location.href = "http://peixun.ui.cn" + "/index.html?city=" + cityNum + "&pro=&cap=&cy=";
							$("#clist li").eq(0).removeClass("on");
							$("#clist li").eq(1).addClass("on");
						} else {
							errorTip(data.msg, 3);
						}
					}, "json")
				}
			});

		});
	</script>
	<!-- footer -->
  {% module Template("uicn/footer-block.html") %}
  <!-- /end footer -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>
<div style="display:none">
<script src="http://s4.cnzz.com/stat.php?id=1256571225&web_id=1256571225" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?10e362da2e1d87e1e361bf4463fa64a7";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>
