
<!--y:92251.8--><!DOCTYPE HTML>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<meta property="qc:admins" content="1721742224651636" />
<meta property="wb:webmaster" content="69e23ac12c635da9" />
<meta name="baidu-site-verification" content="sSrE9nFHHr" />
<meta baidu-gxt-verify-token="0cedd8469f067b548e2e2a19a196c16e">
<meta name="360-site-verification" content="5dcd724ad92b8bba9adf192b493f6586" />
<title>培训-UI中国-专业界面交互设计平台</title>
<meta name="Keywords" content="莱茵教育,北京,莱茵教育 UI设计师精修班,免费试听,CEO讲师上课,终身工作推荐" />
<meta name="Description" content="莱茵教育,北京,适合大学毕业生、零基础学员。莱茵最完整全面的设计课程，3个月潜心学习，终身免费公开课，终身工作推荐，...。UI中国，前身为iconfans，是专业的UI设计师交流、学习与展示的平台。" />

<!-- CSS -->
<link rel="stylesheet" href="http://s4.ui.cn/fonts/iconfont.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/uicn.v1.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/header.v1.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/footer.v1.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/modal.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/post.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/min_page.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/nivo-slider.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/home.v1.css?v=1485393843">
<link rel="stylesheet" href="http://s4.ui.cn/css/all/edu.css?v=1485393843">
<link rel="stylesheet" type="text/css" href="/Public/css/icon.css"/>
<link rel="stylesheet" type="text/css" href="/Public/css/peixun.css?v=1485393843"/>

<!-- JS -->
<script src="http://s2.ui.cn/js/jquery.js?v=1485393843"></script>
<script src="http://s2.ui.cn/js/LazyLoad.js?v=1485393843"></script>
<script src="http://s2.ui.cn/js/msgTip.js?v=1485393843"></script>
<script src="http://s2.ui.cn/js/home/footer.v1.js?v=1485393843"></script>
<!-- <script src="/Public/js/jquery.portamento-min.js?v=1485393843"></script>
<script src="/Public/js/jquery.scrollTo.js?v=1485393843"></script> -->
<!-- <script src="/Public/js/jquery.nav.min.js?v=1485393843"></script> -->

<script src="http://s2.ui.cn/js/home/header.v1.js?v=1485393843"></script><!-- 导航 -->
<!--[if (gte IE 6)&(lte IE 8)]>
  <script src="http://s2.ui.cn/js/selectivizr-min.js?v=1485393843"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://s2.ui.cn/js/html5.js?v=1485393843"></script>
<![endif]-->
</head>

<body>
	<div id="ajax-hook"></div>
    <div class="bg-white" style="border-bottom: 2px solid #d8b424;">
	<div class="wpn cl bg-white">
			<!--<a class="icon-uimini logo-hd" href="http://www.ui.cn/" title="UI中国"></a>-->
			<!--春节-->
			<a class="logo-hd" style="position: relative;" href="http://www.ui.cn/" title="UI中国">
				<img style="width: 132px;height: 63px;position: absolute;pointer-events: none;top: 0;left: -44px;z-index: 10;" src="http://activity.ui.cn/Public/logo/logo2017.png"/>
			</a>
			<ul class="nav-hd cl">
				<li id="nav-index"><a href="http://www.ui.cn/">首页</a></li>
				<li >
						<a
						href="javascript:;" target="_blank">发现							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/list.html" target="_self">作品</a>
									</li><li>
								        <a href="http://www.ui.cn/exp.html" target="_self">文章</a>
									</li><li>
								        <a href="http://activity.ui.cn/game.html" target="_self">设计大赛</a>
									</li><li>
								        <a href="http://activity.ui.cn/offline.html" target="_blank">线下活动</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="javascript:;" target="_blank">学习							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/exp.html?scatid=11" target="_self">教程</a>
									</li><li>
								        <a href="http://topic.ui.cn/" target="_self">专题</a>
									</li><li>
								        <a href="http://read.ui.cn/book" target="_blank">书籍</a>
									</li><li>
								        <a href="http://activity.ui.cn/utalk.html" target="_self">UTalk</a>
									</li><li>
								        <a href="http://study.ui.cn/" target="_self">每周临摹</a>
									</li>								</ul>
							</div>					</li><li class="on">
						<a
						href="javascript:;" target="_blank">培训							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://peixun.ui.cn" target="_blank">线下培训</a>
									</li><li>
								        <a href="http://peixun.ui.cn/online" target="_blank">在线课程</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="http://zhaopin.ui.cn/" target="_blank">招聘																				</a>
											</li><li >
						<a
						href="http://jingsai.ui.cn/" target="_blank">竞赛														<em class="new-hd"></em>						</a>
											</li><li >
						<a
						href="javascript:;" target="_blank">更多							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://shop.ui.cn/" target="_blank">创意汇</a>
									</li><li>
								        <a href="http://talk.ui.cn/" target="_self">话题</a>
									</li><li>
								        <a href="http://idea.ui.cn/" target="_blank">灵感</a>
									</li><li>
								        <a href="http://tool.ui.cn/" target="_self">工具</a>
									</li><li>
								        <a href="http://mi.ui.cn/" target="_blank">主题学院</a>
									</li>								</ul>
							</div>					</li>			</ul>
			<div class="y cl">
				<div class="search-hd cl">
					<form action="http://s.ui.cn/index.html" method="get" id="searchForm">
						<div class="search-status">
							<div class="search-filter">
								<a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
								<ul class="options">
									<li><a href="javascript:;" data-rel="project">作品</a></li>
									<li><a href="javascript:;" data-rel="experience">文章</a></li>
									<li><a href="javascript:;" data-rel="source">源文件</a></li>
									<li><a href="javascript:;" data-rel="designer">设计师</a></li>
									<li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
									<li><a href="javascript:;" data-rel="talk">话题</a></li>
								</ul>
							</div>
							<div class="search-select">
								<input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value="" name="keywords" id="keywords"/>
								<ul class="options">
									<li><a href="javascript:;">icon</a></li><li><a href="javascript:;">春节</a></li><li><a href="javascript:;">app</a></li><li><a href="javascript:;">作品集</a></li><li><a href="javascript:;">AE</a></li>								</ul>
							</div>
						</div>
						<input type="hidden" name="type" value='project' id="sType"/>
						<a class="search-hd-btn" href="javascript:;"><i class="icon-search"></i></a>
					</form>
				</div>

					<ul class="quick-hd cl">
						<li class="quick-item">
							<a class="quick-toggle" href="javascript:;">
								<i class="icon-upload"></i>
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://upload.ui.cn/work.html"><i class="icon-up-pic"></i>上传作品</a></li>
								<li><a href="http://upload.ui.cn/exp.html"><i class="icon-up-experience"></i>上传经验</a></li>
							</ul>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle new" href="javascript:;">
																	<i class="icon-bell f22" style="color:#CED7DE"></i>															</a>
							<div id="quickTab" class="quick-menu quick-tab">
								<ul class="tab-bar cl">
									<li rel="letter">
										<a href="javascript:;">
											<i class="icon-envelope-thin"></i>
																					</a>
									</li>
									<li rel="comment">
										<a href="javascript:;">
										<i class="icon-comment"></i>
																				</a>
									</li>
									<li rel="collect">
										<a href="javascript:;">
											<i class="icon-star"></i>
																				</a>
									</li>
									<li rel="praise">
										<a href="javascript:;">
											<i class="icon-leaf-line"></i>
																					</a>
									</li>
									<li rel="fans">
										<a href="javascript:;">
											<i class="icon-fans"></i>
																					</a>
									</li>
									<li rel="system">
										<a href="javascript:;">
											<i class="icon-horn"></i>
																					</a>
									</li>
								</ul>

								<div class="tab-wrap">
									<!-- 1私信、2评论、3收藏、4赞、5粉丝、6通知 -->
									<ul class="tab-cont"><!-- 01私信 -->
										<li class="tab-info-none">没有私信类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 02评论 -->
										<li class="tab-info-none">没有评论类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 03收藏 -->
										<li class="tab-info-none">没有收藏类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 04点赞 -->
										<li class="tab-info-none">没有点赞类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 05粉丝 -->
										<li class="tab-info-none">没有粉丝类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 06通知 -->

										<li class="tab-info-none">没有通知类消息</li>

																			</ul>
								</div>
							</div>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle" href="http://i.ui.cn/ucenter/965670.html">
								<!--新春-->
								<img style="width: 53px;height: 53px;position: absolute;pointer-events: none;left: 4px;top: 4px;" src="http://activity.ui.cn/Public/logo/fu2017.png"/>
								<img class="avatar" src="http://imgavater.ui.cn/avatar/small.png" alt="">
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://i.ui.cn/ucenter/965670.html"><i class="icon-pic"></i>我的作品</a></li>
								<li><a href="http://i.ui.cn/ucenter/965670.html?act=fav"><i class="icon-star"></i>我的收藏</a></li>
								<li><a href="http://uier.ui.cn"><i class="icon-res"></i>我的简历</a></li>
								<li><a href="http://account.ui.cn/basicinfo.html"><i class="icon-info"></i>修改资料</a></li>
								<li><a href="/quit"><i class="icon-exit"></i>退出登录</a></li>
							</ul>
						</li><!-- quick-item -->
					</ul>			</div>
	</div><!-- wpn -->
</div><!-- 	bg-white -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='965670';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>

<link rel="stylesheet" type="text/css" href="/Public/css/peixun.css?v=1485393843"/>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XWQQz7LfmBChCFdHqsiLz4Oh"></script>
<div class="wpn ptbv ">
	<h1>莱茵教育 UI设计师精修班</h1>
	<div class="ptbv-float cl">
	<div class="edud-tleft cl">
		<div class="img-left z">
			<a class="cover pos" href="javascript:;">
				<img src="http://imgpeixun.ui.cn/data/px/2/0/0/1/1002.jpg" rel="nofollow" alt="莱茵教育 UI设计师精修班">
				<!-- <span class="ribbon"></span> -->
			</a>
				<!-- 			<span class="num"><i class="icon-py"></i>28</span> -->
									<center><div class="info-1"><strong>41</strong>人已报名</div></center>		</div>
		<div class="img-right z">
			<ul class="edu-li-tag">
			    <li class="blue">北京</li>
    	            <li class="green">全日制</li>
    				<li class="orange">15到60人</li>				<li>免费试听</li><li>CEO讲师上课</li><li>终身工作推荐</li>			</ul>
			<div class="edu-li-middle">
				<span><i class="icon-activity"></i>
					<a class="name pos-span" href="http://www.uidesign.cc/uidesign/" target="_blank" title="莱茵教育">莱茵教育</a>
        							</span>
				<span><i class="icon-eye"></i>4070</span>
			</div>
			<div class="location">
				<i class="icon-site"></i>北京市西城区新街口外大街28号DRC工业设计创意产业基地主楼5层			</div>
		</div>
	</div>
	<!-- edud-tleft -->
	<div class="edud-tright">
	    <p><strong>课程简介：</strong>适合大学毕业生、零基础学员。莱茵最完整全面的设计课程，3个月潜心学习，终身免费公开课，终身工作推荐，蜕变为最富有创意的设计师。2007-2014,历时7年精心打造,从500强企业内训到个人培</p>
	    		<ul class="edu-li-det">
			<li><i class="icon-qian"></i>UI中国会员充值20元再抵<strong>200</strong>元学费</span>
			</li>
		</ul>
        			<!--				<li>培训周期：<strong>3-6个月</strong></li>
				<li>培训性质：<strong>全日制</strong></li>
				<li>培训容量：<strong>15到60人</strong></li>
				<li>校区地址：<strong>北京市西城区新街口外大街28号DRC工业设计创意产业基地主楼5层</strong>
					<a class="mlw" href="javascript:;" title="查看地图" data-target="#modal-map">查看地图</a>
				</li>
				<li>UI中国报名专享福利：<span class="sale">充值20元再抵<strong>200</strong>元学费</span>
					<a class="icon-help mlm" href="javascript:;" data-target="#modal-payinfo"></a>
				</li>		</ul>-->
		<div class="btn-group cl">
								<a class=" btn-primary z" href="/payment/334.html" title="充值抵现"><i class="icon-qian"></i>充值抵现</a>														<a class=" btn-QQ z" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=325957484&site=qq&menu=yes"><i class="icon-qq-line" ></i>课程咨询</a>		</div>
	</div>
	<!-- edud-tright -->
</div>
</div>
<!-- wpn -->

<div class="bg-white">
	<div class="wpn">
		<div class="edu-view">

			<img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/2/8/1/182.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/3/8/1/183.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/4/8/1/184.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/5/8/1/185.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/6/8/1/186.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/7/8/1/187.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/8/8/1/188.png" src="/Public/img/1px.png"><img class="imgloadinglater" data-original="http://imgpeixun.ui.cn/data/px/9/8/1/189.png" src="/Public/img/1px.png">					</div>
	</div>
	<!-- wpn -->
</div>

	<div class="bg-gray3">
		<div class="wpn">
			<div class="edu-works">
				<h1 class="edu-tit">学员作品</h1>
				<ul class="post post-works cl" id="worklist"></ul>
				<div class="pbw" style="display: none;">
					<a class="h-list-more" href="javascript:;" title="更多推荐" id="more">更多推荐</a>
				</div>
			</div>
			<!-- edu-works -->
		</div>
		<!-- wpn -->
	</div>
	<!-- bg-gray3 -->
<!-- 打开弹框按钮  data-target="#modal-payinfo" -->
<div id="modal-payinfo" class="modal">
	<div class="modal-effect">
		<div class="modal-payinfo">
			<div class="hd">
				<span>充值抵现说明</span>
				<i class="icon-close"></i>
			</div>
			<div class="cont">
				<h5>什么是充值抵现？</h5>
				<p>充值抵现是UI中国推出的一项会员优惠专属服务，宗旨是给有培训需求的会员更多的优惠服务。</p>
				<h5>如何享受充值抵现优惠？</h5>
				<p>所有在UI中国注册的会员，均可享受充值抵现优惠。</p>
				<h5>充值抵现如何操作？</h5>
				<p>
					1. 会员通过UI中国的各种课程介绍详细了解课程详情；<br> 2. 会员可以直接线上咨询培训机构的招生老师（有条件实地考察最佳）；<br> 3. 会员详细了解培训机构给学员的优惠活动（各个培训机构的优惠活动不同）；<br> 4. 在决定好报名后，会员先在UI中国进行充值抵现，支付成功后，请妥善保存好反馈短信；<br> 5. 会员在现场报名时，出示充值抵现成功的短信并提供验证码，可在培训机构给予优惠的同时，享受再次减免相应现金的优惠。
				</p>
				<h5>充值抵现注意事项：</h5>
				<p>
					1. 只有UI中国注册会员才可享有充值抵现优惠服务；<br> 2. 充值抵现验证码的有效期为3个月，逾期作废，充值成功后请尽快报名；<br> 3. 充值成功短信请勿删除，如遇特殊情况请联系客服。<br> 客服QQ:1369535553
				</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- modal -->

<!-- /*地图*/ -->
<div id="modal-map" class="modal">
	<div class="modal-effect">
		<div class="modal-map">
			<div id="uiMap"></div>
			<i class="icon-close"></i>
		</div>
	</div>
</div>
<!-- /*地图*/ -->

<!--[if lt IE 9]>
		<script src="http://nts.ui.cn/js/global/html5.min.js"></script>
	<![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="http://nts.ui.cn/js/global/selectivizr.js"></script>
	<![endif]-->
<script src="http://nts.ui.cn/js/global/jquery-1.10.2.js"></script>
<script src="http://nts.ui.cn/js/home/modal.js"></script>
<script src="http://nts.ui.cn/js/home/post.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    		var _page = 1;
		var _cid = "334";
		getData(_page, _cid);
		$(document).on("click", "#more", function() {
			_page++;
			getData(_page, _cid);

		});

		$("#uiMap").css("with", "700px");
		$("#uiMap").css("height", "400px");
		var map = new BMap.Map("uiMap");
		var point = new BMap.Point(116.37891, 39.959889);
		map.centerAndZoom(point, 22);
		//向地图中添加缩放控件
		var ctrl_nav = new BMap.NavigationControl({
			anchor: BMAP_ANCHOR_TOP_LEFT,
			type: BMAP_NAVIGATION_CONTROL_LARGE
		});
		map.addControl(ctrl_nav);
		//向地图中添加缩略图控件
		var ctrl_ove = new BMap.OverviewMapControl({
			anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
			isOpen: 1
		});
		map.addControl(ctrl_ove);
		//向地图中添加比例尺控件
		var ctrl_sca = new BMap.ScaleControl({
			anchor: BMAP_ANCHOR_BOTTOM_LEFT
		});
		map.addControl(ctrl_sca);
		var marker = new BMap.Marker(point);
		map.addOverlay(marker);
		var label = new BMap.Label("莱茵教育", {
			offset: new BMap.Size(15, -5)
		});
		marker.setLabel(label);
	});

	function getData(_page, _cid) {
		$.post("/work.html", {
			page: _page,
			cid: _cid
		}, function(data) {
			if(data.state && data.data != "") {
				var strHtml = '';
				$.each(data.data, function(index, item) {
					strHtml += '<li><div class="shade"></div>';
					strHtml += '<div class="cover pos">';
					strHtml += '<a href="http://www.ui.cn/detail/' + item.id + '.html" title="' + item.name + '" target="_blank"><img width="280" height="210" src="' + item.coverimg + '" alt="" rel="nofollow"></a>';
					strHtml += '</div>';
					strHtml += '<div class="info">';
					strHtml += '<h4 class="title ellipsis">' + item.name + '</h4>';
					strHtml += '<div class="msg mtn cl">';
					strHtml += '<span class="classify">原创</span>';
					strHtml += '<span title="查看"><i class="icon-eye"></i><em>' + item.vienum + '</em></span>';
					strHtml += '<span title="评论"><i class="icon-comment"></i><em>' + item.commentnum + '</em></span>';
					strHtml += '<span title="点赞"><i class="icon-leaf"></i><em>' + item.likenum + '</em></span>';
					strHtml += '</div>';
					strHtml += '<p class="user cl"><a href="javascript:;"><img src="' + item.head + '"> <strong class="name">' + item.uname + '</strong></a></p>';
					strHtml += '</div>';
					strHtml += '<div class="line"></div>';
					strHtml += '</li>';
				});
				$("#worklist").append(strHtml);
				if(data.more) {
					$(".pbw").show();
				} else {
					$(".pbw").hide();
				}
			} else if(data.state && !data.more && _page != 1) {
				$("#more").hide();
				errorTip("没有更多作品了！");
			} else {
				var nullHtml = '<a class="works-nothing pbw" href="javascript:;">';
				nullHtml += '<img src="http://nts.ui.cn/img/home/plane.png" alt="">';
				nullHtml += '<span>学员们正在努力学习中</span>';
				nullHtml += '<strong>作品还在路上</strong>';
				nullHtml += '</a>';
				$('.edu-works').append(nullHtml);
			}
		}, "json");
	}
</script>
<script src="http://s2.ui.cn/js/LazyLoad.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//延时加载
		$('.imgloadinglater').lazyload({
			threshold: 60, //距离100像素触发
			effect: "fadeIn" //显示特效
		});
	})
</script>
<!--  -->
<div class="ft-wp">
    <div class="wpn cl">
        <div class="ft cl">
            <i class="icon-uimini"></i>
            <div class="ft-info">
                <ul class="ft-nav cl">
                    <li><a href="http://www.ui.cn/about.html#section-3" target="_blank">商务合作</a></li>
                    <li><a href="http://qa.ui.cn/" target="_blank">意见反馈</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-0" target="_blank">关于我们</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-3" target="_blank">联系我们</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-1" target="_blank">版权声明</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-2" target="_blank">隐私保护</a></li>
                </ul>
                <p class="copy">京ICP备14007358号-1 / 京公网安备11010802014104号 / Powered by &copy; 2008-2017 UI.CN</p>
                <div class="ft-share cl">
                    <a id="ft-wx" class="share iconfont pos" title="微信" href="#" target="_blank" rel="nofollow">
                      <i class="icon-weixin1"></i>
                      <div class="ft-wx-show"></div>
                    </a>

                    <a class="share iconfont pos" title="新浪微博" href="#" target="_blank" rel="nofollow">
                        <i class="icon-sina"></i>
                    </a>

                   <!--  <a class="anquan" rel="nofollow" key ="544db0a1efbfb029d492a013"  logo_size="83x30"  logo_type="business"  href="http://www.anquan.org" >
                        <script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
                    </a> -->
                </div>
            </div>
        </div><!-- ft -->
    </div><!-- wpn -->
</div><!-- ft-wp -->
<!--  -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>
<div style="display:none">
<script src="http://s4.cnzz.com/stat.php?id=1256571225&web_id=1256571225" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?10e362da2e1d87e1e361bf4463fa64a7";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>
