<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta property="qc:admins" content="1721742224651636" />
	<meta property="wb:webmaster" content="69e23ac12c635da9" />
	<meta name="baidu-site-verification" content="sSrE9nFHHr" />
	<meta name="baidu-site-verification" content="qefiIIa0Rx" />
	<meta baidu-gxt-verify-token="0cedd8469f067b548e2e2a19a196c16e">
	<meta name="360-site-verification" content="5dcd724ad92b8bba9adf192b493f6586" />
			<title>往期回顾-UI中国-专业界面交互设计平台</title>			<meta name="Keywords" content="每周临摹,第一百一十九期：AE制作液态音乐播放效果,第一百一十八期：喜欢无人机吗，来鼠绘一个吧！,第一百一十七期：快过年了，来一发2017春节图标练习,ui临摹,ui学习" />
		<meta name="Description" content="每周临摹列表页,weekly study list。UI中国,前身为 iconfans,是专业的 UI 设计师交流、学习与展示的平台。我们将打造中国最 专业的 UI设计交流平台,为UI设计师做最好的职业生涯一站式服务,提高 UI 设计乃至互联网设计的行业价值!" />
  <link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/uicn.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/widget.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/post.css') }}">

  <link rel="stylesheet" href="{{ static_url('uicn/css/home.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/modal.css') }}">

  <link rel="stylesheet" href="{{ static_url('uicn/css/study.css') }}">
  <link rel="stylesheet" href="{{ static_url('uicn/css/simditor.css') }}">

  <script src="{{ static_url('uicn/js/jquery.js') }}"></script>
  <script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
  <script src="{{ static_url('uicn/js/header.js') }}"></script>
  <script src="{{ static_url('uicn/js/post.js') }}"></script>
  <script src="{{ static_url('uicn/js/footer.js') }}"></script>
	<!--[if lt IE 9]>
		<script src="http://s1.ui.cn/js/html5.js?v=1484793609"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="http://s1.ui.cn/js/selectivizr.js?v=1484793609"></script>
	<![endif]-->

</head>
<body>
	<div id="ajax-hook"></div>
  <!-- top menu -->
  {% module Template("uicn/top-menu-block.html") %}
  <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>

	<div class="linmo-top">
		<div class="wpn linmo-top-wrap">
			<div class="linmo-top-left">
				<div class="linmo-top-p1">
					<i>每周临摹</i> | 轻松学习、玩转设计
				</div>
				<div class="linmo-top-p2">
					围绕入门教程、效果训练、设计方法，利用轻松的设计案例进行实操训练。
				</div>
				<div class="linmo-top-p3">
					结束后，临摹发起人会对当期临摹的作业进行选择性点评，强化记忆和常见问题解释。
				</div>

			</div>
			<a target="_blank" class="linmo-top-right" href="http://talk.ui.cn/detail/2170" >
				发起人申请
			</a>

		</div>
	</div>


	<!--  -->
	<!-- Array
(
    [0] => Array
        (
            [id] => 120
            [title] => 第一百一十九期：AE制作液态音乐播放效果
            [uid] => 351146
            [username] => 满楼
            [img] => linmo/1484791318-47975.jpeg
            [starttime] => 1484236800
            [endtime] => 1485273600
            [state] => 1
            [addtime] => 1483925870
            [sort] => 0
            [start] => 1
            [pic_img] => http://img.ui.cn/linmo/1484791318-47975.jpeg
            [viewnum] => 6694
            [dianping] =>
            [tgtotal] => 1
            [total] => 14
            [time] => 2017-01-19
        )

    [1] => Array
        (
            [id] => 119
            [title] => 第一百一十八期：喜欢无人机吗，来鼠绘一个吧！
            [uid] => 951866
            [username] => 博文
            [img] => linmo/1484099731-67149.jpeg
            [starttime] => 1483977600
            [endtime] => 1485187200
            [state] => 1
            [addtime] => 1483668766
            [sort] => 0
            [start] => 1
            [pic_img] => http://img.ui.cn/linmo/1484099731-67149.jpeg
            [viewnum] => 8344
            [dianping] =>
            [tgtotal] => 1
            [total] => 15
            [time] => 2017-01-18
        )

    [2] => Array
        (
            [id] => 118
            [title] => 第一百一十七期：快过年了，来一发2017春节图标练习
            [uid] => 195275
            [username] => 叶子学堂
            [img] => linmo/d6f96686bafcad7a6dccdd6195486c48.jpeg
            [starttime] => 1483372800
            [endtime] => 1483977600
            [state] => 1
            [addtime] => 1482992437
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/d6f96686bafcad7a6dccdd6195486c48.jpeg
            [viewnum] => 10678
            [dianping] =>
            [tgtotal] => 2
            [total] => 50
            [time] => 2017-01-13
        )

    [3] => Array
        (
            [id] => 117
            [title] => 第一百一十六期：快上车！教你搞定四种MG转场效果
            [uid] => 118500
            [username] => 龙子潇
            [img] => linmo/4f9e690299cb64c557723aa7678a4ea4.jpeg
            [starttime] => 1483027200
            [endtime] => 1484236800
            [state] => 1
            [addtime] => 1482734602
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/4f9e690299cb64c557723aa7678a4ea4.jpeg
            [viewnum] => 6736
            [dianping] => http://www.ui.cn/detail/203915.html
            [tgtotal] => 2
            [total] => 14
            [time] => 2017-01-13
        )

    [4] => Array
        (
            [id] => 116
            [title] => 第一百一十五期：AI-新年到，一起请财神咯！
            [uid] => 263701
            [username] => 势合厚学
            [img] => linmo/5e51f2f93f06af4713b632497885dbb4.png
            [starttime] => 1482768000
            [endtime] => 1483372800
            [state] => 1
            [addtime] => 1482731284
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/5e51f2f93f06af4713b632497885dbb4.png
            [viewnum] => 5602
            [dianping] =>
            [tgtotal] => 12
            [total] => 85
            [time] => 2017-01-11
        )

    [5] => Array
        (
            [id] => 115
            [title] => 第一百一十四期：用AI绘制可爱的外卖APP闪屏插画
            [uid] => 947180
            [username] => 趣达学院
            [img] => linmo/d2b8e5fd5a1180195541fd06518e4cc0.jpeg
            [starttime] => 1482422400
            [endtime] => 1483027200
            [state] => 1
            [addtime] => 1481534638
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/d2b8e5fd5a1180195541fd06518e4cc0.jpeg
            [viewnum] => 7256
            [dianping] => http://www.ui.cn/detail/198079.html
            [tgtotal] => 4
            [total] => 41
            [time] => 2017-01-15
        )

    [6] => Array
        (
            [id] => 114
            [title] => 第一百一十三期：如何画一只酥松的布朗
            [uid] => 894677
            [username] => UEgood课堂
            [img] => linmo/e70fe40b1a0e23bf155607a499c1057a.png
            [starttime] => 1482163200
            [endtime] => 1482768000
            [state] => 1
            [addtime] => 1481534133
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/e70fe40b1a0e23bf155607a499c1057a.png
            [viewnum] => 13021
            [dianping] => http://www.ui.cn/detail/201038.html
            [tgtotal] => 11
            [total] => 140
            [time] => 2017-01-04
        )

    [7] => Array
        (
            [id] => 113
            [title] => 第一百一十二期：[AE教程]制作粘稠的滑动删除动效
            [uid] => 266148
            [username] => Zustin
            [img] => linmo/4159ff3ac200579e0bffbabf62681f35.png
            [starttime] => 1481817600
            [endtime] => 1482422400
            [state] => 1
            [addtime] => 1481516775
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/4159ff3ac200579e0bffbabf62681f35.png
            [viewnum] => 8297
            [dianping] =>
            [tgtotal] => 2
            [total] => 18
            [time] => 2016-12-30
        )

    [8] => Array
        (
            [id] => 112
            [title] => 第一百一十一期：黄金比例火箭图形设计教程
            [uid] => 937884
            [username] => 裤兜小兜
            [img] => linmo/64cc6673a9dbe060b4933509cbe33736.jpeg
            [starttime] => 1481558400
            [endtime] => 1481817600
            [state] => 1
            [addtime] => 1481189966
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/64cc6673a9dbe060b4933509cbe33736.jpeg
            [viewnum] => 7214
            [dianping] =>
            [tgtotal] => 1
            [total] => 7
            [time] => 2016-12-21
        )

    [9] => Array
        (
            [id] => 111
            [title] => 第一百一十期每周临摹：教你画一个萌萌的小商店
            [uid] => 103072
            [username] => rwds
            [img] => linmo/d7dc332fc4bd7fab612ec8dde3e8e906.jpeg
            [starttime] => 1481212800
            [endtime] => 1481817600
            [state] => 1
            [addtime] => 1481189394
            [sort] => 0
            [start] => 2
            [pic_img] => http://img.ui.cn/linmo/d7dc332fc4bd7fab612ec8dde3e8e906.jpeg
            [viewnum] => 13030
            [dianping] =>
            [tgtotal] => 13
            [total] => 83
            [time] => 2017-01-03
        )

)
 -->
	<div class="wpn cl">
		<ul class="review-list cl">

					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/120.html" title="第一百一十九期：AE制作液态音乐播放效果" target="_blank">
								第一百一十九期：AE制作液态音乐播放效果								</a>
							</h2>
							<time>最新上传时间：2017-01-19</time>						</div>
						<a class="cover" href="/detail/120.html" title="第一百一十九期：AE制作液态音乐播放效果" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/1484791318-47975.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：满楼</strong>
							<span class="data">浏览数<em>6694</em> / 全部作品<em>14</em> / 挑战作品<em>1</em></span>
						</div>
						<div class="btn-group">
															<a class="btn btn-primary" href="http://upload.ui.cn/active.html?act=linmo&tid=120" title="">学习中</a>
								<a class="btn btn-gold" href="/detail/120.html?t=2" title="">挑战原创</a>													</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/119.html" title="第一百一十八期：喜欢无人机吗，来鼠绘一个吧！" target="_blank">
								第一百一十八期：喜欢无人机吗，来鼠绘一个吧！								</a>
							</h2>
							<time>最新上传时间：2017-01-18</time>						</div>
						<a class="cover" href="/detail/119.html" title="第一百一十八期：喜欢无人机吗，来鼠绘一个吧！" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/1484099731-67149.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：博文</strong>
							<span class="data">浏览数<em>8344</em> / 全部作品<em>15</em> / 挑战作品<em>1</em></span>
						</div>
						<div class="btn-group">
															<a class="btn btn-primary" href="http://upload.ui.cn/active.html?act=linmo&tid=119" title="">学习中</a>
								<a class="btn btn-gold" href="/detail/119.html?t=2" title="">挑战原创</a>													</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/118.html" title="第一百一十七期：快过年了，来一发2017春节图标练习" target="_blank">
								第一百一十七期：快过年了，来一发2017春节图标练习								</a>
							</h2>
							<time>最新上传时间：2017-01-13</time>						</div>
						<a class="cover" href="/detail/118.html" title="第一百一十七期：快过年了，来一发2017春节图标练习" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/d6f96686bafcad7a6dccdd6195486c48.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：叶子学堂</strong>
							<span class="data">浏览数<em>10678</em> / 全部作品<em>50</em> / 挑战作品<em>2</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/118.html?t=2" title="">挑战原创</a>
																				</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/117.html" title="第一百一十六期：快上车！教你搞定四种MG转场效果" target="_blank">
								第一百一十六期：快上车！教你搞定四种MG转场效果								</a>
							</h2>
							<time>最新上传时间：2017-01-13</time>						</div>
						<a class="cover" href="/detail/117.html" title="第一百一十六期：快上车！教你搞定四种MG转场效果" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/4f9e690299cb64c557723aa7678a4ea4.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：龙子潇</strong>
							<span class="data">浏览数<em>6736</em> / 全部作品<em>14</em> / 挑战作品<em>2</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/117.html?t=2" title="">挑战原创</a>
														<a class="btn btn-green2" href="http://www.ui.cn/detail/203915.html" title="本期点评">本期点评</a>						</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/116.html" title="第一百一十五期：AI-新年到，一起请财神咯！" target="_blank">
								第一百一十五期：AI-新年到，一起请财神咯！								</a>
							</h2>
							<time>最新上传时间：2017-01-11</time>						</div>
						<a class="cover" href="/detail/116.html" title="第一百一十五期：AI-新年到，一起请财神咯！" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/5e51f2f93f06af4713b632497885dbb4.png" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：势合厚学</strong>
							<span class="data">浏览数<em>5602</em> / 全部作品<em>85</em> / 挑战作品<em>12</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/116.html?t=2" title="">挑战原创</a>
																				</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/115.html" title="第一百一十四期：用AI绘制可爱的外卖APP闪屏插画" target="_blank">
								第一百一十四期：用AI绘制可爱的外卖APP闪屏插画								</a>
							</h2>
							<time>最新上传时间：2017-01-15</time>						</div>
						<a class="cover" href="/detail/115.html" title="第一百一十四期：用AI绘制可爱的外卖APP闪屏插画" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/d2b8e5fd5a1180195541fd06518e4cc0.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：趣达学院</strong>
							<span class="data">浏览数<em>7256</em> / 全部作品<em>41</em> / 挑战作品<em>4</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/115.html?t=2" title="">挑战原创</a>
														<a class="btn btn-green2" href="http://www.ui.cn/detail/198079.html" title="本期点评">本期点评</a>						</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/114.html" title="第一百一十三期：如何画一只酥松的布朗" target="_blank">
								第一百一十三期：如何画一只酥松的布朗								</a>
							</h2>
							<time>最新上传时间：2017-01-04</time>						</div>
						<a class="cover" href="/detail/114.html" title="第一百一十三期：如何画一只酥松的布朗" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/e70fe40b1a0e23bf155607a499c1057a.png" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：UEgood课堂</strong>
							<span class="data">浏览数<em>13021</em> / 全部作品<em>140</em> / 挑战作品<em>11</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/114.html?t=2" title="">挑战原创</a>
														<a class="btn btn-green2" href="http://www.ui.cn/detail/201038.html" title="本期点评">本期点评</a>						</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/113.html" title="第一百一十二期：[AE教程]制作粘稠的滑动删除动效" target="_blank">
								第一百一十二期：[AE教程]制作粘稠的滑动删除动效								</a>
							</h2>
							<time>最新上传时间：2016-12-30</time>						</div>
						<a class="cover" href="/detail/113.html" title="第一百一十二期：[AE教程]制作粘稠的滑动删除动效" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/4159ff3ac200579e0bffbabf62681f35.png" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：Zustin</strong>
							<span class="data">浏览数<em>8297</em> / 全部作品<em>18</em> / 挑战作品<em>2</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/113.html?t=2" title="">挑战原创</a>
																				</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/112.html" title="第一百一十一期：黄金比例火箭图形设计教程" target="_blank">
								第一百一十一期：黄金比例火箭图形设计教程								</a>
							</h2>
							<time>最新上传时间：2016-12-21</time>						</div>
						<a class="cover" href="/detail/112.html" title="第一百一十一期：黄金比例火箭图形设计教程" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/64cc6673a9dbe060b4933509cbe33736.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：裤兜小兜</strong>
							<span class="data">浏览数<em>7214</em> / 全部作品<em>7</em> / 挑战作品<em>1</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/112.html?t=2" title="">挑战原创</a>
																				</div>
					</li>
					<li class="review-item">
						<div class="title cl">
							<h2 class="ellipsis">
								<a href="/detail/111.html" title="第一百一十期每周临摹：教你画一个萌萌的小商店" target="_blank">
								第一百一十期每周临摹：教你画一个萌萌的小商店								</a>
							</h2>
							<time>最新上传时间：2017-01-03</time>						</div>
						<a class="cover" href="/detail/111.html" title="第一百一十期每周临摹：教你画一个萌萌的小商店" target="_blank">
							<img width="560" height="180" src="http://img.ui.cn/linmo/d7dc332fc4bd7fab612ec8dde3e8e906.jpeg" alt="" rel="nofollow">
						</a>
						<div class="info cl">
							<strong class="author ellipsis">发起人：rwds</strong>
							<span class="data">浏览数<em>13030</em> / 全部作品<em>83</em> / 挑战作品<em>13</em></span>
						</div>
						<div class="btn-group">
							<a class="btn btn-primary on disabled" href="javascript:;" title="">已结束</a>
								<a class="btn btn-gold" href="/detail/111.html?t=2" title="">挑战原创</a>
																				</div>
					</li>		</ul>

		<!--  -->
		<div class="min_page">
		    <ul class='cl'><li><a class='on' href='javascript:;'>1</a></li><li><a href='?p=2'>2</a></li><li><a href='?p=3'>3</a></li><li><a href='?p=4'>4</a></li><li><a href='?p=5'>5</a></li><li class='pt'><a href='javascript:;'>...</a></li><li><a href='?p=12'>12</a></li><li class='next'><a href='?p=2'><span></span><i class='icon-next'></i></a></li><li class="form_page"><form action="" method="get"><input class="page_input" type="text" name="p" /><input type="submit" style="display:none;" /></form></li></ul>		</div><!-- .min_page -->
		</div><!-- .wpn .cl -->

		<!-- footer -->
		{% module Template("uicn/footer-block.html") %}
		<!-- /end footer -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" target="_blank" href="http://qa.ui.cn/">反馈</a>
</div>
<div style="display:none;">
    <script src="http://s95.cnzz.com/stat.php?id=1255944528&web_id=1255944528" language="JavaScript"></script>
    <script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
</div>

</body>
</html>
