<div class="bg-white">
  <div class="wpn cl bg-white">
    <a class="icon-uimini logo-hd" href="#" title="UI中国"></a>
    <ul class="nav-hd cl">
      <li id="nav-index"><a href="http://localhost:8017">首页</a></li>
      <li>
        <a href="javascript:;" target="_blank">发现							<i class="icon-down"></i>													</a>
        <div class="subnav-hd cl">
          <ul class="subnav-ct-hd">
            <li>
              <a href="/uicn/list" target="_self">作品</a>
            </li>
            <li>
              <a href="/uicn/exp" target="_self">文章</a>
            </li>
            <li>
              <a href="/uicn/game" target="_self">设计大赛</a>
            </li>
            <li>
              <a href="/uicn/game" target="_blank">线下活动</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="javascript:;" target="_blank">学习							<i class="icon-down"></i>													</a>
        <div class="subnav-hd cl">
          <ul class="subnav-ct-hd">
            <li>
              <a href="/uicn/exp" target="_self">教程</a>
            </li>
            <li>
              <a href="/uicn/topic" target="_self">专题</a>
            </li>
            <li>
              <a href="/uicn/book" target="_blank">书籍</a>
            </li>
            <li>
              <a href="/uicn/game" target="_self">UTalk</a>
            </li>
            <li>
              <a href="/uicn/study" target="_self">每周临摹</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="javascript:;" target="_blank">培训							<i class="icon-down"></i>													</a>
        <div class="subnav-hd cl">
          <ul class="subnav-ct-hd">
            <li>
              <a href="/uicn/peixun" target="_blank">线下培训</a>
            </li>
            <li>
              <a href="/uicn/online" target="_blank">在线课程</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/uicn/zhaopin" target="_blank">招聘																				</a>
      </li>
      <!-- <li>
        <a href="#" target="_blank">竞赛														<em class="new-hd"></em>						</a>
      </li>
      <li>
        <a href="javascript:;" target="_blank">更多							<i class="icon-down"></i>													</a>
        <div class="subnav-hd cl">
          <ul class="subnav-ct-hd">
            <li>
              <a href="http://shop.ui.cn/" target="_blank">创意汇</a>
            </li>
            <li>
              <a href="http://talk.ui.cn/" target="_self">话题</a>
            </li>
            <li>
              <a href="http://idea.ui.cn/" target="_blank">灵感</a>
            </li>
            <li>
              <a href="http://tool.ui.cn/" target="_self">工具</a>
            </li>
            <li>
              <a href="http://mi.ui.cn/" target="_blank">主题学院</a>
            </li>
          </ul>
        </div>
      </li> -->
    </ul>
    <div class="y cl">
      <div class="search-hd cl">
        <form action="#" method="get" id="searchForm">
          <div class="search-status">
            <div class="search-filter">
              <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
              <ul class="options">
                <li><a href="javascript:;" data-rel="project">作品</a></li>
                <li><a href="javascript:;" data-rel="experience">文章</a></li>
                <li><a href="javascript:;" data-rel="source">源文件</a></li>
                <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                <li><a href="javascript:;" data-rel="talk">话题</a></li>
              </ul>
            </div>
            <div class="search-select">
              <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value="" name="keywords" id="keywords" />
              <ul class="options">
                <li><a href="javascript:;">icon</a></li>
                <li><a href="javascript:;">春节</a></li>
                <li><a href="javascript:;">app</a></li>
                <li><a href="javascript:;">作品集</a></li>
                <li><a href="javascript:;">AE</a></li>
              </ul>
            </div>
          </div>
          <input type="hidden" name="type" value='project' id="sType" />
          <a class="search-hd-btn" href="javascript:;"><i class="icon-search"></i></a>
        </form>
      </div>

      <!-- 已登录 -->
      <!-- <ul class="quick-hd cl">
          <li class="quick-item">
              <a class="quick-toggle" href="javascript:;">
                  <i class="icon-upload"></i>
              </a>
              <ul class="quick-menu quick-list">
                  <li><a href="http://upload.ui.cn/work.html"><i class="icon-up-pic"></i>上传作品</a></li>
                  <li><a href="http://upload.ui.cn/exp.html"><i class="icon-up-experience"></i>上传经验</a></li>
              </ul>
          </li>


          <li class="quick-item">
              <a class="quick-toggle new" href="javascript:;">
                  <i class="icon-bell f22" style="color:#CED7DE"></i> </a>
              <div id="quickTab" class="quick-menu quick-tab">
                  <ul class="tab-bar cl">
                      <li rel="letter">
                          <a href="javascript:;">
                              <i class="icon-envelope-thin"></i>
                          </a>
                      </li>
                      <li rel="comment">
                          <a href="javascript:;">
                              <i class="icon-comment"></i>
                          </a>
                      </li>
                      <li rel="collect">
                          <a href="javascript:;">
                              <i class="icon-star"></i>
                          </a>
                      </li>
                      <li rel="praise">
                          <a href="javascript:;">
                              <i class="icon-leaf-line"></i>
                          </a>
                      </li>
                      <li rel="fans">
                          <a href="javascript:;">
                              <i class="icon-fans"></i>
                          </a>
                      </li>
                      <li rel="system">
                          <a href="javascript:;">
                              <i class="icon-horn"></i>
                          </a>
                      </li>
                  </ul>

                  <div class="tab-wrap">

                      <ul class="tab-cont">

                          <li class="tab-info-none">没有私信类消息</li>

                      </ul>
                      <ul class="tab-cont">

                          <li class="tab-info-none">没有评论类消息</li>

                      </ul>
                      <ul class="tab-cont">

                          <li class="tab-info-none">没有收藏类消息</li>

                      </ul>
                      <ul class="tab-cont">

                          <li class="tab-info-none">没有点赞类消息</li>

                      </ul>
                      <ul class="tab-cont">

                          <li class="tab-info-none">没有粉丝类消息</li>

                      </ul>
                      <ul class="tab-cont">


                          <li class="tab-info-none">没有通知类消息</li>

                      </ul>
                  </div>
              </div>
          </li>


          <li class="quick-item">
              <a class="quick-toggle" href="/uicn/self">

                  <img style="width: 53px;height: 53px;position: absolute;pointer-events: none;left: 4px;top: 4px;" src="http://activity.ui.cn/Public/logo/fu2017.png" />
                  <img class="avatar" src="http://imgavater.ui.cn/avatar/small.png" alt="">
              </a>
              <ul class="quick-menu quick-list">
                  <li><a href="http://i.ui.cn/ucenter/965670.html"><i class="icon-pic"></i>我的作品</a></li>
                  <li><a href="http://i.ui.cn/ucenter/965670.html?act=fav"><i class="icon-star"></i>我的收藏</a></li>
                  <li><a href="http://uier.ui.cn"><i class="icon-res"></i>我的简历</a></li>
                  <li><a href="http://account.ui.cn/basicinfo.html"><i class="icon-info"></i>修改资料</a></li>
                  <li><a href="/quit"><i class="icon-exit"></i>退出登录</a></li>
              </ul>
          </li>

      </ul> -->
      <!-- 已登录end -->

      <!-- 未登录 -->
      <div class="login-hd">
        <a href="/auth/login">
          <i class="icon-user"></i>登录</a>
      </div>
      <!-- 未登录end -->

    </div>
  </div>
  <!-- wpn -->
</div>
