<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>UI文章专题-UI中国-专业界面交互设计平台</title>
<meta property="wb:webmaster" content="69e23ac12c635da9" />
<meta name="Keywords" content="ui设计,界面设计,ui平台,学ui,ui教程,ui源文件,ui下载,ui问答,ui杂志,ui活动,ui软件,ui工具,ui灵感,ui经验" />
<meta name="Description" content="UI中国,前身为iconfans.com。是专业的界面设计师交流、学习/展示平台.同时也是UI设计师人才流动的集散地,会员均为一线UI设计师,覆盖主流互联网公司.我们希望借助互联网的力量打造国内最专业的UI设计平台,为UI设计师做最好的服务,提高UI设计行业价值!" />
<link rel="stylesheet" href="{{ static_url('uicn/css/iconfont.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/base.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/header.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/footer.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/min_page.css') }}">
<link rel="stylesheet" href="{{ static_url('uicn/css/topic.css') }}">
<!-- 统一库文件 -->
<script src="{{ static_url('uicn/js/jquery.js') }}"></script>
<script src="{{ static_url('uicn/js/slides.js') }}"></script>
<script src="{{ static_url('uicn/js/msgTip.js') }}"></script>
<script src="{{ static_url('uicn/js/header.js') }}"></script>
<script src="{{ static_url('uicn/js/footer.js') }}"></script>
</head>

<body>
	<div id="ajax-hook"></div>
  <!-- top menu -->
  {% module Template("uicn/top-menu-block.html") %}
  <!-- /top menu -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script><div class="exp-wp">
	<div class="exp-main topic-tit cl">
		<h1>文章专题</h1>
		<ul class="topic-subtit">
			<li><a href="/" class="active" >所有专题</a></li>
			<li><a href="/hot"  >热门专题</a></li>
			<li class="num">当前共有<span>30</span>个专题</li>
		</ul>
	</div>
</div>

<div class="exp-main cl">
	<div class="topic-box-wp cl">

		<div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=33" target="_blank">
						<img rel="nofollow" width="220" height="134" title="IFEC团队译文" src="http://img.ui.cn/topic/file/141891328910421fengmian.jpg" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="IFEC团队译文"><a href="/detail?tid=33" target="_blank">IFEC团队译文</a></h1>
						<p class="text">UI中国旗下翻译团队，由热爱翻译热爱分享的设计师组成。IFEC译者翻译国外行业热文、规范文档。欢迎关注我们的官方微博@ife....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>134</span>篇文章</p>
							<a href="/detail?tid=33" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_33"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="33"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=123116" target="_blank">设计的7条心理学原则和定律</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=120348" target="_blank">优秀设计主管必备的品质（下篇）</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=117997" target="_blank">优秀设计主管必备的品质（上篇）</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=109716" target="_blank">巧用色彩为卡片设计加分</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=37" target="_blank">
						<img rel="nofollow" width="220" height="134" title="配色专题" src="http://img.ui.cn/topic/file/142346743413990配色专题封面.png" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="配色专题"><a href="/detail?tid=37" target="_blank">配色专题</a></h1>
						<p class="text">我们生活在一个充满色彩的世界，色彩不仅能使我们周围的环境更加丰富多彩、妙趣横生，而且在潜移默化地影响着我们的情绪。可想而知配....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>43</span>篇文章</p>
							<a href="/detail?tid=37" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_37"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="37"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=122083" target="_blank">扁平插画配色宝典</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=109716" target="_blank">巧用色彩为卡片设计加分</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=109979" target="_blank">读书笔记：重命名你的色彩——紫色篇</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=101602" target="_blank">读书笔记：重命名你的色彩——蓝色篇</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=23" target="_blank">
						<img rel="nofollow" width="220" height="134" title="交互理论" src="http://img.ui.cn/topic/file/141683956850935图形3.jpg" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="交互理论"><a href="/detail?tid=23" target="_blank">交互理论</a></h1>
						<p class="text">交互设计=界面设计+行为设计，是“了解用户想要什么”的工具，有了这些了解，你就可以创造出更好且成功的数字产品，不旦能获得更多....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>67</span>篇文章</p>
							<a href="/detail?tid=23" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_23"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="23"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=8627" target="_blank">关于交互DEMO设计的一些建议</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=20328" target="_blank">体感交互的设计原则</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=20329" target="_blank">解读微交互</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=20836" target="_blank">如何成为更好的交互设计师</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=44" target="_blank">
						<img rel="nofollow" width="220" height="134" title="UI设计攻略" src="http://img.ui.cn/topic/file/1431516138189312.png" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="UI设计攻略"><a href="/detail?tid=44" target="_blank">UI设计攻略</a></h1>
						<p class="text">各种UI设计攻略，这里有最全的PS教程、AE教程、Sketch中文教程。还有更多独立专题教程，如PS设计教程专题、动效设计专....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>87</span>篇文章</p>
							<a href="/detail?tid=44" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_44"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="44"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=49684" target="_blank">「桂桂少年」PS合成一个酷炫美女制作教程</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=48121" target="_blank">「桂桂少年」制作一个充满春意的描边字效教程</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=46266" target="_blank">「桂桂少年」PS合成漂亮的丛林蝶仙子教程</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=44907" target="_blank">「桂桂少年」PS合成绚丽动感人物教程</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=20" target="_blank">
						<img rel="nofollow" width="220" height="134" title="动效设计专题" src="http://img.ui.cn/topic/file/141751456519468Final_2.gif" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="动效设计专题"><a href="/detail?tid=20" target="_blank">动效设计专题</a></h1>
						<p class="text">涵盖AE、QC、FramerJS使用教程，理解动画原理和制作者经验，提供精品源文件下载及优秀作品赏析。....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>117</span>篇文章</p>
							<a href="/detail?tid=20" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_20"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="20"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=104010" target="_blank">ae&amp;c4d纸片飘散——from TinyHouse</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=84471" target="_blank">AE教程——火焰loading的制作方法</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=78047" target="_blank">AE制作迸发的粒子loading教程</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=74575" target="_blank">Ae制作水波纹loading教程</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=48" target="_blank">
						<img rel="nofollow" width="220" height="134" title="H5合集专题" src="http://img.ui.cn/topic/file/146054643392294maxresdefault.png" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="H5合集专题"><a href="/detail?tid=48" target="_blank">H5合集专题</a></h1>
						<p class="text">随着html5的出现，基于HTML5开发的网页APP的需求越来越大。这里将平台优质的html5的学习教程都进行了整合，还不赶....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>16</span>篇文章</p>
							<a href="/detail?tid=48" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_48"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="48"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=93053" target="_blank">Repeat的西游剧</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=93838" target="_blank">2015年终总结－H5</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=91412" target="_blank">滑屏 H5 开发实践九问</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=90403" target="_blank">2015-2016国内数字广告H5广告年度汇总！</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=26" target="_blank">
						<img rel="nofollow" width="220" height="134" title="进阶必看专题" src="http://img.ui.cn/topic/file/141743770011515进阶设计师必读专题.png" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="进阶必看专题"><a href="/detail?tid=26" target="_blank">进阶必看专题</a></h1>
						<p class="text">看设计行业的小白是如何进阶到设计界的大牛的，专题涵盖23篇文章，带你进阶带你飞....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>25</span>篇文章</p>
							<a href="/detail?tid=26" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_26"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="26"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=19225" target="_blank">《U1》07 - 外包单报价公式</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=25445" target="_blank">《U1》08 - 细节提升设计的高大上</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=40226" target="_blank">《U1》09 - 简历和面试话术的秘密</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=12477" target="_blank">关于流程;UI产品设计的14个要点</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=43" target="_blank">
						<img rel="nofollow" width="220" height="134" title="PS设计教程专题" src="http://img.ui.cn/topic/file/143142284593192PS专题.jpg" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="PS设计教程专题"><a href="/detail?tid=43" target="_blank">PS设计教程专题</a></h1>
						<p class="text">手把手教你使用PS做设计，用最有效率的方法学习UI设计。....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>49</span>篇文章</p>
							<a href="/detail?tid=43" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_43"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="43"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=39608" target="_blank">PS常用快捷键大全</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=9977" target="_blank">PS使用小技巧</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=81477" target="_blank">【UI】常用PS插件合集安装及使用方法</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=41088" target="_blank">奇葩，不为人知的提高 PS 操作效率秘技 二</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=31" target="_blank">
						<img rel="nofollow" width="220" height="134" title="Logo设计专题" src="http://img.ui.cn/topic/file/141700902767193logo专题.png" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="Logo设计专题"><a href="/detail?tid=31" target="_blank">Logo设计专题</a></h1>
						<p class="text">好的Logo能够完美的代表企业风尚，差劲的Logo让形象大打折扣。Logo不但要保证品牌宣传的传达性，而且本身设计上也要保证....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>9</span>篇文章</p>
							<a href="/detail?tid=31" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_31"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="31"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=33222" target="_blank">LOGO设计思维方式和方法</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=33213" target="_blank">LOGO设计全面解析</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=33217" target="_blank">品牌LOGO设计的过程、要求及方法</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=33203" target="_blank">游戏LOGO应该长哪样？</a>
							</li>
					</ul>
			</div><div class="topic-box pos">
				<div class="topic-box-first cl">
					<a href="/detail?tid=12" target="_blank">
						<img rel="nofollow" width="220" height="134" title="字体设计" src="http://img.ui.cn/topic/file/1416792006984681416733176112007f56d721f8722c973fbce075cea9c15a9339a808867f-RIvi1a_fw658.jpg" />
											</a>
					<div class="topic-box-det pos">
						<h1 title="字体设计"><a href="/detail?tid=12" target="_blank">字体设计</a></h1>
						<p class="text">字体就是文字的外在形式特征，是文字的风格，是文字的外衣。 字体的艺术性体现在其完美的外在形式与丰富的内涵之中。 字体是文化的....</p>
						<div class="topic-box-num cl">
							<p class="z">共<span>51</span>篇文章</p>
							<a href="/detail?tid=12" target="_blank" class="into z" title="进入专题">进入专题<i class="iconfont icon-right"><!-- &#xe642; --></i></a>
							<!-- <p class="y" id="collect_12"><span>0</span>人收藏该专题</p> -->
						</div>
						<!-- 							<a class="fav" href="javascript:;" data="collect" rel="12"><i class="iconfont">&#xe666;</i>收藏</a> -->
					</div>
				</div>

				<ul class="topic-box-list">

						<li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=120241" target="_blank">衬线体和非衬线体、左对齐和两端对齐</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=27998" target="_blank">【第一季】回音第三期《字恋狂》及其余视频补全~</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=27799" target="_blank">Ps通过剪切蒙版快速打造粉笔字</a>
							</li><li>
								<i></i>
								<a href="http://www.ui.cn/project.php?id=26961" target="_blank">PS简单几步打造金属质感文字02</a>
							</li>
					</ul>
			</div>
	</div>
	<!-- 翻页 Start -->
	 <div class="min_page mtw">
			<ul class='cl'><li><a class='on' href='javascript:;'>1</a></li><li><a href='?p=2'>2</a></li><li><a href='?p=3'>3</a></li><li class='next'><a href='?p=2'><span></span><i class='icon-next'></i></a></li><li class="form_page"><form action="" method="get"><input class="page_input" type="text" name="p" /><input type="submit" style="display:none;" /></form></li></ul>	    </div>	<!-- 翻页 END -->
</div>

<!-- footer -->
{% module Template("uicn/footer-block.html") %}
<!-- /end footer -->

<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>

<div style="display:none;">
<script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
<script src="http://s95.cnzz.com/stat.php?id=1253615336&web_id=1253615336" language="JavaScript"></script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcda1b423ea76ae745279bc4eb4734644' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</body>
</html>
<script type="text/javascript" src="http://s2.ui.cn/js/topic.js?v=1484793525"></script>
