
<!DOCTYPE HTML>
<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <title>UI中国招聘-设计师垂直招聘平台-UI中国-专业界面交互设计平台</title>
        <meta name="Keywords" content="设计师,找工作,找设计师,招设计师,招聘网,人才网,招聘,求职,人才,猎头,交互设计师,UI设计师,网页设计师,平面设计师,设计经理,设计主管,设计助理,设计总监,UI中国招聘,UI中国,UI.CN" />
        <meta name="Description" content="UI中国招聘，设计师垂直招聘平台,UI中国旗下品牌。用心为设计师和企业服务,为设计师提供更多更好的工作机会，也为企业搭建了最真实、最垂直的设计师招聘平台，提供全面的各类设计师招聘服务及专业建议。" />
        <link rel="icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="http://s6.ui.cn/fonts/iconfont.css?v=20150505">
        <link rel="stylesheet" href="http://s6.ui.cn/css/base.css?v=20150505" />
        <link rel="stylesheet" href="http://s6.ui.cn/css/all/header.v1.css?v=20150505" />
        <link rel="stylesheet" href="http://s6.ui.cn/css/all/footer.v1.css?v=20150505">
        <link rel="stylesheet" href="/Public/css/jobinfo.css?v=20150505" />
        <link rel="stylesheet" href="/Public/css/jobtalent.css?v=20150505" />
        <link rel="stylesheet" href="/Public/css/jobuser.css?v=20150505" />

        <script src="http://s2.ui.cn/js/jquery.js?v=20150505"></script>
	<script src="http://s2.ui.cn/js/home/header.v1.js?v=20150505"></script>
        <script src="http://s2.ui.cn/js/home/footer.v1.js?v=20150505"></script>
        <script src="http://s2.ui.cn/js/msgTip.js?v=20150505"></script>
        <script src="http://s2.ui.cn/js/form.js?v=20150505"></script>
        <script src="/Public/js/LazyLoad.js?v=20150505"></script>
        <script src="/Public/js/pulic.js?v=20150505"></script>
        <script src="/Public/js/froala_editor.min.js?v=20150505"></script>
        <script src="/Public/js/lists.min.js?v=20150505"></script>

</head>
    <body class="body-gray">
    <div class="bg-white">
	<div class="wpn cl bg-white">
			<a class="icon-uimini logo-hd" href="http://www.ui.cn/" title="UI中国"></a>
			<ul class="nav-hd cl">
				<li id="nav-index"><a href="http://www.ui.cn/">首页</a></li>
				<li >
						<a
						href="javascript:;" target="_blank">发现							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/list.html" target="_self">作品</a>
									</li><li>
								        <a href="http://www.ui.cn/exp.html" target="_self">文章</a>
									</li><li>
								        <a href="http://activity.ui.cn/game.html" target="_self">设计大赛</a>
									</li><li>
								        <a href="http://activity.ui.cn/offline.html" target="_blank">线下活动</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="javascript:;" target="_blank">学习							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://www.ui.cn/exp.html?scatid=11" target="_self">教程</a>
									</li><li>
								        <a href="http://topic.ui.cn/" target="_self">专题</a>
									</li><li>
								        <a href="http://read.ui.cn/book" target="_blank">书籍</a>
									</li><li>
								        <a href="http://activity.ui.cn/utalk.html" target="_self">UTalk</a>
									</li><li>
								        <a href="http://study.ui.cn/" target="_self">每周临摹</a>
									</li>								</ul>
							</div>					</li><li >
						<a
						href="javascript:;" target="_blank">培训							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://peixun.ui.cn" target="_blank">线下培训</a>
									</li><li>
								        <a href="http://peixun.ui.cn/online" target="_blank">在线课程</a>
									</li>								</ul>
							</div>					</li><li class="on">
						<a
						href="http://zhaopin.ui.cn/" target="_blank">招聘																				</a>
											</li><li >
						<a
						href="http://jingsai.ui.cn/" target="_blank">竞赛														<em class="new-hd"></em>						</a>
											</li><li >
						<a
						href="javascript:;" target="_blank">更多							<i class="icon-down"></i>													</a>
						<div class="subnav-hd cl">
								<ul class="subnav-ct-hd">
								<li>
								        <a href="http://shop.ui.cn/" target="_blank">创意汇</a>
									</li><li>
								        <a href="http://talk.ui.cn/" target="_self">话题</a>
									</li><li>
								        <a href="http://idea.ui.cn/" target="_blank">灵感</a>
									</li><li>
								        <a href="http://tool.ui.cn/" target="_self">工具</a>
									</li><li>
								        <a href="http://mi.ui.cn/" target="_blank">主题学院</a>
									</li>								</ul>
							</div>					</li>			</ul>
			<div class="y cl">
				<div class="search-hd cl">
					<form action="http://s.ui.cn/index.html" method="get" id="searchForm">
						<div class="search-status">
							<div class="search-filter">
								<a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
								<ul class="options">
									<li><a href="javascript:;" data-rel="project">作品</a></li>
									<li><a href="javascript:;" data-rel="experience">文章</a></li>
									<li><a href="javascript:;" data-rel="source">源文件</a></li>
									<li><a href="javascript:;" data-rel="designer">设计师</a></li>
									<li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
									<li><a href="javascript:;" data-rel="talk">话题</a></li>
								</ul>
							</div>
							<div class="search-select">
								<input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value="" name="keywords" id="keywords"/>
								<ul class="options">
									<li><a href="javascript:;">icon</a></li><li><a href="javascript:;">春节</a></li><li><a href="javascript:;">app</a></li><li><a href="javascript:;">作品集</a></li><li><a href="javascript:;">AE</a></li>								</ul>
							</div>
						</div>
						<input type="hidden" name="type" value='project' id="sType"/>
						<a class="search-hd-btn" href="javascript:;"><i class="icon-search"></i></a>
					</form>
				</div>

					<ul class="quick-hd cl">
						<li class="quick-item">
							<a class="quick-toggle" href="javascript:;">
								<i class="icon-upload"></i>
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://upload.ui.cn/work.html"><i class="icon-up-pic"></i>上传作品</a></li>
								<li><a href="http://upload.ui.cn/exp.html"><i class="icon-up-experience"></i>上传经验</a></li>
							</ul>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle new" href="javascript:;">
																	<i class="icon-bell f22" style="color:#CED7DE"></i>															</a>
							<div id="quickTab" class="quick-menu quick-tab">
								<ul class="tab-bar cl">
									<li rel="letter">
										<a href="javascript:;">
											<i class="icon-envelope-thin"></i>
																					</a>
									</li>
									<li rel="comment">
										<a href="javascript:;">
										<i class="icon-comment"></i>
																				</a>
									</li>
									<li rel="collect">
										<a href="javascript:;">
											<i class="icon-star"></i>
																				</a>
									</li>
									<li rel="praise">
										<a href="javascript:;">
											<i class="icon-leaf-line"></i>
																					</a>
									</li>
									<li rel="fans">
										<a href="javascript:;">
											<i class="icon-fans"></i>
																					</a>
									</li>
									<li rel="system">
										<a href="javascript:;">
											<i class="icon-horn"></i>
																					</a>
									</li>
								</ul>

								<div class="tab-wrap">
									<!-- 1私信、2评论、3收藏、4赞、5粉丝、6通知 -->
									<ul class="tab-cont"><!-- 01私信 -->
										<li class="tab-info-none">没有私信类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 02评论 -->
										<li class="tab-info-none">没有评论类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 03收藏 -->
										<li class="tab-info-none">没有收藏类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 04点赞 -->
										<li class="tab-info-none">没有点赞类消息</li>

																			</ul>
									<ul class="tab-cont"><!-- 05粉丝 -->
										<li class="tab-info-none">没有粉丝类消息</li>

									</ul>
									<ul class="tab-cont"><!-- 06通知 -->

										<li class="tab-info-none">没有通知类消息</li>

																			</ul>
								</div>
							</div>
						</li><!-- quick-item -->

						<li class="quick-item">
							<a class="quick-toggle" href="http://i.ui.cn/ucenter/965670.html">
								<img class="avatar" src="http://imgavater.ui.cn/avatar/small.png" alt="">
							</a>
							<ul class="quick-menu quick-list">
								<li><a href="http://i.ui.cn/ucenter/965670.html"><i class="icon-pic"></i>我的作品</a></li>
								<li><a href="http://i.ui.cn/ucenter/965670.html?act=fav"><i class="icon-star"></i>我的收藏</a></li>
								<li><a href="http://uier.ui.cn"><i class="icon-res"></i>我的简历</a></li>
								<li><a href="http://account.ui.cn/basicinfo.html"><i class="icon-info"></i>修改资料</a></li>
								<li><a href="/quit"><i class="icon-exit"></i>退出登录</a></li>
							</ul>
						</li><!-- quick-item -->
					</ul>			</div>
	</div><!-- wpn -->
</div><!-- 	bg-white -->


<script>
	//动态默认显示
	var nav_loc='';
	//var navuid='965670';
	//以下兼容个人中心 立即激活
	  $(".jsemailverify").parent('div').parent('li').css("background","#fff7e7").find('a').addClass('f14').css('display','block');
</script>        <div id="ajax-hook"></div>
        <div class="job_info_title">
            <div class="wpn cl">
                <div class="job_info_title_left">
                    <ul>
                        <li>
                            <a href="/" target="_blank">找工作</a>
                        </li>
                        <!-- <li>
                            <a href="/talent.html" target="_blank">找人才</a>
                        </li> -->
                    </ul>
                </div>
                <div class="job_info_title_leftBor"></div>
                <ul class="z">
                    <!-- <li class="on">
                        <a href="/company.html">我的招聘</a>
                    </li>
                    <li>
                        <a href="/applica.html">应聘管理</a>
                    </li>
                    <li>
                        <a href="/mypackage.html">账户管理</a>
                    </li> -->
                </ul>
                <!-- <div class="y mtw">
                    <a id="PUSH_TOP" class="lang-btn" href="/increment.html">增值服务</a>
                </div> -->
            </div>
        </div>

        <!-- 导航 -->
        <div class="prev_view_main wpn cl">
        	<div class="jobinfo">
                <!-- 内容 -->
                <div class="cl">
                    <div class="jobinfo_upimg z">
                        <img width="300" height="170" id="topimg" src="http://7xkee9.dl1.z0.glb.clouddn.com/job/fm/2/2/3/1450152975.jpg"/>
                    </div>

                    <div class="jobinfo_con">
                        <div class="jobinfo_title">
                            <h1>饿了么</h1>
                            <p>饿了么和你一起拼！</p>
                            <!-- 招聘标签 -->
                            <div class="jobinfo_label_main">
                                <ul class="jobinfo_label cl">
                                    <li>交通便利</li><li>弹性工作</li><li>Aeron椅</li><li>标配MBP</li><li>团队气氛好</li>                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companyinfo cl">
                    <div class="dd">
                    	<strong>公司介绍</strong>
                        <p><p>&nbsp; &nbsp; &nbsp;“饿了么”是中国最大的餐饮O2O平台之一。公司创立于2009年4月。由张旭豪、康嘉等人在上海创立。</p><p>&nbsp; &nbsp; &nbsp; &nbsp;作为O2O平台，“饿了么”的自身定位是连接“跟吃有关的一切”。除了现有的餐饮配送业务，目前“饿了么”已经将触角延伸至商超配送等其他领域。</p><p>截止2015年10月，“饿了么”已进入超过300个城市，累计用户超过4000万，加盟餐厅近50万家，日交易额超过8000万，超过98%的交易额来自移动端。</p><p>&nbsp; &nbsp; &nbsp; 2015年8月，饿了么获6.3亿美元融资，本轮融资由中信产业基金、华联股份领投，华人文化产业基金、歌斐资产等新投资方以及腾讯、京东、红杉资本等原投资方跟投。&nbsp;</p><p>&nbsp; &nbsp; &nbsp;“饿了么”整合了线下餐饮品牌和线上网络资源，用户可以方便地通过手机、电脑搜索周边餐厅，在线订餐、享受美食。与此同时，“饿了么”向用户传达一种健康、年轻化的饮食习惯和生活方式。</p><p>&nbsp; &nbsp; &nbsp;“饿了么”隶属于拉扎斯网络科技（上海）有限公司，“拉扎斯”来源于梵文“Rajax”，寓意着“激情和能量”。公司始终将自己定位成一家创业型公司，充满激情，充满能量。公司秉承“极致”、“激情”、“创新”的信仰，致力于推进餐饮行业数字化的发展进程。</p><p><br></p></p>
                    </div>
                </div>

                <div class="prev_view Recruitment_info pos">
                	<div class="prev_title">共有 2 个在招职位</div>
                   <ul>
                        <li class="list-item" rel="544" id="544">
                        	<div class="prev_view_top" rel="544">
                                <strong class="t"><b>视觉设计师</b><!--  --></strong>
                                <span class="xz">月薪：<b>10-25K</b></span>
                            </div>
                            <div class="prev_view_list pos">
                                <span class="time">2017-01-04发布</span>
                                <div class="prev_label cl">
                                    <!--  -->
                                    <span>地点：上海市</span>
                                    <span>工作经验：3-5年</span>
                                    <span>学历：不限学历</span>
                                    <span>全职</span>
                                </div>
                                <div class="prev_text cl">
                                    <strong>职位描述</strong>
                                    <div class="prev_text_info">
                                        <p>工作职责：<br></p><p>1、负责宣传画、插图设计；&nbsp;</p><p>2、负责饿了么网站活动专题设计，手机端H5专题设计，APP闪屏设计；</p><p>3、负责新项目App的品牌定位，logo设计。</p><p><br></p><p>任职要求：</p><p>1、具备3年以上大型网站或广告公司设计经验；</p><p>2、具备优秀的手绘插画能力，能绘制设计闪屏、欢迎页等插图海报；</p><p>3、具备一定的动效制作能力，可设计表情包小动画、界面动效等；</p><p>3、对设计专注执着、充满激情、勇于创新，有强烈的责任心和领悟能力；</p><p>5、具备良好的沟通能力、团队协作能力；</p><p>6、大专以上学历，美术、设计、视觉传达等设计相关专业毕业优先；</p><p>7、请将近期作品或展示链接附在简历中。</p><p><br></p>                                    </div>
                                </div>
                                <div class="prev_text cl">
                                    <strong>工作地点</strong>
                                    <div class="prev_text_info">
                                        <p>金沙江路1518弄近铁城市广场4楼</p>
                                    </div>
                                </div>
                                <!---->
                                <i class="job_goTop icon-up"></i>
                            </div>
                           <button class="lang-btn send_out_this y delivery" rel="544">一键投递</button>
                                                        </li><li class="list-item" rel="540" id="540">
                        	<div class="prev_view_top" rel="540">
                                <strong class="t"><b>高级交互设计师</b><!--  --></strong>
                                <span class="xz">月薪：<b>15-25K</b></span>
                            </div>
                            <div class="prev_view_list pos">
                                <span class="time">2017-01-04发布</span>
                                <div class="prev_label cl">
                                    <!--  -->
                                    <span>地点：上海市</span>
                                    <span>工作经验：3-5年</span>
                                    <span>学历：本科学历</span>
                                    <span>全职</span>
                                </div>
                                <div class="prev_text cl">
                                    <strong>职位描述</strong>
                                    <div class="prev_text_info">
                                        <p>职位要求：</p><ul>  <p>    </p><p>逻辑思维能力强。对交互设计过程和原理有深入的了解，可独立完成整个产品原型设计；</p>    <p>    </p><p>对产品有整体规划和梳理产品信息架构的能力；</p>    <p>    </p><p>具备一定的视觉设计能力（因为产品的某些功能还需要你亲自视觉设计，因为你最懂产品）；</p>    <p>    </p><p>主动性高，具有良好的沟通与协调能力，较强的文字表达能力;</p>    <p>    </p><p>配合产品经理规划产品发展及创新；配合视觉设计师完成产品视觉设计；组织或参与用户访谈，配合用研人员进行可用性测试；</p>    <p>    </p><p>参与设计体验、设计流程和交互规范的制定；分享设计经验，培训团队成员，帮助团队成长；</p>  </ul><p>&nbsp;</p><p>任职要求：</p><ul>  <p>    </p><p>3年以上工作经验，除丰富的行业工作经验以外，还能承受高强度的工作压力；</p>    <p>    </p><p>工业设计、计算机、心理学、平面设计、广告设计等相关专业本科以上学历；</p>    <p>    </p><p>熟悉图像设计软件并熟练使用axure等交互设计软件;</p>    <p>    </p><p>富于创新、思维活跃、拥有分享的精神；</p>  </ul>                                    </div>
                                </div>
                                <div class="prev_text cl">
                                    <strong>工作地点</strong>
                                    <div class="prev_text_info">
                                        <p>上海市金沙江路1518弄近铁城市广场4楼</p>
                                    </div>
                                </div>
                                <!---->
                                <i class="job_goTop icon-up"></i>
                            </div>
                           <button class="lang-btn send_out_this y delivery" rel="540">一键投递</button>
                                                        </li>                   </ul>
               </div>

                <!-- 公司环境 -->
                    <div class="Recruitment_info">
                        <h1>公司环境</h1>
                        <div class="job-Envir">
                            <!-- <img width="820" src="http://7xkee9.dl1.z0.glb.clouddn.com/job/environ/2/2/3/1450156468.jpg"/> -->
                            <img width="820" src="http://7xkee9.dl1.z0.glb.clouddn.com/job/environ/2/2/3/1450156468.jpg"/>
                        </div>
                    </div>

        	</div>

            <!-- right -->
            <div class="prev_viem_right">
            	<!-- 公司基本信息 -->
                <div class="compay_info_right">
                	<strong>公司基本信息</strong>
                    <p>
                    	<span>企业官网：<a target="_blank" href="http://ele.me">ele.me</a></span>
                        <span>所属领域：互联网</span>
                        <span>融资阶段：D轮以上</span>
                        <span>公司规模：1000以上</span>
                    	<span><i class="z">工作地点：</i><em>金沙江路1518弄近铁城市广场4楼</em></span>
                    </p>
                </div>
                <!-- 公司基本信息 end-->
                <div class="compay_info_right mtw">
                        	<strong>相似企业</strong>
                            <ul class="ls_list">
                                <li>
                                        <h3><a target="_blank" href="/prev/pid/288.html">连悦网络</a><em>上海</em></h3>
                                        <span>共有<em>3</em>个在招职位</span>
                                    </li>                            </ul>
                            <div class="ls_list_move">
                            	<a target="_blank" href="http://zhaopin.ui.cn/?p=1&area=52&loca=45054">更多相似公司</a>
                            </div>
                        </div>            </div>

        </div>

        <script type="text/javascript">
			//点击展开职位
			$(document).on('click','.prev_view li .prev_view_top',function(){
                var ob = $(this);
                    offid = ob.attr('rel');

				// $(this).parent().toggleClass('on');

                if ( $(this).parent().hasClass("on") ) {
                    $(this).parent().removeClass("on");

                } else {
                    $(this).parent().addClass("on");

                    $.ajax({
                            url :'/hotsoff',
                            type:"post",
                            dataType:"json",
                            data:{id:offid},
                            success: function(msg){

                            },

                            error: function(){

                            },
                            timeout:10000,
                        })
                }



			});
			//点击收起职位
			$(document).on('click','.job_goTop',function(){
				$(this).parents('li').removeClass('on');
			});
            $(document).on('click','.delivery',function(){
                    var _This = $(this);
                        offid = _This.attr('rel');

					_This.attr('disabled',true).addClass('loding2').html('');
                    $.ajax({
                        url :'http://uier.ui.cn/zjsc',
                        type:"get",
                        dataType:"jsonp",
                        jsonp: 'jsoncallback',
                        data:{off:offid},
                        success: function(msg){
                            console.log(msg);
                            if (msg.stats == 'ok') {
                                errorTip('投递成功',3);
                                _This.addClass("no_send").attr('disabled',true).removeClass('loding2').html('已投递');
                            } else {
                                errorTip(msg.msg.msg,3);
								_This.attr('disabled',false).removeClass('loding2').html('一键投递');
                            }
                        },

                        error: function(XMLHttpRequest, textStatus, errorThrown){
                            alert('网络异常：' + textStatus);
                            //alert(textStatus + errorThrown + XMLHttpRequest);
                            _This.attr('disabled',false).removeClass('loding2').html('一键投递');
                        },

                        timeout:60000,

                    })
                });

        </script>
        <!-- loding -->
<div class="loading_body"></div>
<!---footer---->
<div class="ft-wp">
    <div class="wpn cl">
        <div class="ft cl">
            <i class="icon-uimini"></i>
            <div class="ft-info">
                <ul class="ft-nav cl">
                    <li><a href="http://www.ui.cn/about.html#section-3" target="_blank">商务合作</a></li>
                    <li><a href="http://qa.ui.cn/" target="_blank">意见反馈</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-0" target="_blank">关于我们</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-3" target="_blank">联系我们</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-1" target="_blank">版权声明</a></li>
                    <li><a href="http://www.ui.cn/about.html#section-2" target="_blank">隐私保护</a></li>
                </ul>
                <p class="copy"><a href="http://www.miibeian.gov.cn/">京ICP备14007358号-1</a>
                 / 京公网安备11010802014104号 / Powered by  2008-2017 UI.CN</p>
                <div class="ft-share cl">
                    <a id="ft-wx" class="share iconfont pos" title="微信" href="javascript:;" target="_blank" rel="nofollow">
                        <i class="icon-weixin1"></i>
                        <div class="ft-wx-show"></div>
                    </a>

                    <a class="share iconfont pos" title="新浪微博" href="http://www.weibo.com/iconfans" target="_blank" rel="nofollow">
                        <i class="icon-sina"></i>
                    </a>
                    <a class="share iconfont pos" title="腾讯QQ" href="http://wpa.qq.com/msgrd?v=3&uin=1369535553&site=qq&menu=yes" target="_blank" rel="nofollow">
                        <i class="icon-qq"></i>
                    </a>

                    <!-- <a class="anquan" rel="nofollow" key ="544db0a1efbfb029d492a013"  logo_size="77x28"  logo_type="business"  href="http://www.anquan.org">
                        <script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
                    </a>

                    <span class="kexin" id="kx_verify"></span> -->
                    <script type="text/javascript">
                        // (function (){var _kxs = document.createElement('script');_kxs.id = 'kx_script';_kxs.async = true;_kxs.setAttribute('cid', 'kx_verify');_kxs.src = ('https:' == document.location.protocol ? 'https://ss.knet.cn' : 'http://rr.knet.cn')+'/static/js/icon3.js?sn=e14110511010655874a7k9000000&tp=icon3';_kxs.setAttribute('size', 2);var _kx = document.getElementById('kx_verify');_kx.parentNode.insertBefore(_kxs, _kx);})();
                    </script>
                </div>
            </div>
        </div><!-- ft -->
    </div><!-- wpn -->
</div>
<!---->
<div id="scrollUp" class="scrollup">
    <a class="arrows" title="返回顶部" href="javascript:;"></a>
    <a class="feedback" title="反馈" href="http://qa.ui.cn/">反馈</a>
</div>
<div class="hide">
    <script src="http://s4.cnzz.com/stat.php?id=1255380725&web_id=1255380725" language="JavaScript"></script>
<script src="http://s6.cnzz.com/stat.php?id=5726673&web_id=5726673" language="JavaScript"></script>
</div>
<!-- footer end -->
    </body>
</html>
