<link rel="icon" href="{{ static_url('icarus/favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ static_url('icarus/apple-touch-icon.png') }}"/>
<link rel="stylesheet" href="{{ static_url('icarus/css/style.css') }}">
<link rel="stylesheet" href="{{ static_url('icarus/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ static_url('icarus/css/monokai.css') }}">
<link rel="stylesheet" href="{{ static_url('icarus/fancybox/jquery.fancybox.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
