<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
          text-align: center;
      }

      section {
          width: 81%;
          margin: auto;
          text-align: left;
      }
  </style>
</head>

<body>
  <section id="editor">
      <div id='edit' style="margin-top: 30px;">
        <h1>RTL LTR Direction Buttons</h1>

        <p>Custom buttons for RTL and LTR to change direction for the current selection.</p>

        <img class="fr-fir" src="../../img/photo1.jpg" alt="Old Clock" width="300"/>

        <p>The rich text editor has full RTL support. Set the <a href="https://www.froala.com/wysiwyg-editor/v2.0/docs/options#direction" title="direction option" target="_blank">direction</a> option to rtl and writing in Arabic or Farsi will feel naturally.</p>

        <a href="http://froala.com" title="Aenean sed hendrerit" target="_blank">Aenean sed hendrerit</a> velit. Nullam eu mi dolor. Maecenas et erat risus. Nulla ac auctor diam, non aliquet ante. Fusce ullamcorper, ipsum id tempor lacinia, sem tellus malesuada libero, quis ornare sem massa in orci. Sed dictum dictum tristique. Proin eros turpis, ultricies eu sapien eget, ornare rutrum ipsum. Pellentesque eros nisl, ornare nec ipsum sed, aliquet sollicitudin erat. Nulla tincidunt porta <strong>vehicula.</strong><br/>

        <table style="width: 60%;">
          <tr>
            <td style="width: 25%;">testing rtl</td>
            <td style="width: 25%;">rtl</td>
            <td style="width: 25%;">testing rtl</td>
            <td style="width: 25%;">rtl</td>
          </tr>
          <tr>
            <td style="width: 25%;">testing rtl</td>
            <td style="width: 25%;">rtl</td>
            <td style="width: 25%;">testing rtl</td>
            <td style="width: 25%;">rtl</td>
          </tr>
        </table>
      </div>
  </section>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      var changeDirection = function (dir, align) {
        this.selection.save();
        var elements = this.selection.blocks();
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          if (element != this.$el.get(0)) {
           $(element)
             .css('direction', dir)
             .css('text-align', align);
          }
        }

        this.selection.restore();
      }

      $.FroalaEditor.DefineIcon('rightToLeft', {NAME: 'long-arrow-left'});
      $.FroalaEditor.RegisterCommand('rightToLeft', {
        title: 'RTL',
        focus: true,
        undo: true,
        refreshAfterCallback: true,
        callback: function () {
          changeDirection.apply(this, ['rtl', 'right']);
        }
      })

      $.FroalaEditor.DefineIcon('leftToRight', {NAME: 'long-arrow-right'});
      $.FroalaEditor.RegisterCommand('leftToRight', {
        title: 'LTR',
        focus: true,
        undo: true,
        refreshAfterCallback: true,
        callback: function () {
          changeDirection.apply(this, ['ltr', 'left']);
        }
      });

      $('#edit').froalaEditor({
        toolbarButtons: ['undo', 'redo' , 'bold', 'formatOL', 'formatUL', '|', 'rightToLeft', 'leftToRight']
      });
    });
  </script>
</body>
</html>
