<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
        margin: 0;
      }

      div#editor {
        width: 81%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: left;
      }

      .fr-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
  </style>
</head>

<body>
  <div id="editor">
    <h1>External Shared Inline Toolbar</h1>

    <p>This is a combination of inline and external shared toolbar. There are 2 editors initialized below.</p>

    <div id='edit' style="margin-top: 30px;">
      <img class="fr-fir fr-dii" src="../../img/photo1.jpg" alt="Old Clock" width="150"/>
      <h3>This is the first editor instance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis diam in odio iaculis blandit. Nunc eu mauris sit amet purus viverra gravida ut a dui.</p>
    </div>

    <div id="edit2" style="margin-top: 10px;">
      <img class="fr-fir fr-dii" src="../../img/photo1.jpg" alt="Old Clock" width="150"/>
      <h3>This is the second editor instance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis diam in odio iaculis blandit. Nunc eu mauris sit amet purus viverra gravida ut a dui.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit, #edit2').froalaEditor({
        toolbarInline: true,
        toolbarContainer: 'body',
        toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '|', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo']
      })
    });
  </script>
</body>
</html>
