<!DOCTYPE html>
<html>
<head>
  {% module Template("editor/_css.html") %}

  <style>
      body {
        text-align: center;
        margin: 0;
      }

      div#editor {
        width: 81%;
        margin: auto;
        text-align: left;
      }
  </style>
</head>

<body>
  <div id="editor">
    <div id='edit' style="margin-top: 30px;">
      <h1>Inline Toolbar without Selection</h1>

      <p>This is the inline example without selection for the Froala WYSIWYG HTML Editor. Enabling the <a href="https://www.froala.com/wysiwyg-editor/docs/options#toolbarVisibleWithoutSelection" title="toolbarVisibleWithoutSelection" target="_blank">toolbarVisibleWithoutSelection</a> option makes the inline WYSIWYG HTML editor to appear as soon as you click in the editable area and not only when you select text.</p>
    </div>
  </div>

  {% module Template("editor/_js.html") %}

  <script>
    $(function(){
      $('#edit').froalaEditor({
        toolbarInline: true,
        toolbarVisibleWithoutSelection: true,
        toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'],
        toolbarButtonsXS: null,
        toolbarButtonsSM: null,
        toolbarButtonsMD: null
      })
    });
  </script>
</body>
</html>
